.WidgetBox
    background-image: url(../img/drag-drop.png)
    background-position: 5px 10px
    background-repeat: no-repeat

.content.widget-disabled
    height: 305px
    color: white

.content.widget-disabled > div
    width: 100%
    text-align: center
    position: absolute
    lheight: 20px
    top: 190px
    left: 0