.main-footer .container {
  position: relative;
}
#chat-root {
  position: fixed;
  bottom: 0;
  z-index: 1;
}
#chat-root .col-md-3 {
  float: right !important;
}
#chat-root .col-md-3 .box {
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.4);
}
