.flot-chart-container,
.flot-chart
    box-sizing: border-box
    
.flot-chart
    padding: 19px
    
.flot-chart-container
    padding-right: 30px
    margin-left: -20px
    min-height: 241px
    
.pieLabel
    font-size: 13px
    color: #fff
    
.total
    position: absolute
    color: white
    text-align: center
    top: 191px - 12px
    left: 12px
    right: 130px
    margin: auto
    width: 87px
    
.total > div
    width: 100%
    position: relative
    top: 0
    left: -5px
    
.total small
    font-size: 10px
    display: block
    line-height: 1
    
.total span
    font-size: 30px
    display: block
    line-height: 1.3
    
.legend
    display: inline-block
    padding: 5px
    position: absolute
    top: 70px
    right: 25px
    //z-index: 10
    border-radius: 4px
    
.PieChart .legend
    top: 85px
    
.PieChart .flot-chart-container
    margin-top: 25px
    
.RadarChart .flot-chart-container
    margin-left: -10px
    
.RadarChart .flot-chart
    top: 17px
    margin: 0 auto
    
.RadarChart .legend.personal-form-legend
    top: 53px
    right: auto
    left: 10px 
    
.PieChart .flot-chart
    height: 266px - 25px !important

.legend td
    padding: 2px
    
.legend .legendColorBox > div
    border: 0 !important
    
.legend .legendColorBox > div > div
    border-radius: 5px
    
.legend .legendLabel
    color: #fff !important
    font-weight: bold !important
    
.WidgetBox.PieChart .flot-chart
    left: 5px
    
.pie-info
    color: white
    position: absolute
    top: 64px
    font-size: 13px
    left: 15px