.data-table-container
    margin-left: -20px
    font-size: 12px

.fixedDataTableLayout_main
    border: 0 !important
    color: #fff
    
.public_fixedDataTable_header
    background: rgba(0, 0, 0, 0.0) !important
    font-weight: normal

.public_fixedDataTableRow_main
    background: rgba(0, 0, 0, 0.0) !important
    border-color: rgba(0, 0, 0, 0.0) !important
    
.public_fixedDataTable_header, .public_fixedDataTable_hasBottomBorder
    border: 0 !important
    
.public_fixedDataTableCell_main
    border-color: rgba(0, 0, 0, 0.0) !important
    background: rgba(0, 0, 0, 0.0) !important
    //border-color: rgba(0, 0, 0, 0.1) !important
    border-left: 1px solid rgba(0, 0, 0, 0.1) !important
    
.fixedDataTableCellGroupLayout_cellGroupWrapper:nth-child(1) .public_fixedDataTableCell_main
    border-left: 0 !important

.fixedDataTableRowLayout_rowWrapper:nth-child(even) .public_fixedDataTableCell_main
    background: rgba(255, 255, 255, 0.3) !important
    
.fixedDataTableRowLayout_rowWrapper .public_fixedDataTable_header .public_fixedDataTableCell_main
    background: rgba(0, 0, 0, 0.1) !important
    
.public_fixedDataTableRow_fixedColumnsDivider
    border: 0 !important
    
.player-selection
    padding-bottom: 15px
    
.player-selection label
    color: white
    font-size: 15px
    padding-right: 15px
    position: relative
    top: 2px
    
.player-selection .dropdown-menu
    height: auto
    max-height: 350px
    overflow-x: hidden

//----------------------------------------------------------------------------------------

.stats-table
    border-collapse: collapse

.stats-table th
    padding-left: 10px
.stats-table th,
.stats-table td
    color: #fff
    height: 22px
    font-weight: normal
    padding-right: 10px

.stats-table > tbody > tr:nth-child(even) > th,
.stats-table > tbody > tr:nth-child(even) > td
    background: rgba(255, 255, 255, 0.3)

.individual-stats,
.individual-stats > tbody > tr > td > table
    width: 100%

.individual-stats > tbody > tr > td
    padding: 0

.count-col
    width: 80px

.name-col
    width: 240px

.individual-stats th
    width: 300px
    vertical-align: top
    padding-top: 2px

.individual-stats > tbody > tr > td
    border-bottom: 1px solid #fff

.scroll-container
    height: 250px
    overflow-y: scroll