body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color:#37424a;
}

img {
    max-width: 100%;
}

.container {
    padding:0;
}

*:focus {
    outline: none;
}


.nav-topbar {
  text-align:center;
  background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
color:white;
position: fixed;
    top: 0;
     padding: 18px 0 13px 0;
    height: 50px;
    width: 100%;
    z-index: 1000;
}

body.platform_iphone .nav-topbar  {
   padding: 35px 0 13px 0;
    height:67px;
}

.nav-topbar .navBtn {
 position: absolute;
    left: 0;
    top: 0;
    background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 18px no-repeat;
    width: 50px;
    height: 50px;
}

body.platform_iphone .nav-topbar .navBtn  {
 height: 67px;
     background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 37px no-repeat;
}

.ico {
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  position: relative;
  top: 0;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/theme/img/icon/plus.svg);
  width: 20px;
  height: 20px;
}

.ico-thumbsUp {
    background-image: url(/theme/img/icon/thumbsUp.svg);
    width: 18px;
    height: 20px;
}
.ico-thumbsUpGreen {
    background-image: url(/theme/img/icon/thumbsUpGreen.svg);
    width: 18px;
    height: 20px;
}
.ico-buble {
    background-image: url(/theme/img/icon/team-talk.svg);
     width: 24px;
    height: 25px;
}
.ico-export {
    background-image: url(/theme/img/icon/export-gray.svg);
     width: 20px;
    height: 26px;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.removeAlert {
    text-align: center;
    box-shadow: 0 0 5px #caced2;
    background: white;
    padding: 10px;
    position: absolute;
    width: 95%;
    z-index: 1000;
    animation: 0.2s ease-out 0s 1 slideInFromLeft;
}

.btn {
    height:40px;
    display:inline-block;
}

.btn-danger {
    color:#D73549;
}

.row {
    margin: 0;
    padding: 0;
}

.hwNaw  {
   width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: white;
}

.hwNaw .tab {
    font-size: 16px;
    text-align: center;
    height:50px;
    line-height:50px;
    border-bottom:1px solid #EBECEC;
    font-weight: normal;
}
.hwNaw .tab.active {
     border-bottom:1px solid #00b3be;
}

/*hw section*/
/*
.tabContentWrap {
   width: 100%;
    overflow: scroll;
    top: 50px;
    position: fixed;
    min-height: 100%;
}

.hwSection {
    position:absolute;
    display:block;
    width:100%;

    transition: left 300ms;
    min-height:100%;
    padding-bottom:80px;
}

.hwSection1 {
    left:0;

}


.hwSection2 {
    left:100%;

.hwSection1.active {
    display:block;
    left:0;

} 



.hwSection1.folded {
     left:-100%;

} 



.hwSection2.active {
    display:block;
    left:0;
} 


.hwSection2.folded {
   left:100%;
} 
*/


.hwSectionCnt  {
    min-height: 500px;
    max-height:100%;
    overflow:auto;
}

/*HwItem*/

.hwItem {
    background:white;
    box-shadow: 0 8px 10px #e8e8e8;
    padding:15px 10px;
        margin-bottom: 10px;
            position: relative;
}

.hwItemTop {
    overflow:hidden;
    height: 58px;
}

.hwItemTop .avatar {
    float:left;
    width:40px;
    height:40px;
    margin:0 3px;
}

.hwItemTop .cnt {
    float:left;
    max-width: 80%;
}
.hwItemTop .cnt img, .editCnt img{
    max-width:100%;
}

.hwItemTop h2 {
    margin:0;
    font-size:16px;
    color:#37424A;
    font-weight:normal;
}
.hwItemTop span.hwItemDate {
    margin:0;
    font-size:12px;
    color:#37424A;
    font-weight:300;
}

.hwItemBody {
    padding:10px 0;
    font-size:14px;
     font-weight:300;
}
.hwItemBody img {
    max-width: 100%;
}

.hwItemBottom {
    text-align: center;
    height: 40px;
    margin:5px 0;
    clear: both;
}

.hwItemBottom .btn {
    height: 40px;
   padding: 8px 0 8px 20px;
   /*line-height: 40px;*/
}
.hwItemBottom  .border-item {
    border-left:1px solid #E1E2E4;
   /* border-right:1px solid #E1E2E4;*/
}

.likesCountNumber {
    display: inline-block;
    padding: 3px 10px;
}

/*Invitation item*/
.activeCntteam .hwItemMatchInvitation {
 display:block;   
}
.activeCntpersonal .hwItemMatchInvitation {
 display:none;   
}

.hwSectionInvitations .hwSectionTeam {
    padding-top:150px;
}

.hwSectionInvitations2 .hwSectionTeam {
    padding-top:310px;
}

.hwItemMatchInvitation {
   position: fixed;
    width: 100%;
    top: 50px;
    background: white;
    z-index: 2000;
    margin-bottom:-130px;
}


.invItemBottom .btn-lft {
    border-right:1px solid #E1E2E4;
}

.invItemBottom   {
    margin-top:15px;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 0 0 0;
    float:left;
}

.confirm_btn {
    background: url(/theme/img/icon/check-wv.svg) 10px center no-repeat;
}
.decline_btn {
    background: url(/theme/img/icon/cross-wv.svg) 20px center no-repeat;
}
.close_btn {
    background: url(/theme/img/icon/cross-g-wv.svg) 20px center no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 5px;
}

/*Personal item*/
.removeItemBtn {
   width: 40px;
    height: 40px;
    background: url(/theme/img/icon/trash.svg) center center no-repeat;
    position: absolute;
    right: 5px;
    top: 10px;
}

/*POST EDIT*/
.editPostWindow {
    height:100%;
    text-align: center;
    background: white;
}

.editPostWindow .tool-panel {
    height:50px;
    line-height: 50px;
}

.platform_iphone .editPostWindow .tool-panel {
    padding-top:24px;
    height:74px;
}

.cancel-col, .save-col {
    color:#00B3BE
}

.editPostWindow textArea {
   width: 90%;
    height: 120px;
    border: 0;
    display: block;
    margin: auto;
    border: 1px solid #D1D3D5;
    
}

.save-and-publish {
  border-radius: 10px;
    width: 250px;
    height: 60px;
    background: #ff6d22;
    font-size: 16px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    border: 0;
    margin-left: -125px;
}

.custom_native_select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 1000;
}

.custom_native_select select {
   background: #00B3BE url("/theme/img/icon/arr-down-white.svg") no-repeat 90% 50%;
 color: white;
  border: 0;
  margin: 0;
   border-radius: 50px;
    color: white;
    padding: 6px 20px;
    display: inline-block;
  text-indent: 0.01px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
  line-height: 24px;
}



/*Hiding the select arrow for IE10*/
.custom_native_select::-ms-expand {
    display: none;
}

.custom_native_select::before,
.custom_native_select::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom_native_select::after { /*  Custom dropdown arrow */
  
}

.custom_native_select::before { /*  Custom dropdown arrow cover */
 width: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom_native_select::after {
 
}

.custom_native_select select[disabled] {
  color: rgba(0,0,0,.25);
}

.visibilityRow {
    margin:0 0 15px 0;
}

.visibilityRowLabel {
        line-height: 38px;
    height: 35px;
}

/*Comments*/
.commentsContainer {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    min-height:100%;
    background:rgba(55,66,74,0.15);
}

.commentsContainer .hwItem  {
    padding-top:80px;
}

.commentsHidden .commentsContainer {
    display:none;
}

.commentsVisible .commentsContainer {
    display:block;
}

.commentsVisible .hwItem {
    display:none;
}

.commentsVisible .commentsContainer .hwItem {
    display:block;
}

.comment_row {
    overflow: hidden;
    padding: 8px 0;
    font-size: 14px;
    color: #37424A;
    border-bottom: 1px solid #DDDFE2;
    background: white
}


.comment_row .avatar-wrap, .cnt {
    float:left;
}

.cnt img {
    width:100%;
}

.comment_row .avatar-wrap {
    /*width:25%;*/
    width:50px;
    text-align: center;
    
}
.comment_row .cnt {
    width:75%;
}

.comment_row .avatar {
    width:40px;
    height:40px;
    display:block;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}



.comment_row .comment_row strong {
    display: block;
}

.comment_row .cnt span, .cnt .created-date{
   font-size:12px; 
   display: block;
}

.comment_row .cnt .created-date {
    font-size:12px;
    color:#878E92;
    padding: 3px 0;
}

.commentForm {
    margin-top:20px;
   background: white;
   overflow: hidden;
    min-height:40px;
    position: relative;
}


.add-comment-input {
  width: 78%;
    margin: 2px 0;
    background: white;
    border: 0;
    /* height: 40px; */
    float: left;
    /* line-height: 40px; */
    line-height: 22px;
    min-height: 40px;
    padding-top: 8px;
}

.add-comment-input-tools {
    position:absolute;
    right:0;
    bottom:0;
   width: 48px;
}
.add-comment-submit {
   width: 48px;
    background: url(/theme/img/icon/arr-rgt-green.svg) center center no-repeat;
    border: 0;
    background-size: 40px 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.commentForm .avIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin: 5px;
    float: left;
}

.imgBtnWrap {
    width: 48px;
    height: 40px;
    float: left;
}

.imgBtnWrap input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.imgBtnWrap label {
    float:left;
       width: 40px;
    height: 40px;
    background: url(/theme/img/icon/image.png) center center no-repeat;
    background-size:24px 24px;
    
}

.commentsCountNumber {
     display: inline-block;
    padding: 3px 10px;
}


.tabWrap {
    padding-top:50px;
}

.hwItemBottomInfo {
    font-size:12px;
    color:#37424A;
    font-weight:100;
    line-height: 24px;
}
.hwItemBottomInfo .face {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 -6px 0 0;
    float: left;
    border:1px solid white;
}

.hwItemBottomInfo .commentsText {
    margin-left:15px;
}


.commentForm  .uploadResult {
    text-align: center;
    padding:10px;
}

.hwItemMenu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hwItemMenuTrigger {
    width: 50px;
    height: 50px;
    background:url(/theme/img/icon/more-black.svg) center center no-repeat;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.hwItemMenuCnt {
    position: absolute;
    top: 45px;
    right: 0;
    background: #EBECEC;
    width: 100%;
    padding: 10px;
    display:none;
}

.hwItemMenu a {
    display:block;
    width:100%;
    height:35px;
    line-height: 35px;
    color:black;
    text-align: right;
}

.hwItemMenu.active .hwItemMenuCnt {
   display:block;
}
.hwItemMenu.active .hwItemMenuTrigger {
    background:#EBECEC url(/theme/img/icon/more-black.svg) center center no-repeat
}

.hwItemMenu.active  {
    width: 250px;
    height: 100px;
   z-index: 999;
}

.loader {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.loader strong {
    font-size: 18px;
    color: #969696;
    display: block;
    padding: 5px 0;
}

/*Team invitations*/
.hwItemMatchInvitation.off1 {
    top:200px;
}


.rufus-alert-bg {
    width: 100%;
    background: #EBECED;
}

.rufus-alert {
   background: #EBECED;
    padding: 15px;
    position: relative;
    max-width: 420px;
    margin: auto;
     overflow: hidden;
     min-height: 100%;
}

.hwSectionInvitations  .rufus-alert {
    margin-top:150px;
}

.rufus-alert-buble {
    width:100%;
    height: 226px;
}


.rufus-alert-text {
    position:absolute;
    left:0;
    top:26px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}


.rufus-alert-text h1 {
   color: #00B3BE;
    font-size: 22px;
    font-weight: 700;
    padding-left: 120px;
    margin-bottom: 14px;
}
.rufus-alert-text strong {
  font-size: 18px;
       margin-left: 50px;
   
    display: block;
}
.rufus-alert-text p {
    padding-left: 70px;
}

.rufus-alert .rufus-alert-body {
    position: relative;
    left: 0;
    top: -80px;
    width: 65%;
}

.rufus-alert-missing-team .rufus-alert-text h1 {
max-width: 320px;
}
.rufus-alert-missing-team .rufus-alert-text strong {
    max-width: 160px;
    text-align: right;
     margin-left: 130px;
}
.rufus-alert-missing-team .rufus-alert-body {
   top: -100px;
       margin-bottom: -100px;
}

.cta-btn-missing-team {
    display: block;
    border-radius: 10px;
    width: 146px;
    height: 50px;
    background: #ff6d22;
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
    margin-top: 0;
    margin-left: 170px;
}




.rufus-alert-in-progress {
    
}

.rufus-alert-stats-team .custom_native_select {
        margin: 20px 0 0 130px;
}

.rufus-alert-stats-team .btn-group {
        margin: 20px 0 0 130px;
}

.marketing-agree {
      
    background: #00b3be; /* Old browsers */
    background: -moz-linear-gradient(left,  #00b3be 0%, #2889be 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #00b3be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #00b3be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    text-align: center;
    z-index: 2000;
    min-height: 520px;
    color:white;
    padding:20px 0;
}

.marketing-agree h4 {
    font-size: 25px;
    margin: 40px auto;
    font-weight:normal;
}

.marketing-agree .button-form {
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 0;
}

.agree-clear {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
    background: none;
    margin: 0 5px;
    display: inline-block;
    min-width: 130px;
    height: auto;
}

.agree-primary {
    background: #FF6D22;
    border: 1px solid #FF6D22;
}

.commentsSendLoader {
    background: white;
    padding: 10px;
    text-align: center;
    margin-top: -10px;
}

.emptyNews {
    text-align:center;
    font-size:14px;
    padding:10px;
}