<html>

<head>
    <title>Invoice #{$invoice_no}</title>
    <style>
    *{
        margin:0;
        padding:0;
        font-family:Arial;
        font-size:9pt;
        color:#000;
        line-height: 1.6em;
    }
    body
    {
        width:100%;
        font-family:Arial;
        font-size:9pt;
        margin:0;
        padding:0;
    }
    p
    {
        margin:0;
        padding:0;
    }
    .page
    {
        height:297mm;
        width:210mm;
        page-break-after:always;
    }
    table
    {
        border-spacing:0;
        border-collapse: collapse; 
            
    } 
    table td 
    {
        padding: 2mm;
    }
    table.heading
    {
        height:50mm;
    }
    h1.heading
    {
        font-size:14pt;
        color:#000;
        font-weight:normal;
    }
    h2.heading
    {
        font-size:9pt;
        color:#000;
        font-weight:normal;
    }
    </style>
</head>

<body>
    <table style="width: 100%">
        <tr>
            <td valign="top" colspan="2" style="font-size: 27pt; padding: 0 0 10mm 0;">Invoice #{$invoice_no}</td>
        </tr>
        <tr>
            <td valign="top" style="padding: 0;">
                <table>
                    <tr>
                        <td valign="top" style="padding: 0 0 4mm 0; line-height: 1.5em;">
                            Názov firmy Ulica 123<br>
                            Bratislava 82106 Slovakia<br>
                            Company reg. number: 12345678<br>
                            Tax reg. number: 1234567890<br>
                            VAT number: SK1234567890</td>
                    </tr>

                    <tr>
                        <td valign="top" style="padding: 0 0 4mm 0; line-height: 1.5em;">
                            Bank: Tatra Banka, a.s.<br>
                            Account number: 1234567890/1100<br>
                            IBAN: SK63 1100 0000 0012 3456 7890<br>
                            SWIFT: TATRSKBX</td>
                    </tr>

                    <tr>
                        <td valign="top" style="padding: 0 0 4mm 0; line-height: 1.5em;">
                            Invoice date: {$invoice_date}<br>
                            Delivery date: {$supply_date}<br>
                            Pay until: {$payment_due_date}</td>
                    </tr>
                </table>
            </td>
            <td valign="top" style="padding: 0 0 4mm 0; line-height: 1.5em;">
                <table style="width: 100%">
                    <tr>
                        <td valign="top" style="padding: 0.7cm; line-height: 1.5em; background: #eee">
                            <table style="background: #eee">
                                <tr>
                                    <td valign="top" style="padding: 0 0 4mm 0; line-height: 1.5em;">
                                        {if !empty($company_name)}<strong>{$company_name}</strong><br>{/if}
                                        {if !empty($full_name)}{$full_name}<br>{/if}
                                        {$street}<br>
                                        {$city} {$zip}<br>
                                        {$countryName}
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="padding: 0 0 0 0; line-height: 1.5em;">
                                        Company reg. number: {$ico}<br>
                                        Tax reg. number: {$dic}<br>
                                        VAT number: {$icdph}<br>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top" style="padding: 0.7cm; line-height: 1.5em;">
                            Variable symbol: {$vs}<br> Constant symbol: 0308
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table style="margin-top: 0.7cm; width: 100%; color: #888; font-weight: normal; font-size: 7.5pt">
        <tr style="border-bottom: 1px solid silver;">
            <th valign="top" style="text-align: left;border-bottom: 1px solid silver; padding: 0 0 2mm 0">Invoiced item</th>
            <th valign="top" style="text-align: left;border-bottom: 1px solid silver; padding: 0 0 2mm 0; text-align: center;">Quantity</th>
            <th valign="top" style="text-align: left;border-bottom: 1px solid silver; padding: 0 0 2mm 0; text-align: center;">Unit price</th>
            <th valign="top" style="text-align: left;border-bottom: 1px solid silver; padding: 0 0 2mm 0; text-align: center;">Tax</th>
            <th valign="top" style="text-align: left;border-bottom: 1px solid silver; padding: 0 0 2mm 0; text-align: right;">Amount</th>
        </tr>
        <tr>
            {var $price = is_null($price_year) ? $price_month : $price_year}
            {var $priceWithoutVAT = $price / (1 + ((float)$vat_percentage / 100))}
            {if is_null($price_custom)}
            <td valign="top" style="font-size: 9pt; text-align: left;border-bottom: 1px solid silver; padding: 2mm 0 2mm 0; color: #000;">Coachrufus package<br>{$package_name} ({if is_null($price_year)}1 Month{else}12 Months{/if}: {$startDate} - {$endDate})</td>
            {else}
            <td valign="top" style="font-size: 9pt; text-align: left;border-bottom: 1px solid silver; padding: 2mm 0 2mm 0; color: #000;">Coachrufus package upgrade<br>{$package_name} ({$startDate} - {$endDate})</td>
            {/if}
            <td valign="top" style="font-size: 9pt; text-align: left;border-bottom: 1px solid silver; padding: 2mm 0 2mm 0; color: #000; text-align: center;">1.00</td>
            <td valign="top" style="font-size: 9pt; text-align: left;border-bottom: 1px solid silver; padding: 2mm 0 2mm 0; color: #000; text-align: center;">{$price|toMoney} €</td>
            <td valign="top" style="font-size: 9pt; text-align: left;border-bottom: 1px solid silver; padding: 2mm 0 2mm 0; color: #000; text-align: center;">{$vat_percentage}% DPH ({$vat_percentage|toMoney}%)</td>
            <td valign="top" style="font-size: 9pt; text-align: left;border-bottom: 1px solid silver; padding: 2mm 0 2mm 0; color: #000; text-align: right;"><strong>{$price|toMoney} €</strong></td>
        </tr>
        <tr>
            <td valign="top" style="font-size: 11.5pt; text-align: left; padding: 4mm 0 3mm 0; color: #000;" colspan="3"></td>
            <td valign="top" style="font-size: 11.5pt; text-align: left; padding: 4mm 6mm 3mm 0; color: #000; text-align: right;">Sub-total</td>
            <td valign="top" style="font-size: 11.5pt; text-align: left; padding: 4mm 0 3mm 0; color: #000; text-align: right;">{$priceWithoutVAT|toMoney} €</td>
        </tr>
        <tr>
            <td valign="top" style="font-size: 11.5pt; text-align: left; padding: 0 0 3mm 0; color: #000;" colspan="3"></td>
            <td valign="top" style="font-size: 11.5pt; text-align: left; padding: 0 6mm 3mm 0; color: #000; text-align: right;">{$vat_percentage}% DPH ({$vat_percentage}%)</td>
            <td valign="top" style="font-size: 11.5pt; text-align: left; padding: 0 0 3mm 0; color: #000; text-align: right;">{$price - $priceWithoutVAT|toMoney}	€</td>
        </tr>
        <tr>
            <td valign="top" style="font-size: 11.5pt; text-align: left; padding: 0 0 3mm 0; color: #000;" colspan="3"></td>
            <td valign="top" style="font-size: 11.5pt; text-align: left; padding: 0 6mm 3mm 0; color: #000; text-align: right;">Total</td>
            <td valign="top" style="font-size: 11.5pt; text-align: left; padding: 0 0 3mm 0; color: #000; text-align: right;"><strong>{$price|toMoney} €</strong></td>
        </tr>
    </table>
    <htmlpagefooter name="footer">
        <div id="footer">
Spoločnosť zapísaná v Obchodnom registri Okresného súdu Bratislava II, Oddiel: Sro, Vložka číslo: 123456/R<br>
Ak máte pochybnosti o správnosti fakturovaných údajov, obráťte sa na nás emailom na podpora@coachrufus.sk.
        </div>
    </htmlpagefooter>
    <sethtmlpagefooter name="footer" value="on" />
</body>
</html>