<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{$root}/css/font/font.css">
        <script src="{$root}/dev/plugins/jQuery/jQuery-2.1.4.min.js"></script>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            #container { width: {$width}px; height: {$height}px; position: relative; }
            body { color: white; font: 200 46px 'Montserrat'; }
            #team1 { left: 122px; }
            #team2 { right: 122px; }
            .TeamScore, .Column
            {
                text-align: center;
                width: 316px;
                position: absolute;
            }
            .TeamScore {  top: 51px; }
            .Column { top: 359px; }
            #col1 { left: 122px; }
            #col2 { left: 0; right: 0; margin: auto; }
            #col3 { right: 122px; }
            strong { font-weight: 400; display: block; }
            .Column strong { font-weight: 700; }
            .TeamScore .score { font-size: 121px; }
            .TeamScore .teamName { font-size: 45px; }
            .Column .label { font-size: 40px; }
            .Column .name
            {
                font-size: 35px;
                margin-top: 0px;
            }
            .Column .teamName { font-size: 30px; }
            #state
            {
                width: 220px;
                height: 100px;
                line-height: 100px;
                font-size: 30px;
                font-weight: 700;
                text-transform: uppercase;
                position: absolute;
                left: 0;
                bottom: 7px;
                text-align: center;
            }
            #currentPlayer
            {
                text-align: center;
                width: 100%;
                height: 100px;
                line-height: 100px;
                position: absolute;
                right: 25px;
                bottom: 10px;
                text-align: center;
                font-size: 45px;
            }
            #currentPlayer strong
            {
                display: inline;
                font-weight: 700;
            }
            
            #bp {
                position:absolute;
                width:100%;
                text-align:center;
                left:0;
                top:280px;
                font-size:36px;
            }
        </style>
        <script src="{$root}/js/html2canvas.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="container">
                <div id="team1" class="TeamScore">
                    <strong class="score">{$data['firstLineGoals']}</strong>
                    <div class="teamName">{$data['firstLineName']}</div>
                </div>
                <div id="team2" class="TeamScore">
                    <strong class="score">{$data['secondLineGoals']}</strong>
                    <div class="teamName">{$data['secondLineName']}</div>
                </div>
                
                <div id="bp">
                    {$BEST_PLAYERS}
                </div>

                <div id="col1" class="Column">
                    <div class="label">{$STRIKER}</div>
                    {if isset($data['topPlayers']['striker'])}
                        <strong class="name">{$data['topPlayers']['striker']['first_name']|truncate:8} {$data['topPlayers']['striker']['score']}</strong>
                        <div class="teamName">{$data['topPlayers']['striker']['team']}</div>
                    {else}
                        <strong class="name">-</strong>
                    {/if}
                </div>
                <div id="col2" class="Column">
                    <div class="label">MoM</div>
                    {if isset($data['topPlayers']['mom'])}
                        <strong class="name">{$data['topPlayers']['mom']['first_name']|truncate:8} {$data['topPlayers']['mom']['score']}</strong>
                        <div class="teamName">{$data['topPlayers']['mom']['team']}</div>
                    {else}
                        <strong class="name">-</strong>
                    {/if}
                </div>
                <div id="col3" class="Column">
                    <div class="label">{$ASISTANCE}</div>
                    {if isset($data['topPlayers']['assist'])}
                        <strong class="name">{$data['topPlayers']['assist']['first_name']|truncate:8} {$data['topPlayers']['assist']['score']}</strong>
                        <div class="teamName">{$data['topPlayers']['assist']['team']}</div>
                    {else}
                        <strong class="name">-</strong>
                    {/if}
                </div>
                
                {if $isAttendant  }
                <div id="state">{$STATE}</div>
                <div id="currentPlayer"><strong>{$data['topPlayers']['currentPlayer']['first_name']}</strong> ({$data['topPlayers']['currentPlayer']['team']})&nbsp;&nbsp;{$data['topPlayers']['currentPlayer']['score']}</div>
                {/if}
            </div>
        </div>
        <script>
           
            var data = {$data};
            var root = {$root};
            var team_label = {$TEAM};
            var container = document.getElementById("container");
            var state = data.topPlayers.currentPlayer.state ? data.topPlayers.currentPlayer.state : 'draw';
            container.style.backgroundImage = "url('" + root + "/img/share/layouts/" + state + ".png')";
            $(function()
            {
                   
                    html2canvas(document.getElementById("container"), {
                    onrendered: function(canvas)
                    {
                        $.ajax(
                        {
                            url: root + '/widget/api/upload-event-image',
                            method: 'POST',
                            data: canvas.toDataURL("image/png"),
                            success: function(guid)
                            {
                                var player = data.topPlayers.currentPlayer;
                                var title = encodeURIComponent(player.player_name + ' (' + player.team + ') ' + player.score);
                                var note = encodeURIComponent(data.teamName + (data.sport ? (' / ' + data.sport) : '') + ' / ' + data.eventDate);
                                var backLink = data.referrer ? encodeURIComponent(data.referrer) : null;
                                var href = root + '/event/' + data.eventId + "/" + data.eventCurrentDate;
                                var img = root+'/img/share/events/'+guid+'.png';
                                 window.parent.$("#share-loader").hide();
                                parent.FB.ui({
                                    app_id: {$FB_APP_ID},
                                    method: 'feed',
                                    display: 'popup',
                                    link: href,
                                    hashtag: '#coachrufus',
                                    name: data.sport+' '+data.eventDate ,
                                    picture: img,
                                    caption: 'https://app.coachrufus.com',
                                    description: team_label+': '+ data.teamName
                                }, function(response){});
                                
                            }
                        });
                    },
                    width: {$width},
                    height: {$height}
                });
            });
        </script>
    </body>
</html>