
@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    src: url("font/montserrat/Montserrat-Regular.otf") format("opentype");
    }
    
    @font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url("font/montserrat/Montserrat-Bold.otf") format("opentype");
    }
    @font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    src: url("font/montserrat/Montserrat-Light.otf") format("opentype");
    }
    

html, body {
    height:100%;
    padding:0;
    margin:0;
    font-family: 'Montserrat',Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

body {
    background:black;
    background-size: cover;
}

#slider {
    width:100%;
    height:100%;
    position: relative;
    overflow: hidden;
}


.slide {
    display:none;
    height:100%;
    position: absolute;
    left:0;
    top:0px;
    width:100%;
    overflow: hidden;
    /*background: #00b3be;*/
 

    transition: left 1s;
    text-align: center;
    font-size:2.5em;


    &.slide_result {
       display: block;
    }

    &.fadeout {
       
    }

    h2 {
        /*font-size:2.5em;*/
        font-size: 10vh;
        color:white;
        text-align: left;
        padding-left: 5%;
        margin:40px 0 40px 0;
        text-transform: uppercase;
    }
}

.slide_skliga {
    background:url('./../img/image-background-rufus.jpg') top center no-repeat;
    background-size: cover;

    img {
        margin-top:5%;
    }
 }

 .slide_org {
     background: white;
    div {
        float:left;
        width:33%;
    }
     img {
        margin: 0 5%;
     }
     
 }

 .slide_partner {
     background: white;
     padding:4% 2%;
     width:96%;

     .divide {
         border-bottom: 1px solid black;
         margin:6% 1%;
         width: 98%;
     }

     h2 {
         color:black;
         font-weight:normal;
         font-size:27px;
         width:100%;
         text-align: center;
         padding:0;
         margin:0 auto;
         max-width: 400px;
         position:relative;
         top:20px;
         background: white;
     }

     .row {
         display: flex;
         align-items: center;
         justify-content: center;

         .col {
             margin:1% 0;

             img {
                 max-width: 95%;
             }
         }

         .col-4 {
             width:25%;
             text-align: center;
         }

         strong {
             font-size:27px;
             font-weight:normal;
         }
     }
 }

#game_status, #game_status_2 {
    margin-top:10%;
}


.slide_register {
    h2 {
        text-align: center;
        max-width: 1200px;
        margin:8% auto;
    }

    a {
        color: black;
        text-decoration: none;
        padding:2% 5%;
        background: white;
        height:250px;
        border-radius: 250px;
        font-size:100px;
        font-weight:bold;
    }
    
}

.slide_schedule {
    background:url('./../img/image-background-rufus.jpg') top center no-repeat;
}

.th-fake {
    background: #d0021b;
    font-size: 1.5vw;
    padding: 1vh 1vw;
    color: white;
    border-radius: 2vh;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: 1vh;
    max-width: 140px;
    margin: auto;
}


.table {
    color: white;
    border-collapse: collapse;
    border: 1px solid white;
    height: 100vh;

    td:nth-child(even) {
        text-align: center;
        padding: 0 4vw;
    }

    thead td {
        font-size: 6vh;
        padding: 4vh 3vw;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        height: 15vh;

        &.table-title {
            border-bottom: 0;
            padding: 3vh 0 0 3vw;
        }


    }

 .table-label td {
    padding: 0;
    height: auto;
 }
    
   td {
    border-bottom: 1px solid white;
    height: 15vh;
    text-align: left;
    padding: 0 3vw;
    font-size: 7vh;
   }
}


ul {
    list-style-type: none;
}

.team {
    height:50%;
}




.col {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .first_line_goals, .second_line_goals {
        
        /* border-radius: 240px; */
        font-size: 24vh;
        /* line-height: 240px; */
        color: white;
        font-weight: bold;
        display: block;
        /* width: 100%; */
        /* height: 240px; */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24%;
       
       
    }
    .second_line_goals {
        border-bottom:0;
       
    }

    .first_line_team, .second_line_team {
        color: white;
        font-size: 5vh;
        font-weight: bold;
        display: block;
        /* padding-top: 40px; */
        height: 19%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    
.playground_name {
    position: relative;
    height: 14vh;
    max-width: 60%;
    margin: auto;

    .logo-wrap {
        margin: auto;
        padding: 0 20px;
        background: #ff0001;
        width: 100%;
        max-width: 170px;
        height: 100%;
        z-index: 1000;
        position: relative;
    }

    .logo-wrap-rufus {

        background: #009cad;
       
    }

    .pl_logo {
        width: 100%;
        height: 100%;
    }
   
    #pl_joj {
        background:url('./../img/logo-nadacia-joj.png') center center no-repeat;
        background-size: contain;
    }
    
    #pl_rufus {
        background:url('./../img/logo_rufus.svg') center center no-repeat;
        background-size: contain;
    }

    .line-divider {
        position: absolute;
        left: 0;
        top: 50%;
        height: 5px;
        background: white;
        width: 100%;
    }
}
}

.game-status {
    width:100%;
}

.col-red {
    background: #ff0001;
}


.col-green {
    background: #009cad;
}

.col-black {
    background: black;
}

.col-c {
    float:left;
    width:4%;
    color:white;
    font-weight:bold;
    font-size:150px;
}


#final_result {
    font-family:Arial, Helvetica, sans-serif;
}

.hit {
    position: absolute;
    left: 0;
    top: -2000px;
    width: 50vw;
    height: 100vh;
    display: flex;
    background: black;
    z-index: 10002;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: top 2s ease 1s;
   
    &.hit_match_2 {
        left:50%;
    }
    
    .hit-match  {
        display: flex;
        align-items: center;
        height: 60%;
    }

    .goal-title {
        width: 60%;
        font-size: 5vh;
        padding: 20px;
        background: #d0021b;
        color: white;
        /* margin-top: 10vh; */
        font-weight: bold;
        border-radius: 30px;
    }

    .goal_author {
        display: flex;
        align-items: center;
    }

    .goal_author_number {
        display: block;
        width: 180px;
        height: 180px;
        border-radius: 180px;
        border: 2px solid white;
        text-align: center;
        font-size: 10vh;
        color: white;
        line-height: 180px;
    }

    .goal_author_name {
        font-size: 9vh;
        color: white;
        padding: 0 0 0 60px;
        max-width: 500px;
        text-align: left;
    }

    .goal_school {
        border-top:2px solid white;
        height:25%;
        font-size:4vh;
        color:white;
        font-weight:bold;
        display: flex;
        align-items: center;
    }
} 

