body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}


html, body {
    min-height: 100%;
}

.container-fluid {
  margin:0;
  padding:0;
  min-height: 100%;
  border-collapse: collapse;
  position: relative;
}

.ico {
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  position: relative;
  top: 0;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/theme/img/icon/plus.svg);
  width: 20px;
  height: 20px;
}

.ico-print {
    background-image: url(/theme/img/icon/print-w.svg);
}
.ico-trash {
    background-image: url(/theme/img/icon/trash-w.svg);
}
.ico-cross {
    background-image: url(/theme/img/icon/cros-w-bold.svg);
}
.ico-arr-lft{
    background-image: url(/theme/img/icon/arr-lft-white.svg);
}


.nav-topbar {
  text-align:center;
  background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
color:white;
position: relative;
     padding: 18px 0 13px 0;
    height: 50px;
}

body.platform_iphone .nav-topbar  {
   padding: 35px 0 13px 0;
    height:67px;
}

.nav-topbar .navBtn {
 position: absolute;
    left: 0;
    top: 0;
    background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 18px no-repeat;
    width: 50px;
    height: 50px;
}

body.platform_iphone .nav-topbar .navBtn  {
 height: 67px;
     background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 37px no-repeat;
}

.header {
background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
min-height: 86px;
color: white;
font-size:16px;
padding-top: 10px;

max-width: 100%;
    overflow: hidden;
}

.event-summary {
    text-align: left;
padding-left: 30px;
}

.header .team-name {
font-size: 14px;
}

.event-name, .attend-summary  {
    font-weight: 100;
}



.print-cell {
    padding-top: 15px;
}

.attend-round-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.attend-round-list .avatar {
 display:inline-block;
 width:26px;
 height:26px;
 border-radius: 100%;
 background: gray;
 border:1px solid white;
margin-right:-5px;
}

.attend-round-list .attend-summary {
  display:inline-block;
  width:50px;
  height:26px;
  line-height: 26px;
  padding-left: 10px;
  
 }

 .button-bar {
  height: 45px;
    line-height: 45px;
    /* min-width: 300px; */
    /* max-width: 80%; */
    background: none;
    /* border-radius: 29px; */
    /* box-shadow: 1px 1px 5px black; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -100px; */
    width: 100%;
   background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
 }
 

 .button-bar .ico {
  display: block;
  margin: 10px auto 5px auto;
}


 .button-bar a {
   width:33.33%;
   height:100%;
   color:white;
 }


 .button-bar a.active {
  color:#00b3be;
  background: white;
  text-decoration: none;
}

.lineup-head strong {
  display:block;
}

a.first-line, a.second-line {
    color:#333;
}

.weak .power-perc {
  color:#b92f2f;
}
.strong .power-perc {
  color:#81bc41;
}
 .player-choice-trigger {
 float: left;
    margin: auto;
    width: 42px;
    height: 44px;
    /* margin: 10px auto; */
    line-height: 44px;
    color: black;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    background: none;
    border: 0;
 }

 .lineup-players {
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
}
 .lineup-players .col-xs-6 {
  margin: 0;
  padding: 0;
 }
 
 .lineup-players .first-line {
     border-right:1px solid #e8e9ea;
 }

 .player-list {
  border-top:1px solid #e8e9ea;
 }

 .playerRow {
   height:58px;
   border-bottom:1px solid #e8e9ea;
   display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
  padding:7px;
 }


 
 .playerRowInfo {
     width:100%;
     height:100%;
     display: flex;
     justify-content: left;
    align-items: left;
 }
 
 .second-line .playerRowInfo {
  justify-content: flex-end;
  align-items: right;
 }

 .playerAvatar {
  display:inline-block;
  width:40px;
   height:40px;
   border-radius: 20px;
   margin-right: 10px;
 }

 .missingPlayerRow .playerAvatar {
  background: #d7d9db;
 } 

.playerAvatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 0 0 0;
}

 .missingPlayerRow .playerName {
  color:#d7d9db;
 }
 
 .second-line .playerAvatar {
      margin-right: 0;
      margin-left:10px;
 }

 .playerName {
   text-align: left;
   font-family: 'Roboto', sans-serif;
   line-height: 16px;
 }
 
 .second-line .playerName {
     text-align: right;
 }
 
 .playerPosition {
   text-align: left;
   font-size: 12px;
   font-weight: 100;
   font-family: 'Montserrat', sans-serif;
 }
 
 .second-line .playerName, .second-line .playerPosition  {
     text-align: right;
 }

 

 .playerRowActions {
   overflow:hidden;
   position: absolute;
   left:0;
   top:0;
   width: 100%;
    height: 100%;
 }

 .playerRowActions a {
  float:left;
  width:33.33%;
  height:100%;
 }

 .second-line .playerRowActions a {
   float:right;
 }

 .playerRowActions a.closeActions {
   background: #d8d8d8  url(/theme/img/icon/cross-w-bold.svg) center center no-repeat;;
 }

 .playerRowActions a.deleteRow {
  background: #d73549 url(/theme/img/icon/trash-w.svg) center center no-repeat;
}

.playerRowActions a.moveRow {
  background: #00b3be  url(/theme/img/icon/arr-lft-white.svg) center center no-repeat;;
}

.first-line .playerRowActions a.moveRow {
  background: #00b3be  url(/theme/img/icon/arr-rgt-white.svg) center center no-repeat;;
}

.score_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: #FF6D22;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 24px 0;
  text-transform: uppercase;
}

.lineup-head {
   height: 82px;
   margin: 0;
}

.lineup-head .col-xs-6  {
    margin-right: 0;
    text-align: left;
    line-height: 22px;
    height:82px;
    padding:20px 0;
}
.lineup-head .first-line  {
   border-right: 1px solid #e8e9ea;
}

.lineup-head .power {
    font-size:12px;
     font-family: 'Roboto', sans-serif;
}
    