.row {
    margin:0;
    padding:0;
}

body {
  margin: 0;
  padding: 0;
 
font-family: 'Montserrat', sans-serif;
}

.header {
     background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
color:white;
}


.container-fluid {
  margin:0;
  padding:0;
}



.nav-topbar {
  text-align:center;
  background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
color:white;
position: relative;
     padding: 18px 0 13px 0;
    height: 50px;
}

body.platform_iphone .nav-topbar  {
   padding: 35px 0 13px 0;
    height:67px;
}

.nav-topbar .navBtn {
 position: absolute;
    left: 0;
    top: 0;
    background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 18px no-repeat;
    width: 50px;
    height: 50px;
}

body.platform_iphone .nav-topbar .navBtn  {
 height: 67px;
     background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 37px no-repeat;
}



.event-info {
  margin-top:20px;
  text-align: center;
}

.team-name {
font-size: 14px;
font-weight: 300;
}

.event-date {
  text-transform: uppercase;
  font-size:16px;
    font-weight: normal;

}
.event-name {
  font-size:16px;
  font-weight:300;
}

.vs-row {
    height:67px;
    line-height: 67px;
}

.vs-row .col-xs-5, .vs-row .col-xs-2, .vs-row .col-xs-4 {
    padding:0;
}

.vs-first, .vs-second {
    font-size:20px;
    text-align: center;
}

.match-points {
    font-size:24px;
    font-weight:bold;
    text-align: center;
}

/*Players*/
.firstline-players,.secondline-players {
    padding:0;
}

.playerSelector-item {
   height: 58px;
  border-bottom: 1px solid #e8e9ea;
  position: relative;
 
  overflow: hidden;
}

.playerSelector-item .col-xs-6, .playerSelector-item .col-xs-2, 
.lineup-head-row .col-xs-6, .lineup-head-row .col-xs-2, .lineup-head-row .col-xs-4{
    padding-left:5px;
    padding-right:5px;
   border-left: 1px solid #D1D3D5;
        height: 100%;
        padding:7px 0;
        text-align: center;
}

.playerSelector-item .avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 0 0 0;
    float:left;
}

.playerSelector-item .playerName {
   float:left;
   margin-left: 15px;
   text-align: left;
   max-width: 60%;
       line-height: 16px;
}
.playerSelector-item .playerNumber {
  float: left;
   padding-left: 7px;
    width: 30px;
    text-align: left;
    line-height: 18px;
    padding-top: 9px;
    font-weight: bold;
    font-size: 24px;
}

.playerSelector-item .player-position {
  text-align:left;
  display: block;
  font-size:12px;
  color:#9B9B9B;
}

.hiddenSelect select {
    background: transparent;
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    min-width: 40px;
    border:0;
}

.hiddenSelect select.selected- {
    color:#D7D9DB;
}

.save-btn {
    border-radius: 18px;
  width: 80px;
  height: 34px;
  background: #ff6d22;
  line-height: 34px;
  display:block;
}

.lineup-head-row {
 height:59px;
 font-size:17px;
 line-height: 59px;
 background: #F7F7F7;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    border: 2px solid #D7D9DB;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
   content: '';
    width: 26px;
    height: 26px;
    background: #7BB838;
    position: absolute;
    /* top: 4px; */
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.alert-shown {
  opacity: 1;
}

.alert-hidden {
  opacity: 0;
  transition: all 500ms linear;
}

.alert {
    position:absolute;
    left:50%;
    top:125px;
    width:240px;
    padding:10px;
    background: #169cbe;
    border:2px solid white;
    border-radius: 20px;
    margin-left:-120px;
    z-index: 1000;
    color:white;
    text-align:center;
}