html,body {
        min-height:100%;
         margin: 0;
  height: 100%; 
}

.loader {
    text-align: center;
    padding-top:80px;
}

.container-fluid {
    padding:0;
}


.nav-topbar {
  text-align:center;
  background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
color:white;
position: fixed;
top:0;
width:100%;
line-height: 44pt;
min-height: 44pt;
z-index: 2000;
}

body.platform_iphone {
}

body.platform_iphone .nav-topbar  {
   padding: 20pt 0 0 0;
   height:60pt;
}

.nav-topbar .navBtn {
 position: absolute;
    left: 0;
    top: env(safe-area-inset-top);
    background: url(/theme/img/icon/arr-lft-line-white.svg) center center no-repeat;
    width: 50px;
    height: 44pt;
}

body.platform_iphone .nav-topbar .navBtn  {
 height: 60pt;
     background: url(/theme/img/icon/arr-lft-line-white.svg) center 34pt no-repeat;
}



.mainCnt {
    background: white;
        padding-bottom: 60pt;
    /*padding-top:44pt;*/
}

.local .mainCnt {
    padding-top:44pt;
}



body.platform_iphone  .mainCnt {
    /*padding-top:60pt;*/
}

.screen-cnt {
    padding:10px;
}

.bottomMenu {
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
    height:40pt;
    overflow:hidden;
    background: #f9f9f9;
        z-index: 2000;
}

body.platform_iphone .bottomMenu {
    padding-bottom:10pt;
    height:50pt;
}

.bottomMenuItem {
    float:left;
    width:20%;
    text-align:center;
    line-height:40pt;
   /* border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;*/
     font-size:8pt;
         padding-top:11pt;
          background-position: center 5pt;
          background-repeat: no-repeat;
                  background-size: 18pt 18pt;
}



.bottomMenuItem:last-child {
    border-right:0;
}

.bottomMenuItem a {
   color:#6c6c6c;
}

.bottomMenu #home {
    background-image: url('/theme/img/icon/tournament/home.svg');
}
.bottomMenu.home-active  #home{
    background-image: url('/theme/img/icon/tournament/home-active.svg');
    color:#00B3BE;
}
.bottomMenu #teams {
    background-image: url('/theme/img/icon/tournament/timy.svg');
}
.bottomMenu.teams-active #teams{
    background-image: url('/theme/img/icon/tournament/timy-active.svg');
     color:#00B3BE;
}
.bottomMenu #games {
    background-image: url('/theme/img/icon/tournament/zapasy.svg');
}
.bottomMenu.games-active #games{
    background-image: url('/theme/img/icon/tournament/zapasy-active.svg');
     color:#00B3BE;
}
.bottomMenu #ladder {
    background-image: url('/theme/img/icon/tournament/stats.svg');
}
.bottomMenu.ladder-active #ladder{
    background-image: url('/theme/img/icon/tournament/stats-active.svg');
     color:#00B3BE;
}
.bottomMenu #live {
    background-image: url('/theme/img/icon/tournament/live.svg');
}
.bottomMenu.live-active #live {
    background-image: url('/theme/img/icon/tournament/live-active.svg');
     color:#00B3BE;
}

/*HOME*/

.t-panel {
    width:100%;
    border:1px solid #EBECEC;
    border-radius: 5px;
    overflow: hidden;
}

.t-header {
    background: #37424A;
    color: white;
    overflow: hidden;
}

.team_img_round {
    float: left;
    background: url(/img/skliga-logo.png) center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 60pt;
    height: 60pt;
    margin: 12pt;
}

.t-table td strong {
    color:#37424A;
    font-size:11pt; 
}
.t-table td a {
    color:#00B3BE;
}

.t-table .t-label {
    min-width:140px;
    width:50%;
}


.btn-join-tournament {
    display: block;
    margin: 40px auto;
    background: #FF6D22;
    border: 1px solid #FF6D22;
    font-size: 16px;
    text-align: center;
    color: white;
    max-width: 200px;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

.home h1 {
   font-size: 11pt;
    text-align: left;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    float: left;
    max-width: 180px;
    padding-top: 16pt;
}

/*TEAMS*/
.teamRow, .teamPlayerRow, .gameRow {
    overflow: hidden;
    /*height:82px;*/
    padding:10px 0;
    border-bottom:1px solid #ebecec; 
    margin: 0;
}

.cell {
  float:left;
  font-size:13px;
}

.teamPlayers .cell.title, .teams .cell.title {
    line-height: 30pt;
    font-size: 11pt;
}

.player_number {
    font-weight:bold;
    font-size:13pt;
}

.avatar img {
  width:30pt;
  height:30pt;
  border-radius:50%;
  background-size: cover;
  margin:0 15px 0 10px;
}

.subnav {
    height:40pt;
    width:100%;
    overflow:hidden;
}
.subnavItem {
    float:left;
    width:50%;
    /*background: lightgray;*/
    line-height: 40pt;
    height:40pt;
    color:#37424A;
    opacity:0.7;
    text-align: center;
    border-bottom:2px solid #e5e5e5;
}

.subnav3 .subnavItem {
    width:33.33%;
}

.subnavItem.active {
    background: white;
    border-bottom:2px solid #00B3BE;
    opacity:1;
}

/*Games*/
.game_notify {
    width:15%;
    text-align:center;
    height:92px;
    border-right:1px solid #ebecec;
    float:left;
}

.game_teams {
    width: 85%;
}

.game_notify img {
    width: 30px;
    margin-top: 30px;
}

.gameRow {
    padding:0;
    height:auto;
        z-index: 1000;
}

.game_team_row {
    height:46px;
    line-height: 46px;
    position:relative;
    width:100%;
}
.game_team_row img, .live-detail .homeTeam img,  .live-detail .opponentTeam img {
   width:30px;
  height:30px;
  border-radius:50%;
  background-size: cover;
  margin:0 15px 0 6px;
}

.game_team_row_points {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 46px;
    line-height: 46px;
    /* padding-top: 5px; */
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border-left: 1px solid #f0f1f1;
}

.linuep-players {
    padding:0 10px;
}

.linuep-players h2 {
    font-size:16px;
    height:30px;
    text-align:center;
}

.linuep-players .teamPlayerRow{
    height:102px;
    text-align:center;
}

.linuep-players .avatar {
    width: 100%;
    text-align: center;
}

.linuep-players .title {
    width: 100%;
    text-align: center;
    padding-top:5px;
}
.gameRow .time {
    display:none;
}
.gameLiveRow {
    position: relative;
}
.gameLiveRow .time {
   display: block;
    color: #7b7b7b;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 30px;
    height: 30px;
    width: 40px;
    background: white;
    border: 1px solid #f0f1f1;
    text-align: center;
    line-height: 30px;
}

.gameLiveRow .time .ico-clock {
    top: 7px;
    width: 16px;
    margin-right: 3px;
}

.dateEvents .date {
    height:25px;
    background: #00B3BE;
    line-height: 25px;
    color:white;
    text-align: center;
    font-weight:bold;
}

/*game detail*/
.live-detail .homeTeam, 
.live-detail .result, 
.live-detail .opponentTeam {
    float:left;
    width:33.33%;
    text-align: center;
    padding:10px 0;
    font-size: 12px;
    font-weight: bold;
}

.live-detail .homeTeam, .live-detail .opponentTeam {
    width:40%;
}

.live-detail .result{
    width:20%;
}

.live-detail .teamTitle {
    height:50px;
}

.live-detail .topWrap {
    overflow: hidden;
    border-bottom:1px solid #82898e;
}

.live-detail h2 {
    text-align:center;
}

.live-detail .homeTeam img,  .live-detail .opponentTeam img {
    width:50px;
    height:50px;
    display:block;
    margin:auto;
}

.live-detail .result {
    font-size:32px;
}

#game-detail h2 {
    font-size:20px;
    color:#00B3BE;
    text-align: center;
}

/*TIMELINE*/

.ico {
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  position: relative;
  top: 0;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/theme/img/icon/plus.svg);
  width: 20px;
  height: 20px;
}

.ico-ball {
    background-image: url(/theme/img/icon/ball.svg);
}



.ico-cup {
   background-image: url(/theme/img/icon/cup-b.svg);
    /* height: 25px; */
    /* width: 20px; */
    background-size: 99%;
    background-position: center top;
}

.ico-clock {
   background-image: url(/theme/img/icon/clock2.svg);
    background-size: 99%;
    background-position: center top;
}


.timeline-wrap {
    color: black;
    background: white;
}
.timeline-wrap-hidden {
    padding:0;
}
.timeline-wrap-hidden .timeline {
    display:none;
}

.timeline-item-deleted {
 display: none;
}

.timeline {
  background: transparent url(/theme/img/icon/timeline-bg.png) center top repeat-y;
      margin: 0 10px;
}

.timer-toolbar .col-xs-4 {
  font-size:18px;
  font-family: 'Roboto', sans-serif;
  color:white;
  line-height: 40px;
}

.timeline-item {
  overflow: hidden;
  margin: 40px 0;
  max-height: 110px;
  position: relative;
}

.mom-line-item, .end-line-item {
    height:60px;
}
.mom-line-item{
   margin-top:-20px;
}


.timeline-item-mom {
     max-height: 55px;
    margin-top: 0;
    background: white;
}

.timeline-item .first-line, .timeline-item .second-line  {
   float:left;
  width:50%;
  padding-right: 10px;
  height: 100%;
    max-height: 110px;
    position: relative;
}


.timeline-item-mom .first-line, .timeline-item-mom .second-line
{
   max-height: 55px;
}




.timeline-item.second-line-item  .second-line {
  padding-right:0;
  padding-left: 10px;
}

.timeline-item  .icon {
  position: absolute;
    left: 100%;
    top: 50%;
    width: 24px;
    height: 24px;
    background: white;
    margin-left: -12px;
    margin-top: -12px;
    border-radius: 100%;
    padding: 2px;
 
}

.timeline-item.second-line-item  .icon {
  left:0;
}


.timeline-item  .time {
   position: absolute;
    left: 0;
    top: 58%;
    font-size: 16px;
    margin-top: 0;
    margin-left: 15px;
    height: 20px;
    margin-top: -20px;
}

.timeline-item.mom-line-item .time {
        top: 40px;
}

/*
.timeline-item.end-line-item .second-line .time {
        text-align: left;
        margin-right: 0;
}
*/
.timeline-item.second-line-item .time {
  right: 0;
    text-align: right;
    margin-right: 15px;
}

.timeline-item.end-line-item .time {
        top: 30px;
}

.timeline-item.end-line-item .player-name {
    text-align: left;
    width:100%;
    margin-left:5px;
}


.time-row {
    overflow: hidden;
    height:110px;
}

.timeline-item  .player-name {
  float:left;
  width: 55%;
  line-height: 18px;
    text-align: right;
}

.timeline-item.second-line-item .player-name {
  text-align: left;
}

.timeline-item  .avatar {
  float:left;
  padding: 0 8px;
}
.timeline-item  .hit-accr {
  float:left;
  line-height: 30px;
}

.timeline-item .avatar img {
  width:30px;
  height:30px;
  border-radius:50%;
  background-size: cover;
  margin:0 0 0 0;
}
.timeline-item  .goal-row, .timeline-item  .assist-row {
  margin:10px 0;
      overflow: hidden;
}


.timeline-item-tools {
    width:100%;
    height:100%;
    height: 110px;
}


.timeline-item-tools .editBtn, .timeline-item-tools .deleteBtn, .timeline-item-tools .closeBtn {
    width:33.33%;
    height:100%;
    float:left;
    background:white;
    line-height:110px;
}

.timeline-item-tools .editBtn {
    
    background:#00B3BE;
}
.timeline-item-tools .deleteBtn {
     background:#D73549 url(/theme/img/icon/trash-w.svg) center center no-repeat;
     background-size: 40px;
}
.timeline-item-tools .closeBtn {
    background:#D8D8D8 url(/theme/img/icon/cross-w-bold.svg) center center no-repeat;
    background-size: 40px;
}

.timeline-item-start {
    height:20px;
    margin: 0;
}
.timeline-item-start .icon {
    left:50%;
}

/*Ladder*/
.ladderGroupWrap h2 {
    text-align:center;
    font-size:16px;
}

.ladderGroupWrap th {
    font-size:12px;
}

.subscribeAlert {
    position:fixed;
    top:50px;
    left:50%;
    width:200px;
    padding:10px;
    margin-left:-100px;
    background: rgba(0,0,0,0.8);
    color:white;
    border-radius:10px;
    text-align:center;
}

.downloadAppAlert {
    margin:auto;
    position:fixed;
    top:80px;
    left:50%;
     margin-left:-140px;
    padding:20px;
    width:280px;
    border-radius: 20px;
    background: rgba(0,0,0,0.8);
    color:white;
    text-align:center;
    z-index: 2000;
}
.downloadAppAlertCnt {
    position:relative;
}

.closeDownloadAppAlert {
    position:absolute;
    font-size:20px;
    color:white;
    right: 0;
    top: -30px;
}

img.mobile_app_promo_lg {
    max-height: 30px;
    margin: 10px 1px;
}

.stats-table td {
    font-size:8pt;
}

.top-stats .col-xs-6 {
    height:200px;
}

.top-stats h2 {
    font-size:14pt;
    height:40px;
}
.top-stats span {
    display:block;
    font-size:18pt;
    font-weight:bold;
    margin:10px auto;
}
.top-stats strong {
    display:block;
    font-weight:normal;
    font-size:12pt;
}

/*Playoff*/
#playoff {
    display:none;
}
.playoffActive #playoff {
    display:block;
}

.playoffActive .subnavItem {
    width:33.33%;
}


.playoff {
    width:100%;
    overflow:hidden;
    padding: 20px;
    position:relative;
}

.roundNav {
    overflow: hidden;
}


.roundNavItem {
  float: left;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    height: 40px;
    margin: 0 5px 10px 0;
    border-radius: 3px;
    border: 1px solid #d7d9db;
    text-align: center;
    width:31%;
}

.roundNavItemActive {
    background: #d7d9db;
    color:black;
}

.roundNav1 {
    display:none;
}

.pl-round {
    float:left;
    margin-left: 25px;
    /*width:360px;*/
    /*margin-right:50px;*/
}

.pl-round-1 {
    margin-left:0;
}

.pl-cell {
    position: relative;
    width: 100%;
}

.pl-cell.active {
    font-weight:bold;
    background: #d7d9db;
}

.clear {
    clear:both;
}

.pl-cell-4 {
    margin-bottom:20px;
}

.pl-top-bar {
    height: 80px;
    width:100%;
    border-radius:4px 4px 0 0;
    background:#00b3be;
}


.pl-top-bar-row  {
    height:40px;
    font-size:15px;
    color:white;
    padding: 10px 0 0 10px;
}

.pl-top-bar-row i {
    margin-right:10px;
}

.pl-bottom-wrap {
    overflow: hidden;
}

.pl-cell-cnt {
  float:left;
width: 80%;
   overflow: hidden;
}




.pl-cell-cnt1 , .pl-cell-cnt2 {
    height: 20px;
    line-height: 20px;
    padding: 0 20px;
    border: 1px solid #d7d9db;
    white-space: nowrap;
    font-size: 11px;
    color: #000000;
}

.pl-cell-cnt1 {
    border-bottom: 0;
}

.pl-cell-cnt2  {
    border-top:0;
}

.pl-cell-results .pl-cell-cnt1,
.pl-cell-results .pl-cell-cnt2 {
    border-left:0;
    padding:0;
    font-size:14px;
    text-align: center;
}


.pl-cell-results {
    float:left;
        width: 20%;
}


.pl-spacer {
    /*height:10px;*/
}

.pl-bottom-spacer {
    height: 70px;
}

.pl-round  .pl-bottom-spacer:last-child {
    display:none;
}

.pl-conector-left {
    position: absolute;
    height: 10px;
    border-top: 1px solid #5f686d;
    border-right: 1px solid #5f686d;
    border-radius: 0 8px 0 0;
    top: 20px;
    right: -25px;
    width: 25px;
}
.pl-conector-right {
   position: absolute;
    height: 20px;
    border-bottom: 1px solid #5f686d;
    border-right: 1px solid #5f686d;
    border-radius: 0 0 8px 0;
    bottom: -20px;
    right: -25px;
    width: 25px;
}

.moveTrigger {
    position: absolute;
    right: -35px;
    top: 25px;
    width: 30px;
    height: 30px;
    border: 1px solid #d7d9db;
    border-radius: 3px;
    background: white url(/theme/img/icon/arr-rgt-gray.svg) center center no-repeat;
}

.pl-round-last .moveTrigger {
    display:none;
}
.pl-round-last .pl-conector-left, .pl-round-last .pl-conector-right {
    display:none;
}

.moveBackTrigger {
    position: absolute;
    left: -25px;
    top: 5;
    width: 30px;
    height: 30px;
    border: 1px solid #d7d9db;
    border-radius: 3px;
    background: white url(/theme/img/icon/arr-lft.svg) center center no-repeat;
}

.pl-round-1 .moveBackTrigger {
    display:none;
}

.pl-cell-4 .moveTrigger {
    display:none;
}

.pl-round-1 .pl-conector-left, .pl-round-1 .pl-conector-right {
    /*display:none;*/
}

.pl-cell-4 .pl-conector-left, .pl-cell-4 .pl-conector-right  {
    display:none;
}




.pl-conector-left:after {
 content: '';
    position: absolute;
    background-color: #5f686d;
    left: 24px;
    height: 10px;
    width: 1px;
    top: 9px;
}

.pl-conector-right:after {
    content: '';
    position: absolute;
    background-color: #5f686d;
    left: 159px;
    height: 30px;
    width: 1px;
    top: -30px;
    display:none;
}

.pl-round-1, .pl-round-2, .pl-round-3, .pl-round-4, .pl-round-5, .pl-round-6, .pl-round-7  {
    display:none;
        width: 80%;
}

.pl-round-1.active, 
.pl-round-2.active,  
.pl-round-3.active,  
.pl-round-4.active,  
.pl-round-5.active,  
.pl-round-6.active,  
.pl-round-7.active 
{
    display:block;
}



.pl-cell-title {
    margin:5px 0;
    text-align: center;
}

.pl-cell-bronze, pl-cell-final {
    margin-top:20px;
}

.pl-cell-bronze .moveBackTrigger, .pl-cell-final .moveBackTrigger
{
    top:30px; 
}

/*desktop*/
@media only screen and (min-width: 1024px) {
    .nav-topbar {
        display:none;
    }
    
    body {
        background: #F5F5F6;
    }
    
    #tournament {
       max-width:1024px;
       background:white;
       border-radius:10px;
       padding:20px;
       margin:50pt auto;
    }
    
    .bottomMenu {
        position:fixed;
        top:0;
        bottom:auto;
    }
    
}