lheight(size)
    line-height: size
    height: size

.PlayersComparsionBox
    .loading
        background: url(../img/load_gray.gif) no-repeat center center #37424a
        height: 510px

.PlayersComparsionBox
    background: #37424a
    position: relative
    text-align: center
    font: 200 12px 'Montserrat', sans-serif
    color: #a6aaad

    .fadeOut
        opacity: 0

    .share:hover
        color: #fff

    @import 'PlayersComparsionBox.styl'
    @import 'Switch.styl'
    @import 'Pages.styl'
    @import 'Versus.styl'
    @import 'PlayerList.styl'
    @import 'Chart.styl'
    @import 'Pro.styl'