.PlayersComparsionBox .loading {
  background: url("../img/load_gray.gif") no-repeat center center #37424a;
  height: 510px;
}
.PlayersComparsionBox {
  background: #37424a;
  position: relative;
  text-align: center;
  font: 200 12px 'Montserrat', sans-serif;
  color: #a6aaad;
}
.PlayersComparsionBox .fadeOut {
  opacity: 0;
}
.PlayersComparsionBox .share:hover {
  color: #fff;
}
.PlayersComparsionBox h1 {
  color: #fff;
  margin: 13px 0 20px 45px;
  font: 400 14px 'Montserrat', sans-serif;
  text-align: left;
  cursor: default;
  line-height: 1;
}
.PlayersComparsionBox .icon {
  position: absolute;
  top: 10px;
}
.PlayersComparsionBox .icon,
.PlayersComparsionBox .icon img {
  display: block;
  width: 20px;
  height: 20px;
}
.PlayersComparsionBox .icon.chart {
  left: 13px;
}
.PlayersComparsionBox .icon.social {
  right: 13px;
}
.PlayersComparsionBox footer {
  line-height: 39px;
  height: 39px;
  border-top: 1px solid #4b555c;
  text-align: center;
}
.PlayersComparsionBox footer a {
  color: #a6aaad;
  font-size: 12px;
  display: inline-block;
  line-height: 17px;
  height: 17px;
  background: url("../img/SocialFooter.png") no-repeat left center;
}
.PlayersComparsionBox footer a.share {
  padding: 0 34px;
}
.PlayersComparsionBox .Switch {
  border: 1px solid #fff;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 18px;
}
.PlayersComparsionBox .Switch a {
  padding: 0 20px;
  border-radius: 9px;
  color: #fff;
  line-height: 22px;
  height: 22px;
  display: inline-block;
}
.PlayersComparsionBox .Switch a.active {
  background: #fff;
  color: #37424a;
  cursor: default;
}
.PlayersComparsionBox .Pages {
  color: #a6aaad;
}
.PlayersComparsionBox .Versus {
  font-size: 0;
  margin: 17px 0 20px 0;
  position: relative;
  display: inline-block;
}
.PlayersComparsionBox .Versus a,
.PlayersComparsionBox .Versus span {
  display: inline-block;
  line-height: 28px;
  height: 28px;
  border: 1px solid #37424a;
  font-size: 12px;
}
.PlayersComparsionBox .Versus a {
  min-width: 58px;
  border-radius: 3px;
  padding: 0 10px;
}
.PlayersComparsionBox .Versus span {
  color: #bdc0c3;
  width: 26px;
}
.PlayersComparsionBox .Versus a:nth-child(1) {
  color: #00b3be;
  border-color: #00b3be;
}
.PlayersComparsionBox .Versus a:nth-child(3) {
  color: #ff6d22;
  border-color: #ff6d22;
}
.PlayersComparsionBox .Versus a:hover:nth-child(1) {
  color: #37424a;
  background: #00b3be;
}
.PlayersComparsionBox .Versus a:hover:nth-child(3) {
  color: #37424a;
  background: #ff6d22;
}
.PlayersComparsionBox .PlayerList {
  border-radius: 7px;
  text-align: center;
  margin: 0 23px;
  padding: 5px;
  height: 310px;
  overflow-y: auto;
  border: 1px solid #00b3be;
}
.PlayersComparsionBox .PlayerList a {
  line-height: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 7px;
  padding: 0 29px;
  font-size: 16px;
  border: 1px solid #37424a;
  color: #00b3be;
}
.PlayersComparsionBox .PlayerList.first a:hover {
  border: 1px solid #00b3be;
}
.PlayersComparsionBox .PlayerList.second a:hover {
  border: 1px solid #fb6c23;
  color: #fb6c23;
}
.PlayersComparsionBox .PlayerList.second a.selected {
  border: 1px solid #00b3be;
  color: #00b3be;
  cursor: default;
}
.PlayersComparsionBox .RadarChart {
  margin: auto;
  position: relative;
}
.PlayersComparsionBox .radarLabel {
  font-weight: 200;
  position: absolute;
  color: #bdc0c3;
}
.PlayersComparsionBox .radarLabel strong {
  font-weight: 200;
  color: #dfe0e2;
}
.PlayersComparsionBox .ChartPoint {
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  border-width: 1px;
  border-style: solid;
  display: block;
}
.PlayersComparsionBox .ChartHover {
  width: 13px;
  height: 13px;
  position: absolute;
  display: block;
  margin-left: -7px;
  margin-top: -7px;
  border-radius: 50%;
}
.PlayersComparsionBox .ChartHover:hover {
  border: 1px solid #fff;
}
.PlayersComparsionBox .ChartHover:hover:after {
  content: '';
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.PlayersComparsionBox .RadarChart .tooltip-inner {
  background: #fff !important;
  color: #47545c !important;
  font: 400 12px 'Montserrat', sans-serif;
}
.PlayersComparsionBox .RadarChart .tooltip-arrow {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}
.PlayersComparsionBox em.pro {
  font-style: normal;
  background: #925ebf;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  border-radius: 3px;
  text-align: center;
  line-height: 15px;
  height: 15px;
  display: inline-block;
  padding: 0 5px;
}
.PlayersComparsionBox .AllStats {
  position: relative;
}
.PlayersComparsionBox .AllStats em.pro {
  position: absolute;
  top: -7px;
  right: -14px;
}
.PlayersComparsionBox .IndividualPro {
  text-align: left !important;
}
.PlayersComparsionBox .IndividualPro a {
  text-transform: none !important;
  color: #999fa3 !important;
}
.PlayersComparsionBox .IndividualPro a:hover {
  color: #6f818e !important;
}
.PlayersComparsionBox .Switch {
  position: relative;
}
.PlayersComparsionBox .Switch em.pro {
  position: absolute;
  top: 3px;
  right: -20px;
}
.PlayersComparsionBox .Versus em.pro {
  position: absolute;
  top: -7px;
  right: -14px;
}
