.Counters
    min-height: 90px
    text-align: left

    .Counter
        font: 10px 'Montserrat', sans-serif
        margin-top: 20px
        width: 106px
        height: 52px
        display: inline-block
        text-align: center
        vertical-align: top

    .Counter .value
        font-size: 14px
        color: #47545C
        margin: 7px 0 5px 0
        line-height: 1

    .Counter .caption
        text-transform: uppercase
        line-height: 1

    .Counter .caption span
        vertical-align: middle

    .Counter .chart
        width: 41px
        height: 16px
        margin: 0 auto

    .Counter .goals
        background: url(../img/goals.png) no-repeat

    .Counter .assists
        background: url(../img/assists.png) no-repeat

    .Counter .wins
        background: url(../img/wins.png) no-repeat

    .Counter .draws
        background: url(../img/draws.png) no-repeat

    .Counter:first-child
        margin-left: 3px

    .direction
        width: 15px
        height: 4px
        display: inline-block

    .direction.up
        background: url(../img/up.png) no-repeat top right

    .direction.down
        background: url(../img/down.png) no-repeat top right

    .direction.eq
        background: url(../img/eq.png) no-repeat top right

.Counters .AllStats, .More
    color: white
    background: #00b3be
    lheight: 34px
    padding: 0 21px
    display: inline-block
    border-radius: 4px
    font-size: 12px
    vertical-align: top

.Counters .AllStats
    margin: 26px 30px 20px 0
    float: right