.CurvedLineChart
    .flot-text
        color: #afb2b5 !important
        font: 200 12px 'Montserrat', sans-serif !important

    .flot-x-axis .flot-tick-label.tickLabel:first-child,
    .flot-y-axis .flot-tick-label.tickLabel:first-child
        display: none !important

    .flot-y-axis .flot-tick-label.tickLabel
        padding-top: 5px
        padding-left: 18px

    .flot-x-axis .flot-tick-label.tickLabel
        top: (180px - 21px) !important
        margin-left: -30px