.tooltip.tooltip-label {
  border-radius: 5px !important;
  color: #fff !important;
  font-weight: bold !important;
  text-align: center !important;
  padding: 4px 11px !important;
  display: inline-block !important;
  position: absolute;
}
.tooltip.tooltip-label .arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  position: absolute;
  bottom: -6px;
  left: 6px;
}
.PerformanceBox .loading {
  background: url("../img/load_white.gif") no-repeat center center #fff;
  height: 940px;
}
.PerformanceBox {
  background: #fff;
  position: relative;
  text-align: center;
  font-weight: normal;
  color: #999fa3;
}
.PerformanceBox .fadeOut {
  opacity: 0;
}
.PerformanceBox .share:hover {
  color: #fff;
}
.PerformanceBox h1 {
  color: #47545c;
  margin: 13px 0 20px 45px;
  font: 400 14px 'Montserrat', sans-serif;
  text-align: left;
  cursor: default;
  line-height: 1;
}
.PerformanceBox .icon {
  position: absolute;
  top: 10px;
}
.PerformanceBox .icon,
.PerformanceBox .icon img {
  display: block;
  width: 22px;
  height: 21px;
}
.PerformanceBox .icon.chart {
  left: 13px;
}
.PerformanceBox .icon.social {
  right: 13px;
}
.PerformanceBox .icon.social,
.PerformanceBox .icon.social img {
  width: 20px;
  height: 20px;
}
.PerformanceBox footer {
  line-height: 39px;
  height: 39px;
  border-top: 1px solid #4b555c;
  text-align: center;
}
.PerformanceBox footer a {
  color: #a6aaad;
  font-size: 14px;
  display: inline-block;
  line-height: 17px;
  height: 17px;
  background: url("../img/SocialFooter.png") no-repeat left center;
}
.PerformanceBox footer a.share {
  padding: 0 34px;
}
.PerformanceBox .PlayerDropdown {
  display: inline-block;
}
.PerformanceBox .PlayerDropdown .btn {
  background: #fff;
}
.PerformanceBox .PlayerDropdown.player1 .button-text {
  color: #ff6d22 !important;
}
.PerformanceBox .PlayerDropdown.player1 .btn {
  border: 1px solid #ff6d22 !important;
}
.PerformanceBox .PlayerDropdown.player1 .caret {
  color: #ff6d22;
}
.PerformanceBox .PlayerDropdown.player2 .button-text {
  color: #00b3be !important;
}
.PerformanceBox .PlayerDropdown.player2 .btn {
  border: 1px solid #00b3be !important;
}
.PerformanceBox .PlayerDropdown.player2 .caret {
  color: #00b3be;
}
.PerformanceBox .color.Average,
.PerformanceBox .color.Personal {
  display: none !important;
}
.PerformanceBox .Legend .player1-line,
.PerformanceBox .Legend .player2-line {
  width: 12px;
  display: inline-block;
}
.PerformanceBox .Legend .player1-line {
  border-bottom: 1px solid #ff6d22;
}
.PerformanceBox .Legend .player2-line {
  border-bottom: 1px solid #00b3be;
}
.PerformanceBox .Legend .circle {
  width: 11px;
  height: 11px;
  display: inline-block;
  border: 2px solid #37424a;
  border-radius: 50%;
  position: relative;
  top: 5px;
}
.PerformanceBox .Legend li.middle {
  position: relative;
  top: -3px;
}
.PerformanceBox .Legend li.right {
  position: relative;
}
.PerformanceBox .Legend li.right em.pro {
  position: absolute;
  top: -7px;
  right: -14px;
}
.PerformanceBox .CRSBar {
  height: 10px;
  background: #00b3be;
  margin-right: 24px;
}
.PerformanceBox .active .CRSBar {
  height: 10px;
  background: #ff6d22;
  margin-right: 24px;
}
.PerformanceBox .CurvedLineChart .flot-text {
  color: #afb2b5 !important;
  font: 200 12px 'Montserrat', sans-serif !important;
}
.PerformanceBox .CurvedLineChart .flot-x-axis .flot-tick-label.tickLabel:first-child,
.PerformanceBox .CurvedLineChart .flot-y-axis .flot-tick-label.tickLabel:first-child {
  display: none !important;
}
.PerformanceBox .CurvedLineChart .flot-y-axis .flot-tick-label.tickLabel {
  padding-top: 5px;
  padding-left: 18px;
}
.PerformanceBox .CurvedLineChart .flot-x-axis .flot-tick-label.tickLabel {
  top: 159px !important;
  margin-left: -30px;
}
.PerformanceBox .Rules {
  text-align: left;
  height: 52px;
  font: 12px sans-serif;
}
.PerformanceBox .Rules .Legend {
  padding: 3px 0 0 11px;
}
.PerformanceBox .Rules .Legend .color {
  width: 28px;
  height: 7px;
  display: inline-block;
  border-radius: 7px;
  vertical-align: middle;
  margin-right: 7px;
}
.PerformanceBox .Rules .Legend .color.Average {
  background: #ff6d22;
}
.PerformanceBox .Rules .Legend .color.Personal {
  background: #00b3be;
}
.PerformanceBox .Rules .Legend li {
  list-style: none;
  vertical-align: middle;
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 0;
}
.PerformanceBox .Rules .Legend li li {
  display: block;
  margin-right: 0;
}
.PerformanceBox .Rules .Legend li .text {
  position: relative;
  top: 1px;
  left: 0;
}
.PerformanceBox .Rules .PerformanceNav {
  font-size: 0;
  position: absolute;
  top: 47px;
  right: 0;
}
.PerformanceBox .Rules .PerformanceNav a {
  padding: 0 8px 0 0;
  color: #999fa3;
  display: inline-block;
  margin-right: 16px;
  line-height: 17px;
  height: 17px;
  font: 12px sans-serif;
}
.PerformanceBox .Rules .PerformanceNav a.active {
  color: #000;
  border-bottom: 2px solid #00b3be;
}
.PerformanceBox .Counters {
  min-height: 90px;
  text-align: left;
}
.PerformanceBox .Counters .Counter {
  font: 10px 'Montserrat', sans-serif;
  margin-top: 20px;
  width: 106px;
  height: 52px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.PerformanceBox .Counters .Counter .value {
  font-size: 14px;
  color: #47545c;
  margin: 7px 0 5px 0;
  line-height: 1;
}
.PerformanceBox .Counters .Counter .caption {
  text-transform: uppercase;
  line-height: 1;
}
.PerformanceBox .Counters .Counter .caption span {
  vertical-align: middle;
}
.PerformanceBox .Counters .Counter .chart {
  width: 41px;
  height: 16px;
  margin: 0 auto;
}
.PerformanceBox .Counters .Counter .goals {
  background: url("../img/goals.png") no-repeat;
}
.PerformanceBox .Counters .Counter .assists {
  background: url("../img/assists.png") no-repeat;
}
.PerformanceBox .Counters .Counter .wins {
  background: url("../img/wins.png") no-repeat;
}
.PerformanceBox .Counters .Counter .draws {
  background: url("../img/draws.png") no-repeat;
}
.PerformanceBox .Counters .Counter:first-child {
  margin-left: 3px;
}
.PerformanceBox .Counters .direction {
  width: 15px;
  height: 4px;
  display: inline-block;
}
.PerformanceBox .Counters .direction.up {
  background: url("../img/up.png") no-repeat top right;
}
.PerformanceBox .Counters .direction.down {
  background: url("../img/down.png") no-repeat top right;
}
.PerformanceBox .Counters .direction.eq {
  background: url("../img/eq.png") no-repeat top right;
}
.PerformanceBox .Counters .AllStats,
.PerformanceBox .More {
  color: #fff;
  background: #00b3be;
  line-height: 34px;
  height: 34px;
  padding: 0 21px;
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
  vertical-align: top;
}
.PerformanceBox .Counters .AllStats {
  margin: 26px 30px 20px 0;
  float: right;
}
.PerformanceBox .Table {
  border-collapse: collapse;
}
.PerformanceBox .Table .glyphicon {
  color: #999;
  margin-left: 5px;
  font-size: 11px;
}
.PerformanceBox .Table .glyphicon.glyphicon-sort {
  color: #d6d6d6;
}
.PerformanceBox .Table th {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.PerformanceBox .Table th,
.PerformanceBox .Table td {
  font-size: 12px;
  color: #999fa3;
}
.PerformanceBox .Table th.sort {
  cursor: pointer;
}
.PerformanceBox .Table .img {
  width: 43px;
}
.PerformanceBox .Table .UserImage {
  border: 1px solid #d7d9db;
  overflow: hidden;
  border-radius: 15px;
  background-image: url("../img/user.svg");
}
.PerformanceBox .Table .UserImage,
.PerformanceBox .Table .UserImage .Image {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.PerformanceBox .Table .UserImage .Image {
  background-size: cover;
}
.PerformanceBox .Table td {
  vertical-align: middle;
}
.PerformanceBox .Table .name {
  text-align: left;
}
.PerformanceBox .Table tr.active td {
  color: #767a7d;
}
.PerformanceBox .Table td.name,
.PerformanceBox .Table td.name a {
  color: #00bfca;
}
.PerformanceBox .Table tr.active td.name,
.PerformanceBox .Table tr.active td.name a {
  color: #00759a;
}
.PerformanceBox .minimized-table {
  max-height: 506px;
  overflow: hidden;
}
.PerformanceBox .More {
  margin: 15px 0;
}
.PerformanceBox em.pro {
  font-style: normal;
  background: #925ebf;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  border-radius: 3px;
  text-align: center;
  line-height: 15px;
  height: 15px;
  display: inline-block;
  padding: 0 5px;
}
.PerformanceBox .AllStats {
  position: relative;
}
.PerformanceBox .AllStats em.pro {
  position: absolute;
  top: -7px;
  right: -14px;
}
.PerformanceBox .IndividualPro {
  text-align: left !important;
}
.PerformanceBox .IndividualPro a {
  text-transform: none !important;
  color: #999fa3 !important;
}
.PerformanceBox .IndividualPro a:hover {
  color: #6f818e !important;
}
.PerformanceBox .Switch {
  position: relative;
}
.PerformanceBox .Switch em.pro {
  position: absolute;
  top: 3px;
  right: -20px;
}
.PerformanceBox .Versus em.pro {
  position: absolute;
  top: -7px;
  right: -14px;
}

@media only screen and (max-width: 1024px) {

    .PerformanceBox .Rules {
        text-align: center;
    }
    .PerformanceBox .Rules .PerformanceNav {
        display:block;
        margin:auto;
        position: static;
        
    }
  
     .PerformanceBox .Rules .Legend {
        display:block;
        margin:auto;
        padding: 5px;
    }
  
    .PerformanceBox h1 {
        margin-bottom: 5px;
    }
    
    .PerformanceBox  .Legend .btn {
        padding:2px 10px;
    }
}


@media only screen and (max-width: 768px) {
    

   
    
    
}