h1
    color: #47545C
    margin: 13px 0 20px 45px
    font: 400 14px 'Montserrat', sans-serif
    text-align: left
    cursor: default
    line-height: 1

.icon
    position: absolute
    top: 10px

.icon,
.icon img
    display: block
    width: 22px
    height: 21px

.icon.chart
    left: 13px

.icon.social
    right: 13px

.icon.social
.icon.social img
    width: 20px
    height: 20px

footer
    lheight: 39px
    border-top: 1px solid #4b555c
    text-align: center 

footer a
    color: #a6aaad
    font-size: 14px
    display: inline-block
    lheight: 17px
    background: url(../img/SocialFooter.png) no-repeat left center

footer a.share
    padding: 0 34px

.PlayerDropdown
    display: inline-block

.PlayerDropdown .btn
    background: #fff

.PlayerDropdown.player1
    .button-text
        color: #ff6d22 !important
    .btn
        border: 1px solid #ff6d22 !important
    .caret
        color: #ff6d22

.PlayerDropdown.player2
    .button-text
        color: #00b3be !important
    .btn
        border: 1px solid #00b3be !important
    .caret
        color: #00b3be

.color.Average,
.color.Personal
    display: none !important

.Legend .player1-line,
.Legend .player2-line
    width: 12px
    display: inline-block

.Legend .player1-line
    border-bottom: 1px solid #ff6d22

.Legend .player2-line
    border-bottom: 1px solid #00b3be

.Legend .circle
    width: 11px
    height: 11px
    display: inline-block
    border: 2px solid #37424A
    border-radius: 50%
    position: relative
    top: 5px

.Legend li.middle
    position: relative
    top: -3px

.Legend li.right
    position: relative

.Legend li.right em.pro
    position: absolute
    top: -7px
    right: -14px

.CRSBar
    height: 10px
    background: #00b3be
    margin-right: 24px

.active .CRSBar
    height: 10px
    background: #ff6d22
    margin-right: 24px