lheight(size)
    line-height: size
    height: size

transition(transition, time, mode)
    -moz-transition: transition time mode
    -o-transition: transition time mode
    -webkit-transition: transition time mode
    transition: transition time mode

.tooltip.tooltip-label
    border-radius: 5px !important
    color: white !important
    font-weight: bold !important
    text-align: center !important
    padding: 4px 11px !important
    display: inline-block !important
    position: absolute

    .arrow
        width: 0
        height: 0
        border-style: solid
        border-width: 6px 5.5px 0 5.5px
        position: absolute
        bottom: -6px
        left: 6px

.PerformanceBox
    .loading
        background: url(../img/load_white.gif) no-repeat center center #fff
        height: 940px

.PerformanceBox
    background: #fff
    position: relative
    text-align: center
    font-weight: normal
    color: #999FA3

    .fadeOut
        opacity: 0

    .share:hover
        color: #fff

    @import 'PerformanceBox.styl'
    @import 'CurvedLineChart.styl'
    @import 'Rules.styl'
    @import 'Counters.styl'
    @import 'Table.styl'
    @import 'Pro.styl'