h1
    color: #fff
    margin: 13px 0 20px 45px
    font: 400 14px 'Montserrat', sans-serif
    text-align: left
    cursor: default
    line-height: 1

.icon
    position: absolute
    top: 10px

.icon,
.icon img
    display: block
    width: 20px
    height: 20px

.icon.chart
    left: 13px

.icon.social
    right: 13px

footer
    lheight: 39px
    border-top: 1px solid #4b555c
    text-align: center 

footer a
    color: #a6aaad
    font-size: 12px
    display: inline-block
    lheight: 17px
    background: url(../img/SocialFooter.png) no-repeat left center

footer a.share
    padding: 0 34px