.PlayerList
    border-radius: 7px
    text-align: center
    margin: 0 23px
    padding: 5px
    height: 310px
    overflow-y: auto
    border: 1px solid #00b3be

.PlayerList a
    lheight: 30px
    display: inline-block
    border-radius: 7px
    padding: 0 29px
    font-size: 16px
    border: 1px solid #37424a
    color: #00b3be

.PlayerList.first a:hover
    border: 1px solid #00b3be

.PlayerList.second a:hover
    border: 1px solid #fb6c23
    color: #fb6c23

.PlayerList.second a.selected
    border: 1px solid #00b3be
    color: #00b3be
    cursor: default