em.pro
    font-style: normal
    background: #925ebf
    text-transform: uppercase
    color: #fff
    font-size: 10px
    border-radius: 3px
    text-align: center
    lheight: 15px
    display: inline-block
    padding: 0 5px

.AllStats
    position: relative
    em.pro
        position: absolute
        top: -7px
        right: -14px

.IndividualPro
    text-align: left !important
    
    a
        text-transform: none !important
        color: #999fa3 !important

    a:hover
        color: #6f818e !important

.Switch
    position: relative
    em.pro
        position: absolute
        top: 3px
        right: -20px

.Versus
    em.pro
        position: absolute
        top: -7px
        right: -14px