.Rules
    text-align: left
    height: 52px
    font: 12px sans-serif

    .Legend
        padding: 3px 0 0 11px

    .Legend .color
        width: 28px
        height: 7px
        display: inline-block
        border-radius: 7px
        vertical-align: middle
        margin-right: 7px

    .Legend .color.Average
        background: #ff6d22

    .Legend .color.Personal
        background: #00b3be

    .Legend li
        list-style: none
        vertical-align: middle
        margin-bottom: 3px
        display: inline-block
        margin-right: 0

    .Legend li li
        display: block
        margin-right: 0
        

    .Legend li .text
        position: relative
        top: 1px
        left: 0

    .PerformanceNav
        font-size: 0
        position: absolute
        top: 47px
        right: 0

    .PerformanceNav a
        padding: 0 8px 0 0
        color: #999FA3
        display: inline-block
        margin-right: 16px
        lheight: 17px
        font: 12px sans-serif

    .PerformanceNav a.active
        color: black
        border-bottom: 2px solid #00b3be
