.Switch
    border: 1px solid #fff
    border-radius: 10px
    display: inline-block
    margin-bottom: 18px

.Switch a
    padding: 0 20px
    border-radius: 9px
    color: #fff
    lheight: 22px
    display: inline-block

.Switch a.active
    background: #fff
    color: #37424a
    cursor: default