.Table
    border-collapse: collapse

    .glyphicon
        color: #999
        margin-left: 5px
        font-size: 11px

    .glyphicon.glyphicon-sort
        color: #d6d6d6

    th
        font-weight: 400
        text-align: center
        text-transform: uppercase

    th, td
        font-size: 12px
        color: #999FA3

    th.sort
        cursor: pointer

    .img
        width: 43px

    .UserImage
        border: 1px solid #d7d9db
        overflow: hidden
        border-radius: 15px
        background-image: url(../img/user.svg)

    .UserImage,
    .UserImage .Image
        width: 30px
        height: 30px
        background-repeat: no-repeat
        background-size: cover

    .UserImage .Image
        background-size: cover        

    td
        vertical-align: middle

    .name
        text-align: left

    tr.active td
        color: #767a7d

    td.name, td.name a
        color: #00BFCA
        
    tr.active td.name,
    tr.active td.name a
        color: #00759a

.minimized-table
    max-height: 506px
    overflow: hidden

.More
    margin: 15px 0