.Versus
    font-size: 0
    margin: 17px 0 20px 0
    position: relative
    display: inline-block

.Versus a,
.Versus span
    display: inline-block
    lheight: 28px
    border: 1px solid #37424a
    font-size: 12px

.Versus a
    min-width: 58px
    border-radius: 3px
    padding: 0 10px

.Versus span
    color: #BDC0C3
    width: 26px

.Versus a:nth-child(1)
    color: #00b3be
    border-color: #00b3be

.Versus a:nth-child(3)
    color: #ff6d22
    border-color: #ff6d22

.Versus a:hover:nth-child(1)
    color: #37424a
    background: #00b3be

.Versus a:hover:nth-child(3)
    color: #37424a
    background: #ff6d22