.share-cell
{
	display: inline-block;
	/*line-height: 33px;
	height: 33px;*/
	padding: 10px 15px;
	/*padding: 0 10px;*/
	background: #4267b2;
	color: #fff !important;
	border-radius: 5px;
	float: right;
	margin: 15px 15px 0 0;
}

.share-btn
{
	display: inline-block;
	/*line-height: 33px;
	height: 33px;*/
	padding: 5px 10px;
	/*padding: 0 10px;*/
	background: #4267b2;
	color: #fff !important;
	border-radius: 5px;
	float: left;
	margin: 0 10px 0 0;
	position: relative;
	top: -6px;
        font-size: 12px;
}

.share-btn.bottom
{
	position: absolute;
	bottom: 10px;
	right: 5px;
	top: auto;
}

.event-detail .panel.panel-default
{
	padding-bottom: 35px;
	position: relative;
}

#small-calendar-info-panel .score-cell
{
	position: relative;
	overflow: visible;
}

.share-btn-mini
{
	display: block;
	width: 26px;
	padding: 2px 0;
	background: #4267b2;
	color: #fff !important;
	border-radius: 5px;
	position: absolute;
	bottom: -16px;
	margin: auto;
	left: 1px;
	right: 0;
}