{define title}
<div style="padding: 25px 0 5px 0">
    <h3 style="font-size: 24px; font-family: sans-serif; font-weight: normal; margin: 0">{_$caption}:</h3>
</div>
{/define}

{define table}







<div style="float: left;">
    <div style="background: white; display: inline-block; vertical-align: top; font-family: sans-serif; ">
        <div style="display: inline-block">
        <table style="border-collapse: collapse; color: #333; font-size: 14px;" cellpadding="0">
        {foreach $subjects as $subject}
        {var $teamPlayer = $subject->getTeamPlayer()}
        {php unset($teamPlayers[$teamPlayer->getId()])}
        
         {var $state = $subject->getAttendance()->getStatus()}
         {if $state == 1}
        <tr>
            <td style="vertical-align: top; text-align: left; line-height: 1.4;">
                <span style="margin:0 10px 10px 0;display: inline-block; background:#7BB838; padding-left:28px; padding-right:28px; line-height:40px; text-decoration: none; border-radius:5px; color:white; height:40px; font-size:16px;">Áno</span>
            </td>
            <td style='vertical-align: top; text-align: left; color: #47545c;font-family:"Helvetica", Roboto, Arial, sans-serif; font-size:16px;'>
               {$teamPlayer->getFirstName()} {$teamPlayer->getLastname()}<br />
           </td>
        </tr>
         {/if}
        {/foreach}
        
        </table>
        </div>
    </div>
</div>
{/define}

<div>
    {include #table, caption => 'Attendance', subjects => $subjects}
    <div style="clear: both"></div>
</div>