{define title}

{/define}

{php $GLOBALS['avgEfficiencies'] = []}

{define table}
<div style="padding: 0;">
    <div style="background: white; display: inline-block; vertical-align: top; border-radius: 3px; font-family: sans-serif;">
        <h3 style='font-size: 16px; font-weight: normal; padding:  0 0 10px 0; margin: 0; line-height: 1; background: white; color: #47545c;font-family:"Helvetica", Roboto, Arial, sans-serif; font-size:16px;'>{_$caption} <span style="color: #b8bcbe">({=count($subjects)})</span></h3>
        <div>
        <table style="border-collapse: collapse; color: #333; font-size: 13px;width:100%;">
        {var $sum = 0}{var $count = 0}
        {foreach $subjects as $subject}
        {var $teamPlayer = $subject->getTeamPlayer()}
        {var $playerStat = \Core\ServiceLayer::getService('PlayerStatManager')->getTeamPlayerStat($teamPlayer)}
        {var $lastGamesEfficiency = $playerStat->getLastGamesEfficiency()}
        {if $subject->getAttendance()->getStatus() == 1}
        <tr>
            <td style='padding: 10px 0; vertical-align: top; color: #47545c;font-family:"Helvetica", Roboto, Arial, sans-serif; font-size:16px;'>
                {$teamPlayer->getName()} {$teamPlayer->getLastname()}
                <div style="display: inline-block; background-color: #37424A; color: #fff; font-weight: normal; border-radius: 3px; font-size: 12px; padding: 5px 5px; line-height: 12px;">{=number_format($lastGamesEfficiency, 2, ',', ' ')}</div>
            </td>
        </tr>
        {php $sum += $lastGamesEfficiency}
        {php $count++}
        {/if}
        {/foreach}
        {php $GLOBALS['avgEfficiencies'][] = $count === 0 ? 0 : $sum / $count}
        </table>
        </div>
    </div>
</div>
{/define}


    {if !empty($lineup)}
        <div style="padding-bottom: 48px">
        {include #title, caption => 'Lineup'}
        <table style="border-collapse: collapse; padding: 0; width: 100%;">
            
            
            
            
        <tr>
            <td style="vertical-align: top; border-right: 1px solid #b8bcbe; padding-right: 20px;">{include #table, caption => $lineup->getFirstLineName(), subjects => $lineupSubjects['first_line']}
            </td>
            <td style="vertical-align: top; padding-left: 20px;">{include #table, caption => $lineup->getSecondLineName(), subjects => $lineupSubjects['second_line']}
             
            </td>
        </tr>
        
        
        
        
        
              
        <tr>
            <td style="vertical-align: top; border-right: 1px solid #b8bcbe; padding-right: 20px;"><br />
            <p style='font-size:14px; line-height: 14px;'>Priemerná<br>forma družstva<span style="font-size: 20px; margin-left:18px; font-weight:normal; color:#47545C;">{=number_format($GLOBALS['avgEfficiencies'][0], 2, ',', ' ')}</span></p>
                 

            </td>
            <td style="vertical-align: top; padding-left: 20px;"><br />
               <p style='font-size:14px; line-height: 14px;'>Priemerná<br>forma družstva<span style="font-size: 20px; margin-left:18px; font-weight:normal; color:#47545C;">{=number_format($GLOBALS['avgEfficiencies'][1], 2, ',', ' ')}</span></p>
            </td>
        </tr>
        
        
       
        </table>
        </div>
    {/if}
