/* iCheck plugin Square skin, grey
----------------------------------- */
.icheckbox_square-grey,
.iradio_square-grey {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: url(square.svg) no-repeat;
    border: none;
    cursor: pointer;
}
.icheckbox_square-grey.checked {
        background: url(check.svg) no-repeat;
		background-position: 0 -3px;
}

/*
.icheckbox_square-grey {
    background-position: 0 0;
}
    .icheckbox_square-grey.hover {
        background-position: -12px 0;
    }
    .icheckbox_square-grey.checked {
        background-position: -24px 0;
    }
    .icheckbox_square-grey.disabled {
        background-position: -36px 0;
        cursor: default;
    }
    .icheckbox_square-grey.checked.disabled {
        background-position: -48px 0;
    }

.iradio_square-grey {
    background-position: -60px 0;
}
    .iradio_square-grey.hover {
        background-position: -72px 0;
    }
    .iradio_square-grey.checked {
        background-position: -84px 0;
    }
    .iradio_square-grey.disabled {
        background-position: -96px 0;
        cursor: default;
    }
    .iradio_square-grey.checked.disabled {
        background-position: -108px 0;
    }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square-grey,
    .iradio_square-grey {
        background-image: url(grey.png);
        -webkit-background-size: 120px 12px;
        background-size: 120px 12px;
    }
}
*/