git{layout '../layouts/Mail.latte'}

{block footer}  

Registred user in Rufus.app <br />
                                       <a style="color:#00b3bd;text-decoration:none;" href="{$root}/profil#notify">change</a> email notications settings



    {/block}  
    
     {block mobile_app}
                            <table border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important; border-top:1px solid #EBECEC; border-bottom:1px solid #EBECEC;;">
                                <tbody><tr>
                                    <td valign="top" class="mcnTextContent" style='color: #47545c;font-family:"Helvetica", Roboto, Arial, sans-serif; font-size:14px; text-align:left;'>
                                        <div style="padding:18px 0">
                                        Get in on the action.
                                        The  Rufus  mobile app is free.<br />
                                         <a href="https://play.google.com/store/apps/details?id=com.altamira.rufus"><img style="margin-top:10px;" src="{$root}/theme/img/android-email.png?v=1" /></a>
                                         <a href="https://itunes.apple.com/sk/app/rufus-your-favourite-teammate/id1435067809?l=sk&mt=8"><img style="margin-top:10px;" src="{$root}/theme/img/ios-email.png" /></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody></table>
                                    {/block}