<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Coach Rufus</title>

<!--
        <link href="http://allfont.net/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css" />
        <link href="http://allfont.net/allfont.css?fonts=montserrat-bold" rel="stylesheet" type="text/css" />
        <link href="http://allfont.net/allfont.css?fonts=montserrat" rel="stylesheet" type="text/css" />
-->
        <style type="text/css">
            body {
                text-align: center;
                margin:0;
                padding:20px;
                background:#00b3bd;
                color:#47535c;
            }
            
            table {
                text-align: center;
                font-family: "Montserrat Light", Arial, sans-serif;
                font-size:14px;
                margin:auto;
                line-height:24px;
                border-collapse: collapse;
            }
            
            a {
                color:#00b3bd;
            }
            
            img.icon {
                    vertical-align: text-top;
            }
            
            .btn {
                padding:10px 20px;
                width:auto;
                border-radius:10px;
                text-align:center;
                color:white;
                font-size:18px;
                text-decoration: none;
            }
            
            .btn_green {
                background:#7ab837;
            }
            
            .btn_orange {
                background:#FF6D22;
            }
            
            .btn_red {
                background:#D73549;
            }
            
            

            .trans-button, .dark-button {
                display: inline-block;
                border: 1px solid white;
                border-radius: 8px;
                padding: 12px 24px 12px 12px;
                color: white;
            }

            .dark-button {
                background:#00759A;
                border:0;
                text-decoration: none;
            }
            .dark-button:hover {
                color:white;
            }
            
            #footer_cnt a {
                color:white;
            }
        </style>
    </head>
    <body style="background:#00b3bd; color: white; text-align: center;">
        <table style="text-align:center; margin:auto;">
           
            <tr>
                <td>
                     <table cellspacing="0" cellpadding="0" border="0" style="max-width:600px; width:100%;">
                <tr>
                    <td colspan='3' style="text-align:center; line-height: 0;"><img  width="86" height=125 src="/img/mail/top-t.jpg"  /></td>
                </tr>
                <tr>
                    <td style="vertical-align:bottom;width:19px; background:white;"> <img  width="19" height="67" src="/img/mail/lftc.jpg"  /></td>
                    <td style="background: white;"><img  width="86" height=67 src="/img/mail/top-b.jpg"  /></td>
                    <td style="vertical-align:bottom;width:19px; background:white;"> <img  width="19" height="67" src="/img/mail/rgtc.jpg"  /></td>
                </tr>
            </table>
                    <table style="background:white;max-width:600px; width:100%;color:#47535c; border-radius: 0 0 20px 20px">
                        <tr>
                            <td>
                                <div style="padding:10px">
                                {block content}{/block}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><br />
                                <hr style="border:0; overflow: hidden; height: 1px; background: #D2D6DE;" /><br />
                                <div style="color: #47545C;font-size: 13px; padding-bottom: 10px">Sleduj nás na facebooku</div>
                                <div>
                                    <a
                                        title="Coach Rufus Facebook"
                                        href="https://www.facebook.com/CoachRufus-SK-1682136118713039/?fref=ts"><img width="209" height="45" src="/img/mail/fb.png" /></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="footer" style="color:white; padding-bottom: 55px;">
                    <div style="padding-top:20px"><img style="width:150px" src="/img/mail/footer.png" /></div>
                    <span style="line-height: 1.0; font-size: 12px">2016 © TEAM MANAGMENT - <a style="color: white; text-decoration: none;" href="mailto:info@coachrufus.com">info@coachrufus.com</a></span>
                    <table id="footer_cnt" style="max-width:600px; width:100%; color:white;">
                        <tr>
                            <td style="line-height: 1.4; font-size: 12px; color:white;">{block footer}{/block}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>