{layout '../layouts/Mail.latte'}
{block content}
 @subject: Pripomienka na aktiváciu účtu

<p class="p-text">
    Ahoj{$user_name},<br /><br />
    rád by som ti pripomenul, že si nepotvrdil svoju registráciu do mojej appky a ja ti bez toho nemôžem vytvoriť konto.

Ak si sa nezľakol, že sa pri športe trochu zapotíš, klikni na toto tlačidlo:</p>

<a  class="btn_green" href="{$root}/{$lang}/register/activation/{$activationGuid}">Aktivácia účtu</a>


<p class="p-text">
    Ak ti nefunguje tlačidlo, stačí ak skopíruješ nasledovnú linku<br /> do webového prehliadača.
     <textarea style='text-align:left; color:#00b3bd; width:100%; font-size:16px;  font-family:"Helvetica", Roboto, Arial, sans-serif; border:0;'>{$root}/{$lang}/register/activation/{$activationGuid}</textarea>


     Máš na to ešte 5 dní.<br /><br /></p>


<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>

</p>
{/block}
