{layout '../layouts/Mail.latte'}
{block content}
    @subject: Výzva k pridaniu hodnotenia pre event: {$event->getName()}
    
    Čau, máme po zápase - dúfam, že sa nikto nezranil.<br />  
Nezabudni pridať hodnotenie hráčov, nech presne vedia, kto musí do budúcna najviac pridať. <br /> 


    
    
  
    <p><a class="btn btn_green" target="_blank" href="{$root}/notifications/event-rate/{$eventDetailGuid}">Pridaj hodnotenie</a></p><br />
    Výdrž a úsmev želá Rufus.
   
{/block}

{block footer}
<p>Ak chcete deaktivovať posielanie notifikácií prosím kliknite sem: <a href="{$root}/notifications/deactivate/{$deactivateNotificationGuid}">Deaktivovať</a></p>
{/block}