{layout '../layouts/Mail.latte'}
{block content}
@subject: Zapísanie štatistík zo zápasu: {$event->getName()}

<p class="p-text">
    Ahoj {$user_name},<br /><br />
    záverečný hvizd zaznel - konečný výsledok už nezmeníš.  <br />
    Nezabudni zapísať zápasové štatistiky, nech vieme, komu sa dnes najviac darilo.   <br />
</p>



<a class="btn_green" target="_blank" href="{$root}/notifications/event-statistics/{$eventDetailGuid}">Zapísať štatistiky</a>


   
<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>
{/block}

