{layout '../layouts/Mail_en.latte'}
{block content}
@subject: Insert  Game stats: {$event->getName()}

<p class="p-text">
    Hey {$user_name},<br /><br />
   last whistle is gone – you can’t change the result.<br />
    Don’t forget to insert statistics from the game, so we know who did the best today.   <br />
<p>


<a class="btn_green" target="_blank" href="{$root}/notifications/event-statistics/{$eventDetailGuid}">Insert Game Stats</a>


<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>
{/block}

