{layout '../layouts/Mail.latte'}
{block content}
@subject: Tvoj tím nemá žiadnych hráčov

<p class="p-text">
    Ahoj{$user_name},<br /><br />
od tvojho posledného prihlásenia ubehlo už 14 dní a tvoje mužstvo je stále ľudoprázdne.
Čo sa deje? Skautuješ po Európe a ešte si sa nevrátil?
Hráčov ti pomôžem nájsť aj ja. Vyskúšaj môj vyhľadávací modul.</p>

<a class="btn_green" target="_blank" href="{$root}/scouting">Vyhľadaj hráčov</a>
<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>
{/block}
