{layout '../layouts/Mail_en.latte'}
{block content}
@subject: Add new players to your team

<p class="p-text">
    Hey{$user_name},<br /><br />
it’s already 14 days since your last visit and your team has no members. 
What’s going on? Are you scouting around Europe and not back yet?
I can help you to find new teammates! Try my scouting module here:</p>

<a class="btn_green" target="_blank" href="{$root}/scouting">Find new players</a>
<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>
    
{/block}

