{layout '../layouts/Mail_en.latte'}
{block content}
 @subject: Account Activation


<p class="p-text">
    Hey{$user_name},<br /><br />
One more step before using the app.<br />
Activate your account by clicking on the button „Account Activation“
 </p>
<a class="btn_green" href="{$root}/{$lang}/register/activation/{$activationGuid}"> Account Activation</a>

 <p class="p-text">
   If clicking the button doesn’t work, please copy this link<br /> into your browser.<br />
     <textarea style='text-align:left; color:#00b3bd; width:100%; font-size:16px;  font-family:"Helvetica", Roboto, Arial, sans-serif; border:0;'>{$root}/{$lang}/register/activation/{$activationGuid}</textarea>
    <br />
If you don’t activate your Account, it will expire in 10 days.    <br />    <br /></p>

  <p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>
    
{/block}

