{layout '../layouts/Mail.latte'}
{block content}
 @subject: Aktivácia účtu


 <p class="p-text">
         Ahoj{$user_name},<br /><br />
už len jeden krôčik a môžeš začať naplno.<br />
Aktivuj si svoj účet kliknutím na tlačidlo Aktivácia účtu
</p>
<a class="btn_green" href="{$root}/{$lang}/register/activation/{$activationGuid}"> Aktivácia účtu</a>
 <p class="p-text">
   Ak ti tlačidlo nefunguje, skopíruj nasledovnú linku<br /> do webového prehliadača.<br />
    <textarea style='text-align:left; color:#00b3bd; width:100%; font-size:16px;  font-family:"Helvetica", Roboto, Arial, sans-serif; border:0;'>{$root}/{$lang}/register/activation/{$activationGuid}</textarea>

<br />
Ak si neaktivuješ svôj účet, expiruje ti o 10 dní.<br /><br /></p>

 <p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>
  
{/block}
