{layout '../layouts/Mail.latte'}
{block content}
    @subject: Ďakujeme za nákup balíku {$package_name}
    <div>
        <h1>Ďakujeme za nákup balíku {$package_name}</h1>
        <p>Lorem ipsum</p>
    </div>

    <div>
        <a target="_blank" href="{$invoicePdfLink}">Zobraziť faktúru</a>
    </div>
{/block}

{block footer}
<p>Ak chcete deaktivovať posielanie notifikácií prosím kliknite sem: <a href="{$root}/notifications/deactivate/{$deactivateNotificationGuid}">Deaktivovať</a></p>
{/block}