{layout '../layouts/Mail_en.latte'}
{block content}
@subject: Excluded from nomination

 {var $team = $event->getTeam()}
<div style="text-align:center;">
  
  
   
   
   <strong style="font-size: 14px; color: #47545C">
         Hey there, <br />
        unfortunately all places in the roster have been taken by regular players and there is no one left. <br /><br />
        <span style="color: #00bfca"><a href="{$root}/event/{$event->getId()}/{$event->getCurrentDate()->format('Y-m-d')}">{$event->getName()}</a></span>
         
         <br /><br />
         
    </strong>
         
        <div style="font-size: 24px; color: #00bfca; padding: 10px 0 10px 0;">{!$event->getFormatedCurrentDate()}</div>
      
        <strong>Team {$team->getName()}</strong>
    <br /><br />
         Don't worry, apply for it next time you receive a nomination and show everyone how valuable player you are!
         
   <br /><br />
 Good Luck, Yours Rufus
</div>
{/block}

