{layout '../layouts/Mail.latte'}
{block content}
    {var $team = $event->getTeam()}
    {var $teamPlayer = $subject->getTeamPlayer()}
    {var $playgroundData = empty($event->getPlaygroundData()) ? null : (object)$event->getPlaygroundDataAsArray()}
    @subject: Súpiska na zápas {$event->getName()}
    
    
      <p class="p-text">
    Ahoj  {$teamPlayer->getName()} {$teamPlayer->getLastname()},<br /><br />
    tu je sumarizácia kto sa zúčastní udalosti <br /><br />
   <a class="link" href="{$root}/event/{$event->getId()}/{$event->getCurrentDate()->format('Y-m-d')}">{$event->getName()}</a> (Team {$team->getName()})<br />
    {!$start|formatDate}<br />
    {if !is_null($playgroundData)}
        {$playgroundData->name}<br /><br />
    {/if}
</p>
    
   
    {$summary|noescape}
   
    
        <p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>
{/block}
