{layout '../layouts/Mail.latte'}
{block content}
@subject: Vyradenie z nominácie

 {var $team = $event->getTeam()}
<div style="text-align:center;">
  
  
   
   
   <strong style="font-size: 14px; color: #47545C">
         Ahoj, <br />
        nakoniec sa do nominácie na túto akciu dostali stabilné opory a na teba tentokrát miesto nezvýšilo. <br /><br />
        <span style="color: #00bfca"><a href="{$root}/event/{$event->getId()}/{$event->getCurrentDate()->format('Y-m-d')}">{$event->getName()}</a></span>
         
         <br /><br />
         
    </strong>
         
        <div style="font-size: 24px; color: #00bfca; padding: 10px 0 10px 0;">{!$event->getFormatedCurrentDate()}</div>
      
        <strong>Team {$team->getName()}</strong>
    <br /><br />
         Nevadí, určite sa prihlás nabudúce, keď Ti príde pozvánka a všetkým ukáž, že na to máš!
         
   <br /><br />
Veľa šťastia želá Rufus.
</div>
{/block}

{block footer}
<p>Ak chcete deaktivovať posielanie notifikácií prosím kliknite sem: <a href="{$root}/notifications/deactivate/{$deactivateNotificationGuid}">Deaktivovať</a></p>
{/block}