{layout '../layouts/Mail.latte'}
{block content}
  {var $team = $event->getTeam()}
    {var $playgroundData = empty($event->getPlaygroundData()) ? null : (object)$event->getPlaygroundDataAsArray()}
    @subject: Pozvánka na zápas {$event->getName()}


    
    <p class="p-text">
    Ahoj {$user_name},<br /><br />
    vďaka skvelým výkonom si sa dostal do nominácie na tento zápas:<br /><br />
    
    <a class="link" href="{$root}/event/{$event->getId()}/{$event->getCurrentDate()->format('Y-m-d')}">{$event->getName()}</a> (Team {$team->getName()})<br />
    {!$start|formatDate}<br />
    {if !is_null($playgroundData)}
        {$playgroundData->name}<br /><br />
    {/if}
    Zúčastníš sa?
    
    </p>
    
    <a class="btn_light_green" href="{$root}/notifications/event-in/{$eventInGuid}">ÁNO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn_red" href="{$root}/notifications/event-out/{$eventOutGuid}">NIE</a>
    
   
<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>
    

   
{/block}

