{layout '../layouts/Mail_en.latte'}
{block content}
  {var $team = $event->getTeam()}
    {var $playgroundData = empty($event->getPlaygroundData()) ? null : (object)$event->getPlaygroundDataAsArray()}
    @subject: Game Invitation
    

      <p class="p-text">
   Hey {$user_name},<br /><br />
    you did great in last couple of games and you have been nominated for this game:<br /><br />
    
    <a class="link" href="{$root}/event/{$event->getId()}/{$event->getCurrentDate()->format('Y-m-d')}">{$event->getName()}</a> (Team {$team->getName()})<br />
    {!$start|formatDate}<br />
    {if !is_null($playgroundData)}
        {$playgroundData->name}<br /><br />
    {/if}
    Will you attend?
    
    </p>
    
    <a class="btn_light_green" href="{$root}/notifications/event-in/{$eventInGuid}">YES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn_red" href="{$root}/notifications/event-out/{$eventOutGuid}">NO</a>
    
   
<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>


    
   
   
{/block}
