{layout '../layouts/Mail.latte'}
{block content}
    {var $team = $event->getTeam()}
    {var $teamPlayer = $subject->getTeamPlayer()}
    {var $playgroundData = empty($event->getPlaygroundData()) ? null : (object)$event->getPlaygroundDataAsArray()}

    @subject:  Sumár dochádzky {$event->getName()}

    <p class="p-text">
    Ahoj  {$teamPlayer->getName()} {$teamPlayer->getLastname()},<br /><br />
    tu je sumarizácia kto sa zúčastní udalosti <br /><br />
   <a class="link" href="{$root}/event/{$event->getId()}/{$event->getCurrentDate()->format('Y-m-d')}">{$event->getName()}</a> (Team {$team->getName()})<br />
    {!$start|formatDate}<br />
    {if !is_null($playgroundData)}
        {$playgroundData->name}
    {/if}
</p>
    
     <a class="btn_green" href="{$root}/notifications/event-lineup/{$eventDetailGuid}">Vytvor súpisku </a>
    
     <p class="p-text">Dochádzka {$event->getAttendanceInSum()} / {$event->getCapacity()}<br /><br /></p>


     
     
   
    <p style="padding:10px 0;"><a style="padding: 10px 20px;display:inline-block; border-radius: 10px; color:white; background:#ff6d22; text-align: center; text-decoration: none; font-size:16px;" class="btn btn_orange" href="{$root}/notifications/event-lineup/{$eventDetailGuid}">Vytvor súpisku </a></p>

    


    <div style="padding-bottom: 20px">
    {$summary|noescape}
    </div>
    
    
    <p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>
{/block}
