{layout '../layouts/Mail_en.latte'}
{block content}
    {var $team = $event->getTeam()}
    {var $teamPlayer = $subject->getTeamPlayer()}
    {var $playgroundData = empty($event->getPlaygroundData()) ? null : (object)$event->getPlaygroundDataAsArray()}
    @subject: Game Roster
    
    
    
      <p class="p-text">
    Hey  {$teamPlayer->getName()} {$teamPlayer->getLastname()},<br /><br />
    the kick-off is in a bit. This is your team summary <br /><br />
   <a class="link" href="{$root}/event/{$event->getId()}/{$event->getCurrentDate()->format('Y-m-d')}">{$event->getName()}</a> (Team {$team->getName()})<br />
    {!$start|formatDate}<br />
    {if !is_null($playgroundData)}
        {$playgroundData->name}
    {/if}
</p>
    
     <a class="btn_green" href="{$root}/notifications/event-lineup/{$eventDetailGuid}">Create lineup </a>
    
     <p class="p-text">Attendance {$event->getAttendanceInSum()} / {$event->getCapacity()}<br /><br /></p>

    <div style="padding-bottom: 20px">
    {$summary|noescape}
    </div>
    
    
    <p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>
    
    
   
{/block}