{layout '../layouts/Mail.latte'}
{block content}
 @subject: Floorball Challenge - aktivácia tímu

 <p>TEXT<br />

</p>
<br />
<a class="btn btn_green" href="{$root}/floorball-challenge/activation/{$activationGuid}"><img  class="icon" src="https://gallery.mailchimp.com/2aa9f5929526642cf5c10655d/images/694ba171-4572-418e-9725-695cab920a9e.png" /> Aktivácia tímu 	</a>
<br />
<p>
    Ak ti nefunguje tlačidlo, stačí ak skopíruješ nasledovnú linku<br /> do webového prehliadača.<br />
    <br />
     <textarea>{$root}/floorball-challenge/activation/{$activationGuid}</textarea>
   
    <br />
</p>


<br />
Veľa šťastia, tvoj Rufus


{/block}
