{layout '../layouts/Mail.latte'}
{block content}
 @subject: Posledná pripomienka na aktiváciu účtu

<p class="p-text">
    Ahoj{$user_name},<br /><br />
    stále si nepotvrdil svoju registráciu do appky a ja ti bez toho naozaj nemôžem vytvoriť konto.

Ak si sa nezľakol, že sa pri športe trochu spotíš, klikni na toto tlačidlo:</p>
<a class="btn_green" href="{$root}/{$lang}/register/activation/{$activationGuid}"> Aktivácia účtu</a>
 <p class="p-text">
   Ak ti tlačidlo nefunguje, stačí ak skopíruješ nasledovnú linku<br /> do webového prehliadača.<br />
     <textarea style='text-align:left; color:#00b3bd; width:100%; font-size:16px;  font-family:"Helvetica", Roboto, Arial, sans-serif; border:0;'>{$root}/{$lang}/register/activation/{$activationGuid}</textarea>
<br />
Nezabudni, máš na to posledných 24 hodín.<br /><br /></p>

<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>

  
{/block}



{block footer}
Ak chcete deaktivovať posielanie notifikácií prosím kliknite sem: <a  style="color:#00b3bd;text-decoration:none;"  href="{$root}/notifications/deactivate/{$deactivateNotificationGuid}">Deaktivovať</a>
{/block}