{layout '../layouts/Mail_en.latte'}
{block content}
 @subject: Account Activation Last Reminder

<p class="p-text">
    Hey{$user_name},<br /><br />
    let me remind you that you din’t confirm registration into my app and I cannot activate your Account without this step.

If you are not affraid to get sweaty a bit, click on this button:</p>
<a class="btn_green" href="{$root}/{$lang}/register/activation/{$activationGuid}"> Account Activation</a>
 <p class="p-text">
   If clicking the button doesn’t work, please copy this link <br /> into your browser.<br />
     <textarea style='text-align:left; color:#00b3bd; width:100%; font-size:16px;  font-family:"Helvetica", Roboto, Arial, sans-serif; border:0;'>{$root}/{$lang}/register/activation/{$activationGuid}</textarea>


<br />
If you don’t activate your Account, it expires in 24 days.<br />
<br /></p>
<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>

  
{/block}


{block footer}
If you want to deactivate the notifications please click here: <a  style="color:#00b3bd;text-decoration:none;"  href="{$root}/notifications/deactivate/{$deactivateNotificationGuid}">Deactivate</a>
{/block}
