{layout '../layouts/Mail_en.latte'}
{block content}
@subject: Game Results: {$event->getName()}

<p class="p-text">
    Hey {$user_name},<br /><br />
     the game is over and you cannot change the result. Look who did the best!
<p>

 
 <a class="btn_green" target="_blank" href="{$root}/notifications/event-rate/{$eventDetailGuid}">Game Results</a>
   
    {ifset $eventDetailGuid}
    <p class="p-text">And don’t forget to rate all players so that they know, who should work harder next time!   <br /><br /> </p>
   
   

     {/ifset}
    
    
   <br />
    
<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>
   
{/block}
