{layout '../layouts/Mail.latte'}
{block content}
@subject: Výsledky zápasu: {$event->getName()}

<p class="p-text">
    Ahoj {$user_name},<br /><br />
   hrali ste tak, ako ste hrali. Dopadlo to tak, ako to dopadlo.</p>
Pozri sa, komu sa darilo najviac<br />
</p>


 <a class="btn_green" target="_blank" href="{$root}/notifications/event-rate/{$eventDetailGuid}">Výsledky zápasu</a>
   
    {ifset $eventDetailGuid}
        <p class="p-text">A nezabudni pridať hodnotenia hráčom, nech presne vedia, kto musí do budúcna najviac pridať.  <br /><br />  </p> 
     {/ifset}
    

    
   <p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>
   
{/block}
