{layout '../layouts/Mail_en.latte'}
{block content}
@subject: New message

<h1> New message</h1>
<div style="text-align:center;">Hey<br />
    You have new message from {$sender_name}<br /><br />
    <a  class="btn btn_green" href="{$root}/message/team-player/detail?mid={$mid}">Read now</a>
</div>
{/block}
