{layout '../layouts/Mail.latte'}
{block content}
@subject: Nová správa

<h1>Nová správa</h1>
<div style="text-align:center;">Ahoj<br />
    Máš novú správu od {$sender_name}<br /><br />
    <a  class="btn btn_green" href="{$root}/message/team-player/detail?mid={$mid}">Prečítať</a>
</div>
{/block}

