{layout '../layouts/Mail.latte'}
{block content}
 @subject: Platnosť ročnej licencie


<p class="p-text">
O 7 dní vám uplynie platnosť ročnej licencie CoachRufus PRO a bude vám účtovaná platba na ďalší rok. Teší nás, že používate appku CoachRufus.<br /><br />
 
</p>

<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>

{/block}
