{layout '../layouts/Mail.latte'}
{block content}
 @subject: Platba prijatá
 
 <p class="p-text">
    Ďakujeme,<br /><br />
   vašu platbu sme prijali. Veľa príjemných športových zážitkov želá CoachRufus.<br /> <br /> 
</p>
<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>

{/block}
