{layout '../layouts/Mail_en.latte'}
{block content}
 @subject: Payment received 
 
 <p class="p-text">
    Thank you,<br /><br />
    Your payment has been received.  We wish you many pleasant sport experiences.<br /><br />
<p>


<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>
    

{/block}
