{layout '../layouts/Mail_en.latte'}
{block content}
 @subject: Year license notify


<p class="p-text">
 Your license will expire in 7 days and next payment will by automaticaly paid from your account. We glad that you using Cachrufus app <br /> <br />


</p>
<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>

{/block}
