{layout '../layouts/Mail_en.latte'}
{block content}
 @subject: New player in team
 
 <p class="p-text">
    Hey {$user_name},<br /><br />
   Great news!<br /><br />
   {$sender_name} want to by member of your {$team_name}, because he believes that he can be the one to help you win.<br />
   You can approve his request in <a href="{$management_link}">player management.</a> <br /><br />
<p>


<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>


{/block}
