{layout '../layouts/Mail.latte'}
{block content}
 @subject: Nový hráč v tíme
 
 <p class="p-text">
    Ahoj {$user_name},<br /><br />
    mám skvelé správy!<br /><br />
    {$sender_name}  by chcel hrať v tvojom mužstve {$team_name}, pretože verí, že sa môže stať rozdielovým hráčom.<br />
    Jeho žiadosť môžeš potvrdiť v <a href="{$management_link}">menežmente hráčov</a>.<br /><br />
</p>

<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>


{/block}
