{layout '../layouts/Mail_en.latte'}
{block content}
@subject: New Team Invitation

<p class="p-text">
    Hey {$user_name},<br /><br />
    Great news!<br /><br />
    {$sender_name} has just invitedyou to his team  {$team_name} in my application CoachRufus. If you do not fear of getting sweaty a bit, confirm the invitation by creating an Account here:
<p>
    
<a class="btn_green" href="{$invite_link}">Create Account </a>

<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>
    
    {/block}


    {block footer}

    {/block}
