{layout '../layouts/Mail_en.latte'}
{block content}
 @subject: {$player_name} left {$team_name}

 <p class="p-text">
    Ahoj {$user_name},<br /><br />
     Player {$player_name} left your team {$team_name}. If you need a new player, try to find it in the <a class="link" href="{$scouting_link}">scouting module</a>.
</p>
  <a  class="btn_green" href="{$scouting_link}">Find new player</a>
<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>

{/block}
