{layout '../layouts/Mail.latte'}
{block content}
@subject: Pripoj sa k tímu: {$team_name}
 <p class="p-text">
Ahoj,<br /><br />
mám skvelé správy!<br /><br />
{$sender_name} ťa práve pozval do svojho mužstva {$team_name}, pretože verí, že sa môžeš stať rozdielovým hráčom.
Neváhaj, lebo ti miesto v šatni niekto obsadí.  <br />
 </p>



    <a  class="btn_light_green" href="{$accept_link}">Akceptovať</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <a class="btn_red" href="{$decline_link}">Zamietnuť</a>

    <br />
    
    Veľa šťastia,<br /> 
    tvoj Rufus.
{/block}
