{layout '../layouts/Mail.latte'}
{block content}
 @subject: Tím {$team_name} bol zmazaný
 
<p class="p-text">
    Ahoj {$user_name},<br /><br />

   Tím {$team_name} bol zrušený manažérom tímu. Ak by ti bodla náhrada, skús si vyhľadať nový tím vo <a class="link" href="{$scouting_link}">vyhľadávacom module</a>.
</p>


<a  class="btn_green" href="{$scouting_link}">Vyhľadať nový tím</a>


<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>

{/block}
