{layout '../layouts/Mail.latte'}
{block content}
 @subject: Zamietnutie žiadosti o pridanie do tímu
<p class="p-text">Ahoj {$user_name}<br /><br />
    {$sender_name} zamietol tvoju žiadosť o pridanie do tímu  {$team_name}.
    Keď potrebuješ, pomôžem ti <a class="link" href="{$root}/scouting">nájsť vhodný tím</a>, alebo sám pozvi nových hráčov do svojho tímu.
   </p>
     <p class="p-text"><a class="btn_green" target="_blank" href="{$root}/team/create">Vytvoriť tím</a></p>
     
 <p class="p-text">    
     Veľa šťastia,<br />
tvoj Rufus
</p>


{/block}
