{layout '../layouts/Mail_en.latte'}
{block content}
 @subject: „Add me to your Team“ Request declined
<p class="p-text">Hey  {$user_name}<br /><br />
    {$sender_name} declined your request to join their team   {$team_name}.<br /><br />
</p>

<p class="p-text">
Good Luck,<br /> Yours Rufus
</p>
{/block}
