{layout '../layouts/Mail_en.latte'}
{block content}
@subject: New Team Invitation
 <p class="p-text">
Hey there!<br /><br />
Great news!<br /><br /> 
{$sender_name} has just invited you to his team  {$team_name}, because he believes that you might be the one to help them win.
Don’t hesitate too long, someone else could take your seat in the changing room. <br />
 </p>



     <a  class="btn_light_green" href="{$accept_link}">Accept </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a class="btn_red" href="{$decline_link}">Decline</a>

    <br />
    
    Good Luck,<br /> 
    Yours Rufus
{/block}

