{layout '../layouts/Mail_en.latte'}
{block content}
 @subject: Team {$team_name} has been deleted
 
 
<p class="p-text">
    Hey {$user_name},<br /><br />
    Tím {$team_name} has been deleted by the team manager. If you need a new team, try to find it in the <a class="link" href="{$scouting_link}">scouting module</a>.
<p>
    
    <a  class="btn_green" href="{$scouting_link}">Find new team</a>
    
<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>

{/block}
