{layout '../layouts/Mail.latte'}
{block content}
 @subject: {$player_name} opustil  {$team_name}
 
 <p class="p-text">
    Ahoj {$user_name},<br /><br />
    Hráč {$player_name} opustil tvoj tím {$team_name}. Ak by vám bodla náhrada, skúste ju nájsť vo <a class="link" href="{$scouting_link}">vyhľadávacom module</a>.
</p>

<a  class="btn_green" href="{$scouting_link}">Nájsť nového hráča</a>

<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>
{/block}
