{layout '../layouts/Mail.latte'}
{block content}
 @subject: Potvrdenie žiadosti o pridanie do tímu
<p class="p-text">Ahoj {$user_name}<br /><br />
    {$sender_name} potvrdil tvoju žiadosť o pridanie do tímu  {$team_name}.
   </p>
     
     
 <p class="p-text">    
     Veľa šťastia,<br />
tvoj Rufus
</p>


{/block}
