{layout '../layouts/Mail.latte'}
{block content}
@subject: Zaregistruj sa a pripoj sa k tímu: {$team_name}
<p class="p-text">
    Ahoj {$user_name},<br /><br />
    skvelá správa!<br /><br />
    {$sender_name} ťa pozval do tímu {$team_name} v mojej aplikácii CoachRufus. Ak máš chuť poriadne sa zapotiť, potvrď pozvánku vytvorením účtu 
</p>

<a class="btn_green" href="{$invite_link}">Vytvoriť účet </a>


<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>
    {/block}


    {block footer}

    {/block}
