{layout '../layouts/Mail.latte'}
{block content}
 @subject: Rejected participation in tournament
 
 <p class="p-text">
    Hi {$user_name},<br /><br />
    Your team {$team_name} has been rejected for participation in tournament {$tournament_name}.
</p>
<br />

<p class="p-text">  
    Good Luck,<br /> 
    tvoj  Rufus. 
<p>
{/block}
