{layout '../layouts/Mail.latte'}
{block content}
 @subject: New team in tournament  {$tournament_name}
 
 <p class="p-text">
    Hi {$user_name},<br /><br />
   Team {$team_name} would like to join your tournament {$tournament_name}.  
</p>
<br />

<p class="p-text">  
    Good Luck, <br />
    Yours Rufus
<p>
{/block}
