{layout '../layouts/Mail.latte'}
{block content}
 @subject: Vitaj v turnaji!
 
 <p class="p-text">
    Ahoj {$user_name},<br /><br />
    Skvelá správa!<br />
    Administrátor turnaja  {$tournament_name} potvrdil  účasť tvojho tím {$team_name} v turnaji.
</p>
<br />

<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj  Rufus. 
<p>
{/block}
