{layout '../layouts/Mail.latte'}
{block content}
 @subject: Nový tím v turnaji!
 
 <p class="p-text">
    Ahoj {$user_name},<br /><br />
   Tím {$team_name} by sa rád zúčastnil tvojho turnaja {$tournament_name}. Potvrdiť ho môžeš v apke v správe tímov.
</p>
<br />

<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj  Rufus.
<p>
{/block}
