{layout '../layouts/Mail.latte'}
{block content}
@subject: Spravuj tím {$teamName}

Ahoj,<br />
mám skvelé správy!<br />
Administrátor turnaja {$tournamentName} ťa práve pozval administrovať tím  {$teamName} .<br />


<div style="text-align:center;">
    <a style="margin-right:10px; padding: 10px 20px;display:inline-block; border-radius: 10px; color:white; background:#7ab837; text-align: center; text-decoration: none; font-size:16px;" class="btn" href="{$acceptLink}">Akceptovať</a>&nbsp;&nbsp; <a style="padding: 10px 20px;display:inline-block; border-radius: 10px; color:white; background:#D73549; text-align: center; text-decoration: none; font-size:16px;" class="btn" href="{$declineLink}">Zamietnuť</a>
</div>
    <br />
    
    Veľa šťastia, tvoj Rufus.
{/block}
