{layout '../layouts/Mail.latte'}
{block content}
 @subject: Welcome in tournament!
 
 <p class="p-text">
    Hi {$user_name},<br /><br />
    Great news!<br />
    Your team {$team_name} has been approved for participation in tournament {$tournament_name}.
</p>
<br />

<p class="p-text">  
    Good Luck,<br /> 
    Yours Rufus.
<p>
{/block}
