{layout '../layouts/Mail.latte'}
{block content}
@subject: Zatiaľ nie si zaregistrovaný v žiadnom teame
<p class="p-text">
    Ahoj{$user_name},<br /><br />
    od tvojho posledného prihlásenia ubehlo už 14 dní a ty ešte stále nemáš žiadny tím.
Keď potrebuješ, môžem ti pomôcť nájsť vhodný tím, alebo môžeš sám pozvať nových hráčov do svojho tímu.
 </p>
<a class="btn_green" target="_blank" href="{$root}/team/create">Vytvoriť tím</a>


<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>

    
    
    
{/block}
