{layout '../layouts/Mail.latte'}
{block content}
 @subject: Nezaznamenali sme žiadnu aktivitu
     <p class="p-text">
Čau, od tvojho posledného prihlásenia ubehlo už 14 dní a od teba žiadny zápis o góle alebo prihrávke.<br />
Čo sa deje? Dúfam, že si sa nezranil. </p><br />
Výdrž a úsmev želá Rufus.

    
    
    
{/block}
