{layout '../layouts/Mail_en.latte'}
{block content}
@subject: Create a Team
<p class="p-text">
    Hey{$user_name},<br /><br />
    it’s already 14 days since your last visit and you still don’t have a team. <br />
I can help you to find a team for you or to invite new players to your team.
     </p>
     <a class="btn_green" target="_blank" href="{$root}/team/create">Create a Team</a>


<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>

    
    
    
{/block}

