{layout '../layouts/Mail.latte'}
{block content}
 @subject: Potvrdenie emailu
<p class="p-text">
    Ahoj{$user_name},<br /><br />
    Ďakujem, že si sa zaregistroval do mojej appky. </p>
 
  <p class="p-text">Už len taká drobnosť - potvrď, prosím, svoj email kliknutím na toto tlačidlo:</p>
<a class="btn_green" href="{$root}/{$lang}/register/activation-email/{$activationGuid}">Potvrdiť</a>

<p class="p-text">  
    Veľa šťastia,<br /> 
    tvoj Rufus.
<p>

{/block}

