{layout '../layouts/Mail_en.latte'}
{block content}
 @subject: E-mail Verification
<p class="p-text">
    Hey{$user_name},<br /><br />
    Thanks for registering in my app.</p>
 
 <p class="p-text">Just one last step ahead – please verify your e-mail by clicking on this button:</p>
<a class="btn_green" href="{$root}/{$lang}/register/activation-email/{$activationGuid}"> Verify</a>


<p class="p-text">
    Good Luck, <br />
    Yours Rufus
<p>

{/block}

