.menu-main {
    background: #F5F5F6;
}

.sidebar-menu > li > a > span, .sidebar-menu > li > a:hover > span {
    color:#47545C;
}

.sidebar-menu > li > a:hover, .sidebar-menu > li > a.active {
    background: white;
}

.content-wrapper, .right-side, body {
    background-color: #F5F5F6;
}
.content-wrapper {
    border-left: 1px solid #EBECEC;
}

.main-header > .navbar {
    background: white;
}

.content-header > .breadcrumb > li > a {
    color: #999FA3;
}