
@font-face {
font-family: 'Montserrat';
font-weight: 100;
src: url("font/montserrat/Montserrat-Regular.otf") format("opentype");
}

@font-face {
font-family: 'Montserrat';
font-weight: bold;
src: url("font/montserrat/Montserrat-Bold.otf") format("opentype");
}
@font-face {
font-family: 'Montserrat';
font-weight: 100;
src: url("font/montserrat/Montserrat-Light.otf") format("opentype");
}




/*
@font-face {
font-family: 'Montserrat';
src: url('font/montserrat/montserrat.ttf') format('truetype');
font-style: normal;
font-weight: 400;
}
@font-face {
font-family: 'Montserrat';
src: url('font/montserrat/montserrat-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
font-family: 'Montserrat';
src: url('font/montserrat/montserrat-light.ttf') format('truetype');
  font-style: normal;
    font-weight: lighter;
}
*/


body {
  font-family: 'Montserrat',Helvetica, 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-header {
    z-index: 1040;
}


.bg_turq {
    background:#3BB3BF;
}
.bg_green {
    background:#81B82B;
}
.bg_orange {
    background:#F66B0A;
}
.bg_gray {
    background:#60686D;
}
.bg_red {
    background:#CE3346;
}
.bg_dark {
    background:#4B555C;
}

.border-row {
    border-bottom:1px solid #60686D;
    padding:10px 0;
    margin-bottom:10px;
}

.upload-wrap {
    text-align:center;
}

.round_btn {
    width:26px;
    height:26px;
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding:3px;
}

.round_btn .ico {
    width:20px;
    height:20px;
}

.bnt_cancel {
    color: #60686D;
    line-height: 40px;
    text-transform: uppercase;
}

blockquote {
    font-size: 13px;
}

blockquote blockquote{
    font-size: 12px;
}

blockquote blockquote blockquote{
    font-size: 11px;
}

.widget{
    margin-bottom:20px;
}

.banner-widget img {
    max-width: 100%;
    max-height: 100%;
}

.widget .panel-default {
height: 415px;
    overflow: hidden;
}


.widget .panel-tournament {
    height:265px;
}

.tournament_event_list_row .action-cell {
    float:right;
}
.tournament_event_list_row .action-cell .match-result {
   font-size:22px;
   display:block;
   text-align: center;
}

.tournament_event_list_row .action-cell a {
    color:white;
}
.tournament_event_list_row .action-cell a:hover {
    color:#00B3BE;
}


.pac-container {
    z-index: 1051 !important;
}

.clear-dropdown {
    background: none;
    border: 0;
    color: #47545C;
    font-size: 12px;
}

.fake-link {
    cursor:pointer;
}

.btn-group.open .clear-dropdown {
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #ffffff;
    color: #60686D;
}

.collapse-trigger-collapsed .ico-minus-g {
    display:none;
}
.collapse-trigger-collapsed .ico-plus-green {
    display:inline-block;
}

.collapse-trigger-active .ico-minus-g {
    display:inline-block;
}
.collapse-trigger-active .ico-plus-green {
    display:none;
}

#share-loader {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.6);
    z-index: 2000;
    text-align:center;
    padding-top:150px;
    display:none;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
  color:#BDC0C3;
}


/*BOOTSTRAP RESET*/

.dropdown-toggle {
    border: 0;
    color: #47545C;
    font-size: 12px;
}


.open>.dropdown-toggle.clear-dropdown.focus, 
.open>.dropdown-toggle.clear-dropdown:focus, 
.open>.dropdown-toggle.clear-dropdown:hover {
    border: 0;
    color: #47545C;
    font-size: 12px;
}


.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #999FA3;
    white-space: nowrap;
    padding: 12px 8px 12px 12px;
    background: #EBECEC;
    width: 100%;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background:inherit;
}



.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

label {
    font-weight: normal;
}

label .help{
    margin-left: 15px;
    color: #999FA3;
    font-weight: 100;
}



.btn-green {
    border:1px solid #00B3BE;
    color:#00B3BE;
}

.btn-clear, .btn-border {
    border:1px solid #888E92;
    color:#888E92;
}

.btn-clear-green {
    border:1px solid #3BB3BF;
    color:#3BB3BF;
}

.panel-quick-menu .btn-clear-green:hover {
    border:1px solid white;

    color:white;
}

.btn-clear-white{
    border:1px solid white;
    color:white;
}

.btn-border {
    padding: 9px 16px;
}


/*
.btn-group  .clear-dropdown:hover, .btn-group .clear-dropdown:focus,  .btn-group .clear-dropdown:active, .open .clear-dropdown {
    background: none;
    border: 0;
    color: #47545C;
    font-size: 12px;
}
*/
.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
    background: #EBECEC;
    border-radius: 0;
    padding: 0;
    border: 0;
margin: 0;
}

.dropdown-menu li, .dropdown-menu li a 
{
    color: #47545C;
    font-size:12px;
}

.dropdown-menu li .icheckbox_flat-green {
    margin-right:5px;
}

 select[name="stat_table_length"] {
        line-height: 18px;
    }

/*MESSAGE MENU*/
.message-dropdown {
    padding:0 10px;
    list-style-type: none;
    font-size: 12px;
}
.message-dropdown h4  {
   font-size: 13px;
}
.message-dropdown h4, .message-dropdown  small {
   display: block;
   font-size: 13px;
}

.load-scouting {
    width:100%;
}


/*MENU SIDEBAR*/
.sidebar-menu  {
   background: #F5F5F6;
}

.sidebar-mini.sidebar-collapse .main-sidebar {
    border-right:1px solid #EBECEC;
    border-left:1px solid #EBECEC;
    top:auto;
    padding-top:0;
}
.sidebar-menu li > a > .pull-right {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
}

.sidebar-mini .sidebar-menu > li > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    color: #47545C;
    display: inline-block;
    line-height: 48px;
}

.sidebar-mini .sidebar-menu > li > a {
    border-top:1px solid #EBECEC;
    border-bottom:1px solid  #EBECEC;
}


.sidebar-menu li > a {
    width:100%;
    height:auto;
     text-align: left;
}

.sidebar-menu li.treeview > a {
    padding-bottom:0;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span
{
    max-width: none;
    width: 230px;
    left: 70px;
    border: 1px solid #EBECEC;
    border-left:0;
    border-radius: 0;
}

.sidebar-menu.sidebar-collapse > li > a > span, .sidebar-menu.sidebar-collapse > li > a:hover > span {
width:300px;
display:block;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 10px 0;
    display: block;
    font-size: 12px;
    color: #999FA3;
    line-height: 12px;
}
.sidebar-menu .treeview-menu > li > a:hover {
   color:#00b3be;
}



.sidebar-menu .treeview-menu > li.first {
     background-image:url('/theme/img/icon/submenu-top.svg'); 
       background-position:left bottom;
       background-repeat: no-repeat;
}

.sidebar-menu .treeview-menu > li.middle {
     background-image:url('/theme/img/icon/submenu-middle.svg'); 
       background-position:left center;
        background-repeat: no-repeat;
}

.sidebar-menu .treeview-menu > li.last {
     background-image:url('/theme/img/icon/submenu-bottom.svg'); 
       background-position:left top;
        background-repeat: no-repeat;
}

.sidebar-menu .treeview-menu {
    padding-left: 32px;
}

.sidebar-mini.sidebar-collapse:not(.sidebar-open) .sidebar-menu > li > a > span {
    display:none;
}

.sidebar-menu > li.unactive
{
    display:none;
}



.sr-sidebar, .row-sidebar {
position:absolute;
right:0;
/*top:10px;*/
top: 0;
padding-right: 10px;
    padding-top: 40px;
}


.row-sidebar {
    padding-top:0;
}

.sr-sidebar-cnt, .row-sidebar-cnt {
    margin-top: 15px;
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 65px;
    width: auto;
}

.row-sidebar-cnt {
    top: 40px;
    margin:0;
}


.scouting-row-user .sr-sidebar {
    padding-top:0;
}

.scouting-row-user .sr-sidebar .scouting-type-icon {
    top:40px;
}
.scouting-row-user .sr-sidebar-cnt {
    top:25px;
}

.sr-sidebar-cnt a, .row-sidebar-cnt a {
    display: block;
    background: #EBECEC;
    color:#505960;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid white;
    line-height: 26px;
}

.row-sidebar-cnt a span {
    display: inline-block;
    min-width:120px;
    text-align: left;
}
.row-sidebar-cnt a .ico {
    margin: 0 10px 0 0;
}


.sr-sidebar-trigger, .row-sidebar-trigger {
    position:absolute;
    cursor:pointer;
    display:block;
    width:40px;
    height:40px;
    text-align: center;
    right:0;
    padding: 10px;
}


.sr-sidebar-trigger.active, .row-sidebar-trigger.active {
    background:#EBECEC;
}

.sr-cnt, .row-sidebar-cnt {
    font-size:12px;
    margin-left: 40px;
    margin-right:15px;
}

.row-sidebar-cnt  {
    margin:0;
}

.sr-cnt em, .row-sidebar-cnt em {
    font-style: normal;
    color:#BDC0C3;
}

.sr-cnt h3, .row-sidebar-cnt h3 {
    color:#00BFCA;
    font-size:12px;
    font-weight:bold;
    margin:0 0 10px 0;
}


/*collapsed*/
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    width: 230px;
    background: white;
    border: 1px solid #EBECEC;
    border-radius: 0;
    padding: 0 15px;
    border-left: 0;
    margin-left: 0;
    margin-top: -1px;
    
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right) {
    left:68px;
    font-size:14px;
    height: 50px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    left:70px;
}


.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu-link {
    padding-top:0;
    border-bottom:0;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    padding-top:0;
    border-top:0;
}

/*
.sidebar-mini.sidebar-collapse .sidebar-menu .team-header h4 {
    display:none;
}
*/


.round-50 {
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    width:30px;
    height:30px;
    margin: auto;
}

.color-link{
    color:#00B3BE;
}

/*PANELS*/
.panel-loader {
    height: 100%;
}
.panel {
    position: relative;
       
}

.panel-toolbar {
    float:right;
}

.panel-toolbar-inline {
    float:none;
    display:inline-block
}



.panel-full-body {
    padding:0;
    /*padding-top: 10px;*/
    /*clear: both;*/
}

.panel-default>.panel-heading {
    padding: 10px 12px 10px 12px;
    background: white;
    /*font-size:0;*/
    border-bottom:1px solid #EBECEC;
    height:40px;
    
}

.panel-heading h3 {
    margin:0;
    font-size:14px;
    line-height: 26px;
    height:26px;
    display: inline-block;
}

.panel-tools {
    position:relative;
        margin-bottom: -10px;
}

.panel-settings {
    position:absolute;
     z-index: 100;
    width: 100%;
    display:none;
}

.panel-settings .settings-row {
    color:#999FA3;
padding: 12px 8px 12px 12px;
}

.panel-settings .settings-row  a{
    color:#999FA3;
}

.settings-cell-2 {
    display: inline-block;
    width:49%;
}

.settings-cell-2 .ico {
    margin-right:18px;
}

.settings-cell-2 .ico.ico-calendar-empty {
    margin:0 20px;
}



.settings-cell-right {
    text-align: right;
}

.panel-settings .settings-cell-right a, .panel-settings .settings-cell-right {
    color:#47545C;
}

.panel-settings .settings-cell-right .ico {
    margin-left:18px;
    margin-right: 0;
}

.panel-settings-trigger {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    top: -10px;
}

.panel-settings-trigger:hover,.panel-settings .settings-row , .panel-settings-trigger.active {
    background: #EBECEC;
}

.panel-toolbar .tool-item
{
    margin: 0 12px;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
}

.panel-toolbar .tool-item-link
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.panel-toolbar .dropdown-toggle
{

}



.panel-toolbar .tool-item a.dropdown-toggle
{
   font-size: 14px;
    color: #47545C;
}



/*ICONS*/
.ico {
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  position: relative;
  top: 0;
  vertical-align: top;
  width:18px;
  height:18px;
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat;
  background-image:url('/theme/img/icon/plus.svg'); width:20px; height:20px;
}

.ico-o2 {
    opacity:0.5;
}


.sidebar-menu li .ico {
    width: 48px;
    height: 48px;
    background-size: 26px;
}
.ico-dashboard{background-image: url('/theme/img/icon/menu_dashboard.svg');}
.sidebar-menu li .ico-teams{background-image: url('/theme/img/icon/menu_teams.svg'); background-size: 26px;}
.sidebar-menu li .ico-team-home{background-image: url('/theme/img/icon/gears.svg'); background-size: 26px;}


.sidebar-menu li .ico-scouting{background-image: url('/theme/img/icon/menu_scouting.svg'); background-size: 26px;}
.sidebar-menu li .ico-menu-plus, .sidebar-menu li .ico-menu-minus {width: 20px; height: 20px;}
.ico-menu-plus {background-image: url('/theme/img/icon/menu-plus.svg');}
.ico-menu-minus {background-image: url('/theme/img/icon/menu-minus.svg');}
.ico-minus {background-image: url('/theme/img/icon/menu-minus.svg');}
.ico-dropdown {background-image: url('/theme/img/icon/dropdown-arrow.svg'); background-size: 10px;}
.ico-team-more{background-image:url('/theme/img/icon/team-arr.svg'); background-size:15px 26px;}
.ico-event-back{background-image:url('/theme/img/icon/event-back.svg'); margin-right:13px;}
.ico-edit{background-image:url('/theme/img/icon/pencil.svg');}
.ico-trash{background-image:url('/theme/img/icon/trash.svg');}
.ico-export{background-image:url('/theme/img/icon/export.svg'); background-size: 22px 22px; height: 22px; width:22px;}
.ico-event-cal{background-image:url('/theme/img/icon/calendar.svg'); background-size: 22px 22px;}

.ico-event-clock{background-image:url('/theme/img/icon/clock.svg'); background-size: 22px 22px;}
.ico-clock3{background-image:url('/theme/img/icon/clock3.svg'); background-size: 22px 22px; width: 22px; height: 22px; }
.ico-event-clock-white{background-image:url('/theme/img/icon/clock-white.svg');}
.ico-event-att{background-image:url('/theme/img/icon/attendance.svg'); background-size: 22px 22px; width: 22px; height: 22px;}
.ico-event-score{background-image:url('/theme/img/icon/score.svg'); background-size: 22px 22px;}
.ico-map-marker-green{background-image:url('/theme/img/icon/map-marker-green.svg'); }
.ico-map-marker-white{background-image:url('/theme/img/icon/map-marker-white.svg');background-size: 16px 20px; }
.ico-arr-down-green{background-image:url('/theme/img/icon/arr-down-green.svg');}
.ico-arr-up-green{background-image:url('/theme/img/icon/arr-up-green.svg');}
.ico-plus-green{background-image:url('/theme/img/icon/plus-green.svg');}
.ico-envelope-w{background-image:url('/theme/img/icon/envelope-white.svg');}
.ico-envelope{background-image:url('/theme/img/icon/envelope.svg');}
.ico-envelope-open{background-image:url('/theme/img/icon/envelope-open.svg');}
.ico-arr-lft{background-image:url('/theme/img/icon/arr-lft.svg');}
.ico-arr-rgt-green{background-image:url('/theme/img/icon/arr-rgt-green.svg');}
.ico-arr-rgt-green2{background-image:url('/theme/img/icon/arr-rgt-green2.svg');}
.ico-arr-lft-green{background-image:url('/theme/img/icon/arr-lft-green.svg');}
.ico-arr-dwn-black{background-image:url('/theme/img/icon/arr-down-black.svg');}
.ico-arr-up-black{background-image:url('/theme/img/icon/arr-up-black.svg');}
.ico-arr-rgt-b{background-image:url('/theme/img/icon/arr-rgt-black.svg');}
.ico-clock2{background-image:url('/theme/img/icon/clock2.svg');}
.ico-ball{background-image:url('/theme/img/icon/ball.svg');}
.ico-calendar{background-image:url('/theme/img/icon/calendar.svg'); background-size: 22px 22px; height: 22px; width:22px;}
.ico-more-b{background-image:url('/theme/img/icon/more-black.svg');}
.ico-book{background-image:url('/theme/img/icon/book.svg'); width: 24px; height: 20px;}
.ico-print{background-image:url('/theme/img/icon/print.svg'); width: 24px; height: 24px;}
.ico-cup{background-image:url('/theme/img/icon/cup.svg');}
.ico-people{background-image:url('/theme/img/icon/attendance.svg'); background-size: 20px 20px; width: 20px; height: 20px;}
.ico-playground{background-image:url('/theme/img/icon/playground.svg'); }
.ico-space{background-image:url('/theme/img/icon/space.svg'); }
.ico-mobil{background-image:url('/theme/img/icon/mobil.svg'); }
.ico-bell{background-image:url('/theme/img/icon/bell.svg'); width:22px; height:22px; }
.ico-calendar-empty{
    background-image:url('/theme/img/icon/calendar-empty.svg');
    font-size: 10px;
    color: #47545C;
    line-height: 24px;
    text-align: center;
    font-style: normal;
    text-indent: 0;
}


.ico-wizard1{background-image:url('/theme/img/icon/wizard_1.svg'); height: 25px; width:25px; background-size: 26px; }
.ico-wizard2{background-image:url('/theme/img/icon/wizard_2.svg'); height: 26px; width:25px; background-size: 26px; }
.ico-wizard2-g{background-image:url('/theme/img/icon/wizard_2_green.svg'); height: 26px; width:25px; background-size: 26px; }
.ico-power-up{background-image:url('/theme/img/icon/arr-up-green.svg');}
.ico-power-down{background-image:url('/theme/img/icon/arr-down-red.svg');}
.ico-dress{background-image:url('/theme/img/icon/dress.svg');}
.ico-dress-b{background-image:url('/theme/img/icon/dress-black.svg');height: 26px; width:26px;   }
.ico-pause{background-image:url('/theme/img/icon/pause.svg');}
.ico-plus-w{background-image:url('/theme/img/icon/plus-white.svg');}
.ico-search{background-image:url('/theme/img/icon/search.svg');height: 24px; width:24px;}
.ico-cross{background-image:url('/theme/img/icon/cross.svg'); height: 24px; width:24px;}
.ico-user{background-image:url('/theme/img/icon/user.svg');}
.ico-lock{background-image:url('/theme/img/icon/lock.svg');}
.ico-minus-w{background-image:url('/theme/img/icon/minus-white.svg');}
.ico-dots-h{background-image:url('/theme/img/icon/dots-hor.svg');}
.ico-share-link{background-image:url('/theme/img/icon/share-link.svg');}

.panel-default>.panel-heading h3 .ico {
    margin-right:8px;
}

.ico-action {
    cursor:pointer;
}





.sidebar-mini .sidebar-menu > li > a .ico-team, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a .ico-team {
    background-image: url('/img/team/users.svg');
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 auto;
    background-size: cover;
}


.ico-close{background-image:url('/theme/img/icon/close.svg'); width:20px; height:20px;}
.ico-close-black{background-image:url('/theme/img/icon/panel-close.svg');}
.ico-check{background-image:url('/theme/img/icon/check.svg'); width:20px; height:20px;}
.ico-gear{background-image:url('/theme/img/icon/gear.svg'); width:20px; height:20px;}
.ico-plus{background-image:url('/theme/img/icon/plus.svg'); width:20px; height:20px;}
.ico-reply{background-image:url('/theme/img/icon/reply.svg'); width:20px; height:20px;}
.ico-match{background-image:url('/theme/img/icon/reply.svg'); width:20px; height:20px;}
.ico-team{background-image:url('/theme/img/icon/team.svg');height: 24px; width:24px;}
.ico-menu-list{background-image:url('/theme/img/icon/list.svg'); }
.ico-graph{background-image:url('/theme/img/icon/graph.svg'); height: 26px; width:26px;}
.ico-repeat{background-image:url('/theme/img/icon/repeat.svg');}
.ico-question{background-image:url('/theme/img/icon/questionmark.svg');}
.ico-level{background-image:url('/theme/img/icon/level.svg');}
.ico-age{background-image:url('/theme/img/icon/age.svg');}
.ico-map-marker{background-image:url('/theme/img/icon/map-marker.svg');}
.ico-minus-g{background-image:url('/theme/img/icon/minus-green.svg');}
.ico-question-g{background-image:url('/theme/img/icon/questionmark-green.svg');}

.ico-team-home{background-image: url('/theme/img/icon/menu_04_team_home.svg');}
.ico-team-events{background-image: url('/theme/img/icon/menu_calendar.svg'); background-size: 26px;}
.ico-team-members{background-image: url('/theme/img/icon/menu_members.svg'); background-size: 26px;}
.ico-team-attend{background-image: url('/theme/img/icon/menu_attend.svg'); background-size: 26px;}
.ico-team-stat{background-image: url('/theme/img/icon/menu_stats.svg'); background-size: 26px;}
.ico-team-charts{background-image: url('/theme/img/icon/menu_charts.svg'); background-size: 26px;}
.ico-team-playgrounds{background-image: url('/theme/img/icon/menu_playgrounds.svg'); background-size: 26px;}
.ico-create-team{background-image: url('/theme/img/icon/add_new_team_plus.svg'); width:50px; height:50px;}
.ico-fb{background-image: url('/theme/img/icon/fb.svg');}
.ico-google{background-image: url('/theme/img/icon/google.svg');}
.ico-user-profile{background-image: url('/theme/img/icon/user-profile.svg'); width:26px;}
.ico-logout{background-image: url('/theme/img/icon/logout.svg'); width:26px;}
.sidebar-menu li .ico-season-color{background-image: url('/theme/img/icon/prizecup.svg'); background-size: 24px;}
/*
.ico-plus{background-image: url('/theme/img/icon/menu_plus.svg'); width:10px; height:10px;}
.ico-minus{background-image:url('/theme/img/icon/menu_minus.svg'); width:10px; height:10px;}
*/
.ico-panel-close{
    background-image: url('/theme/img/icon/panel-close.svg');
    width: 14px;
    height: 14px;
    margin: 3px 3px 3px 13px;
    display: none;
}
.ico-panel-event{background-image:url('/theme/img/icon/panel-event.svg'); width:22px; height:22px;}
.ico-panel-event-list{background-image:url('/theme/img/icon/panel-event-list.svg'); width:20px; height:20px;}

.ico-progress-g-e {background-image:url('/theme/img/icon/pr-arr-g-e.svg');}
.ico-progress-g-ne {background-image:url('/theme/img/icon/pr-arr-g-ne.svg');}
.ico-progress-g-se {background-image:url('/theme/img/icon/pr-arr-g-se.svg');}

.ico-progress-gr-ne {background-image:url('/theme/img/icon/pr-arr-gr-ne.svg');}
.ico-progress-gr-e {background-image:url('/theme/img/icon/pr-arr-gr-e.svg');}
.ico-progress-gr-se {background-image:url('/theme/img/icon/pr-arr-gr-se.svg');}

.ico-progress-r-ne {background-image:url('/theme/img/icon/pr-arr-r-ne.svg');}
.ico-progress-r-e {background-image:url('/theme/img/icon/pr-arr-r-e.svg');}
.ico-progress-r-se {background-image:url('/theme/img/icon/pr-arr-r-se.svg');}
.ico-share {background-image:url('/theme/img/icon/share.svg');}

.ico-scouting-player-looking-team {background-image:url('/theme/img/icon/scouting_team.svg');width:20px; height:20px;}
.ico-scouting-team-looking-player {background-image:url('/theme/img/icon/scouting_players.svg');background-size: 18px 14px}
.ico-scouting-team-looking-game-player {background-image:url('/theme/img/icon/scouting_player_one.svg');background-size: 18px 14px}
.ico-scouting-team-looking-playground {background-image:url('/theme/img/icon/scouting_playground.svg'); background-size: 21px 14px;     width: 21px;}
.ico-team-talk{background-image:url('/theme/img/icon/team-talk.svg'); height: 22px; width:21px;}
.ico-like{background-image:url('/theme/img/icon/like.svg'); height: 16px; width:15px;}
.ico-comment-a{background-image:url('/theme/img/icon/comment-arrow.svg'); height: 12px; width:15px;}

.ico-40-save{background-image:url('/theme/img/icon/40save.svg'); height: 54px; width:54px;}

.error-page {
    background:#EDF0F5;
}

.error-wrap {
    background:url('/img/error/back.png') center center no-repeat;
    background-size: 100%;
}

.error-text {
    padding-top:60px;
}


.error-text h1 {
    font-size:48px;
    font-weight:bold;
    color:#00B3BE;
}

.error-text strong {
    font-size:18px;
    font-weight:bold;
}

.error-page img {
    max-width: 100%;
}


.error-page .alternates {
   padding-top:45px;
   
}

.error-page h2 {
  font-size:16px;
}

.error-page a {
  color:#00B4BE;
}


.media-trigger {
    clear:both;
    margin: 5px 0;
}
.webview-content-layout {
    padding-top:50px;
}

.webview-content-layout.platform_iphone {
    padding-top:67px;
}

.iframe-webview-content-layout {
     padding-top:0;
}


.iframe-webview-content-layout.platform_iphone {
    padding-top:0;
}


.webview-content-layout .content-header,
.webview-content-layout .panel-calendar
{
    display:none;
}

.webview-content-layout section.content {
    padding:0;
}

.mobile-app-nav {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
    background: #02b0be;
    background: -moz-linear-gradient(left, #02b0be 0%, #2889be 100%);
    background: -webkit-linear-gradient(left, #02b0be 0%,#2889be 100%);
    background: linear-gradient(to right, #02b0be 0%,#2889be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 );
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 16px;
    padding: 18px 0 13px 0;
    height: 50px;
}

body.platform_iphone .mobile-app-nav  {
    padding: 35px 0 13px 0;
    height:67px;
}

.mobile-app-nav .navBtn {
    position: absolute;
    left: 0;
    top: 0;
    background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 18px no-repeat;
    width: 50px;
    height: 50px;
}

body.platform_iphone .mobile-app-nav .navBtn {
    height: 67px;
     background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 37px no-repeat;
}

.webview-content-layout #import_players {
    display:none;
}


/*CUSTOM SELECT*/
.custom_native_select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 1000;
}

.custom_native_select select {
   background: #00B3BE url("/theme/img/icon/arr-down-white.svg") no-repeat 90% 50%;
 color: white;
  border: 0;
  margin: 0;
   border-radius: 50px;
    color: white;
    padding: 6px 20px;
    display: inline-block;
  text-indent: 0.01px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
  line-height: 24px;
}



/*Hiding the select arrow for IE10*/
.custom_native_select::-ms-expand {
    display: none;
}

.custom_native_select::before,
.custom_native_select::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom_native_select::after { /*  Custom dropdown arrow */
  
}

.custom_native_select::before { /*  Custom dropdown arrow cover */
 width: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom_native_select::after {
 
}

.custom_native_select select[disabled] {
  color: rgba(0,0,0,.25);
}





@media only screen and (max-width: 960px) {
    
.error-text h1
{
    font-size:18px;
}

.error-text {
        padding-top:30px ;
    }
}

@media only screen and (max-width: 768px) {



    
    .rufus {
        /*display:none;*/
    }
    
    .error-text {
        padding-top:0 ;
    }
    
    .error-page img {
        padding-top: 20px;
    }

        .error-wrap {
        background:none;
    }

    .error-text h1
    {
        font-size:18px;
    }

    .error-page h2 {
      font-size:12px;
    }
    
    .zopim {
        display:none !important;
    }
    .hide760 {
        display:none;
    }
    
    .panel-default>.panel-heading {
        height:auto;
        padding: 10px 12px 0 12px;
        /*overflow: hidden;*/
    }
    
    .panel-heading:after {
        content: '';
        display: block;
        clear: both;
    }
    
    .dropdown-menu {
        left:auto;
        right:0;
    }
    
    
    .panel-toolbar {
        float: right;
        display: inline-block;
        clear: both;


    }
    
    .panel-toolbar-inline {
        width:auto;
    }
    
    .user-block {
        margin: 0;
        text-align: center;
        padding:0;
    }
    
    .user-info {
        width: 100%;
    }
    
    .player-rating {
        display: block;
        clear: both;
        margin: auto;
        float: none;
        padding-top: 5px;
    }
    
    .panel-settings .settings-cell-right .ico {
        margin-left: 6px;
    }
    
    .panel-settings .settings-cell-2 .ico {
        margin-right: 6px;
    }
    
    .form-primary-btn-wrap {
        text-align: left;
        margin-top:20px;
        margin-bottom:10px;
    }
    
    .form-primary-btn-wrap .btn-primary {
        width:100%;
        padding:15px 20px;
    }
    
}
@media only screen and (max-width: 768px) {
    .widget .panel-default {
        height:auto;
    }
    
    #wh-widget-send-button {
    display:none;
}
}

