.body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-width .container {
    width:100%;
}


.platform_check {
    position:absolute; 
    z-index:2000; 
    right:0;
    top:0;
    width:2px; 
    height:2px;
    display:none;
}


.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #EBECEC;
}

section.content {
    min-height: 550px;
    padding-bottom: 60px;
}

.control-label-required {
    color:red;
    font-weight:bold;
}

.control-label-error {
    color:red;
}

.label-margin{
    margin-top:25px;
}

.label-large {
    font-size: 150%;
}

.label-mid {
    font-size: 100%;
}

.label-xs{
    font-size: 80%;
}

.box-tm {
    margin-top:25px;
}

#map, #add_form_map {
    width:100%;
    height:300px;
}

.dropdown-menu {
    max-height: 450px;
    overflow: auto;
}

a.billing-season-dropdown{
    font-size:14px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.checkbox-input label {
    width:15%;
    min-width: 80px;
}
.checkbox-input .form-control {
    width:20%;
    display: inline-block;
}

.inline-edit-inactive {
    border:0;
}
.inline-edit[readonly] {
    cursor:pointer;
    background: white;
}



.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



.untranslated {position:relative;}
.tr-trigger {
       position: absolute;
    cursor: pointer;
    right: -10px;
    top: 0;
    font-weight: bold;
    font-size: 10px;
    color: red;
    display: none;
    background: rgba(255,0,0,0.6);
    color: white;
    padding: 2px 5px;
}
.untranslated:hover .tr-trigger {
    display:block;
}

.img_round_wrap {
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.select-dropdown li a {
    background: #f4f4f4;
    border-bottom: 1px solid white;
    padding:5px 10px;
}

.modal-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(255,255,255,0.9);
    z-index: 200;
    color:black;
    font-size:18px;
    display:none;
}
.modal-loader span {
    display:block;
    margin:auto;
}

.modal-loader .fa-spinner {
   margin-top:30%;
}

/*TOP MENU*/

.user-menu .dropdown-menu li, 
.dropdown-menu li a,
.nav .user-menu.open>a, 
.nav .user-menu.open>a:focus, 
.nav .user-menu.open>a:hover
{
        background: #F8F9FA;
       
}

.user-menu .dropdown-menu>li>a {
     line-height: 26px;
     color:#47545C;
}

.user-menu a {

     color:#47545C;
}


.user-menu .dropdown-menu {
    background: transparent;
}

.user-menu li{
   line-height: 30px;
    margin-bottom: 1px;
}

.user-menu li .ico {
    width:26px;
    height:26px;
    margin-right:10px;
}

.message-menu .ico-envelope {
    width:24px;
    height:20px;
}



/*LEFT MENU*/

.treeview .ico-minus{
   display:none;
}
.treeview.active .ico-plus{
   display:none;
}
.treeview.active .ico-minus{
   display:block;
}

.treeview-menu li {
    padding-left: 25px;
}
.treeview-menu li.add_team {
    padding-left: 0;
    color:#00BFCA;
}

.sidebar-menu .treeview-menu > li.add_team > a {
     color:#00BFCA;
         line-height: 18px;
}

.treeview-menu-trigger {

}

.sidebar-menu .team-photo {
    border-radius: 50%;
    max-width:25px;
    margin-right:5px;
}


.sidebar-menu .team-header  {
   background:#F5F5F6;
}


.sidebar-mini .sidebar-menu > li.team-header > a > span:not(.pull-right) {
    color:#48545C;
    font-size:12px;
    text-align: center;
    line-height: 12px;
    display: block;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li.team-header > a > span:not(.pull-right) {
     display: none;
     line-height: 48px;
     height:58px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right) {
     height:58px;
}



.sidebar-mini .sidebar-menu  > li.team-header > a {
    border:0;
    height: 56px;
    padding: 8px 0 16px 0;
}

.sidebar-mini .sidebar-menu > li.team-header.upgrade_pro > a {
    height: 86px;
}


.sidebar-mini.sidebar-collapse .sidebar-menu  > li.team-header.upgrade_pro > a {
    height: 66px;
}

.sidebar-mini .sidebar-menu  > li.team-header > a:hover {
    background:white;
}

.start-create-team {
    padding:10% 0;
}

.start-create-team .btn {
    border-radius:50%;
    padding:5%;
    width:180px;
    height:180px;
    font-size:24px;
    
}

/*
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}
*/
.pac-container {
    font-family: Roboto;
}

#map_wrap {
    position:relative;
}

#map {
    position:absolute;
    left:-2000px;
}

#map.visible-map {
    left:0;
    position: relative;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}


#playground_add_form, #playgrounds, #exist_playgrounds {
    display:none;
}


.autocomplete_wrap {
    position:absolute;
    z-index: 2000;
}

.label-badget-autocomplete  .autocomplete_wrap {
     position:absolute;
     z-index:2000;
}

.autocomplete_list {
    display:none;
    left: 0;
    top: 0;
    background: #00C0EF;
    margin: 0;
    padding: 0;
    z-index: 1000;
    width: 100%;
    max-width: 300px;
}


.autocomplete_list li {
    padding:5px 5px 5px 10px;
    list-style-type:none;
    margin:0;
    cursor:pointer;
     border-bottom: 1px solid white;
     color:#ECF0F5;
     display: inline-block;
     width: 100%;
     min-width: 300px;
}
.autocomplete_list li strong {
    display: inline-block;
    width:100%;
    color:white;
    font-size:16px;
    font-weight:normal;
    max-width:230px;
}

#selected_players_template, #selected_players {
    display:none;
}

.autocomplete-avatar {
    background-size: cover;
    width:30px;
    height:30px;
    border-radius:50%;
    display: inline-block;
    vertical-align: middle;
    margin-right:5px;
}

/*LOGIN*/
.login-box .form-control, .login-box .input-group .input-group-addon {
           background: none;
    border: 0;
    border-bottom: 1px solid white;
    border-radius: 0;
    color:white;
}

.login-box select.form-control
{
    color:#37424A;
    
}

.login-box .input-group .input-group-addon {
     padding: 0;
}

.login-box .btn:not(.btn-clear) {
     border: 0;
}   

.input-group-full {
    width:100%;
}

.or-divide {
    font-size:10px;
}

.tcblock {
    font-size:10px;
    text-align: center;
}

.tcblock a {
    text-decoration: underline;
    color:white;
}

.exist-account .btn {
    background:#37424A;
    margin:10px 0;
}
.exist-account .btn:hover {
   color:white;
   font-weight:normal;
}

.register-lang  {
    margin-bottom: 10px;
}

.register-lang a {
    color:white;
    padding:7px;
    border-radius:3px;
}

.register-lang a.active {
    background:white;
    color:#37424A;
}


.login-footer a{
    font-size:12px;
    color:white;
}

.login-box ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
.login-box :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
.login-box ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
.login-box :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}

.remember-text {
    margin-left:10px;
}

#register_agree_popup_fb , #register_agree_popup_g
{
    color:black;
}

.btn-social-register {
    width:auto;
        background-color: #00B3BE;
        color:white;
        padding:10px 20px;
}

.btn-social-register:hover {
    background-color: #00B3BE;
}

/*PROFIL*/
.sport-row {
    min-height:40px;
    padding:5px 0;
    border-bottom:1px solid #f4f4f4;
}

.sport-row .col-xs-10 {
        padding-left: 23px;
}

#sport-form .well  {
    background: #37424A;
    border-radius: 5px;
    text-align:center;
    /*padding:10pt;*/
}

#sport-form .well strong  {
    color: white;
    font-weight: normal;
    padding: 7pt 0;
    display: block;
    font-size:11pt;
}

#sport-form .select2-container  {
   margin:3px 0;
}

#sport-form .select2-selection--single {
     border-radius: 3px;
}

#sport-form h3 {
     text-align: center;
     font-size:11pt;
     font-weight:bold;
}

#sport-form .sport-name {
    font-size:9pt;
    color:#37424A;
    font-weight:normal;
}

#sport-form  select.form-control {
    font-size: 8pt;
    background: white url(/theme/img/icon/arr-down-black.svg) no-repeat right 5px;
    border: 0;
    padding-left: 0;
    padding-right: 35px;
    width: auto;
}

#sport-form .ico-trash {
    margin-top:17px;
}

#sport-form  .save-changes {
    margin:10px auto;
    display:block;
}

.profil-page #profil {
    display:none;
}

.profil-page .profil-tab {
    display:none;
}
.nav-tabs-custom > .profil-tabs > li
{
    width:25%;
    font-size: 8pt;
    border-right: 1px solid #f4f4f4;
    border-top:0;
    border-bottom:2px solid transparent;
    margin-bottom:0;
    margin-right:0;
    height:46px;
}
.nav-tabs-custom > .profil-tabs > li.active
{
     border-bottom:2px solid #00B3BE;
}

.nav-tabs-custom > .profil-tabs > li:last-child {
    border-right:0;
}
.nav-tabs-custom > .profil-tabs > li > a {
       text-align: center;
       height:43px;
       line-height: 46px;
       padding:0;
}

.profil-desk {
    display:block;
}

#add_player_sport {
   display:block;
    width:170px;
    padding:0;
    text-align:center;
    margin:15px auto;
    border-radius: 5px;
    height:38px;
    line-height:38px;
}

.profil_img_round {
    width: 100px;
    height: 100px; 
    border:3px solid #d2d6de;
    vertical-align: middle;
    position:relative;
    background-size: cover;
}



.profil_img_round img {
     position:absolute;
    left:-50%; right:-50%; top:0;
    margin:auto;
    height:100%; width:auto;
}

/*CALENDAR*/
.calendar-events-trigger {
    display:none;
}
.small-calendar {
        width: 100%;
            min-height: 325px;
}

.small-calendar td {
    border-collapse: collapse;
    border:0;
    height:37px;
    vertical-align: middle;
    font-size:12px;
   
}

.small-calendar td strong {
     font-weight:normal;
}

#small-calendar-cnt {
    background:#00B3BE;
    color:white;
    padding:10px 0;
   /*height: 344px;*/
}

#small-calendar-cnt .header-row {
    height:35px;
    line-height: 35px;
}
#small-calendar-cnt .header-row a {
    color:white;
}

#small-calendar-cnt .days th{
    font-weight:normal;
    text-transform: uppercase;
    text-align: center;
    font-size:12px;
    height:26px;
    line-height: 26px;
}

.small-calendar .day_events_show_trigger {
    cursor:pointer;
}

.small-calendar .day_events {
    display:none;
}

.small-calendar .day_events_mark {
    line-height: 0;
        font-size: 6px;
        position:relative;
        top:-3px;
}

.cell-wrap {
     width: 30px;
    height: 30px;
    margin: auto;
        line-height: 30px;
}

#small-calendar-cnt .prev_day, #small-calendar-cnt .prev_month_day , #small-calendar-cnt .next_month_day {
    color:#80D9DE;
}

#small-calendar-cnt .current_day {
    background: #80D9DE;
    border-radius: 50%;
    border: 1px solid white;
}

#small-calendar-cnt .cell-wrap:hover, #small-calendar-cnt .active .cell-wrap {
    background: white;
    border-radius: 50%;
    border: 1px solid white;
    color:#00B3BE;
}

.day_events_mark i.type_training {
    color:green;
}
.day_events_mark i.type_game {
    color:red;
}
.day_events_mark i.type_race {
    color:blue;
}
.day_events_mark i.type_competition {
    color:orange;
}
.day_events_mark i.type_social {
    color:yellow;
}

.day_events_mark i.attendance_type_in {
    color:#81B82B;
}
.day_events_mark i.attendance_type_out {
     color:#CE3346;
}
.day_events_mark i.attendance_type_unknown {
     color:#60686D;
}

.event_row {
    background:white;
    margin:9px;
    padding:9px;
    color:#47545C;
    text-align: left;
    
}

#small-calendar-cnt .event_row {
     padding:20px 9px;
}

.event_row a {
    color:#47545C;
}

.event-date, .event-info, .attendance-cell   {
    display: inline-block;
    font-size: 12px;
}

.event-date  {
     width:20%;
     text-transform: uppercase;
     text-align: center;
     max-width: 65px;
}

.event-date span {
    display: block;
}

.event-date .day {
    font-size:24px;
}

.event-info {
    width:58%;
    text-align: left;
}

.event-info h3 {
    font-size:15px;
    margin: 0 0 10px 0;
    font-weight:normal;
}

.event-info .main-info {
    font-weight:lighter;
    
}

.event-info .team-name, .event-info .playground {
    display:block;
}


.event-info .ico-map {
    margin-left:17px;
}

.attendance-cell,.score-cell {
    width:20%;
    overflow:hidden;
    max-width: 60px;
    float: right;
    margin-top: 10px;
}

.score-cell {
    padding: 8px;
    border: 1px solid #888E92;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 15px;
}

.members-attendance-wrap, .event-list-attendance {
     float:left;
}

.members-attendance-wrap{
     width:40%;
}

.event-list-attendance {
     width:60%;
}

.members-attendance {
    padding-top:10px;
}

.members-attendance-in, .members-attendance-capacity  {
    display: inline-block;
     width: 20px;
     text-align: center;
}

.members-attendance-capacity {
    border-top: 1px solid #47545C;
    display: block;

}

.attendance_trigger_btn
{
    background: #D7D9DB;
    width: 25px;
    height: 25px;
    padding:3px;
    display: block;
    border-radius: 50%;
    text-align: center ; 
            margin-bottom:3px;
}



.attendance_trigger.accept, .attendance_trigger_btn.in:hover, 
.attendance_trigger_btn.accept, .attendance_trigger_btn.in:hover 
{
    background: #7BB838;
}
.attendance_trigger.deny, .attendance_trigger_btn.out:hover ,
.attendance_trigger_btn.deny, .attendance_trigger_btn.out:hover 
{
    background: #D7354A;
}


#upcoming-events {
    max-height: 400px;
    overflow:hidden;
    display:none;
}

.upcoming-events-view #upcoming-events  {
    display:block;
     max-height: 500px;
}

.upcoming-events-view #small-calendar-wrap  {
    display:none;
}

.upcoming-events-view .calendar-events-trigger {
    display:inline;
}

.upcoming-events-view .upcoming-events-trigger {
    display:none;
}



.member_img_round {
   background-size: cover;
    width: 40px;
    height: 40px;
    float: left;
}

.users-list > li {
    width: 32%;
}

.followers-list > li {
    width: 18%;
}

.member_img_round_100 {
  background-size: cover;
  width: 64px;
  height:64px;

}

/*EVENT EDIT*/
.season_range_error {
    display:none;
}
#period_interval_wrapper label {
    width:100%;
}

#event-repeat-options-trigger, #event-notification-options-trigger {
    display:block;
    margin:20px 0;
}


#event-notification-options, #event-repeat-options {
    margin:10px 0;
    display:none;
}


#repeat_summary_period, #repeat_summary_end_date, #repeat_summary_end_after, #repeat_summary {
    display:none;
}

#repeat_summary_period.active, #repeat_summary_end_date.active, #repeat_summary_end_after.active, #repeat_summary.active, #repeat_summary_repeat_days.active  {
    display:inline-block;
}



#repeat_summary_period span {
     display:none;
}
#repeat_summary_period span.active {
     display:inline-block;
}

.end_period_type_choice, .event_interval_label   {
    display:none;
}

.end_period_type_choice.active{
    display:inline-block;
}

#record_end_period, #record_period_interval, #record_notify_beep_days {
     max-width: 42px;
     display: inline-block;
}

#record_notify_beep_days {
    max-width: 100px;
}

.notify_termin_type_options {
     display:none;
}
.notify_termin_type_options.active {
     display:block;
}



.notify_termin_type_options_beep label {
    width:100%;
}

#record_notification_wrap {
    /*display:none*/
}

.notification {
padding: 20px 0 0 0;
}

#period_interval_wrapper, #period_interval_week_wrapper, #notify-team-wrap, #notify_termin_wrap, #repeat_summary_repeat_days  {
    display:none;
}

#period_interval_week_wrapper.active, #period_interval_wrapper.active {
    display:block;
}

#period_interval_wrapper.active {
    
}

.repeat_day_choice {
    display:inline-block;
    width:11%;
    font-size:12px;
    margin:0 1%;
}

.playground-desc {
    display:none;
}

#new_event_playground_wrap {
    display:none;
}
#change_playground_wrap {
    visibility:hidden;
}

#event_detail_map {
    width:100%;
    height:400px;
}

#current_playground_map {
    width:100%;
    height:300px;
}


/*EVENT DETAIL*/
.all-event-link {
    color:#727B80;
}
.event-detail, .event-detail a {
    color:#47545C;
}

.event-detail a.btn-danger, .event-detail a.btn-success, .event-detail .btn-primary {
    color:white;
}



.event-detail{
   text-align: center;
    font-size: 16px;
}

.event-detail h1{
    margin: 10px 0 5px 0;
    font-size: 24px;
}

#event-playground-name {
    margin-bottom:0;
}

.playground-address {
    display: block;
    color:#BDC0C3;
        margin-bottom:15px;
        font-weight:100;
}

.event-detail span.mute{
    color:#999FA3;
}

.event-detail .row{
   margin:20px 0;
}

.event-detail .col-sm-3  {
      color:#999FA3;
      text-transform: uppercase;
}

.event-detail .col-sm-3.col-bord  {
     border-right:1px solid #D7D9DB;
}

.event-detail .members-attendance  {
     padding-top: 0;
}

.event-detail #event_detail_map {
    position:absolute;
    top:-2000px;
}



.event-detail .col-sm-3 .ico {
    display:block;
    width:22px;
    height:22px;
    margin:auto;
    position:relative;
    top:-5px;
    margin-bottom:-5px;
}

.event-detail .col-sm-3 .ico-plus-green {
    display:inline-block;
    width:20px;
    height:20px;
    margin:auto;
    top:0;
    margin-bottom:0;
}

.event-detail .col-sm-3 strong {
    display:block;
    margin:10px 0 0 0;
    color:#47545C;
    font-size: 24px;
    font-weight: normal;
}

.event-detail .members-attendance-in, .event-detail .members-attendance-capacity  {
     display:inline;
}



.my-attendance {
    text-align:center;
    border:1px solid #00B3BE;
    padding:18px 10px 16px;
    background: white;
    border-radius: 3px;
    margin: 0 0 14px 0;
}

.my-attendance h3 {
    margin:0 auto 15px;
    font-size:16px;
}

.trigger-cnt {
    overflow:hidden;
    width:160px;
    margin:auto;
}

.my-attendance  .round-50 {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin:0 15px;
    float:left;
}

.my-attendance  .attendance_trigger_btn {
   width:40px;
   height:40px;
   padding:5px;
   margin-top: 5px;
   float:left;
}
.my-attendance  .attendance_trigger_btn .ico-check, .my-attendance  .attendance_trigger_btn .ico-close  {
   display: inline-block;
   width:30px;
   height:30px;
}




.event-detail-menu {
    margin:auto;
    max-width:500px;
    padding:20px 0;
    width:100%;
}

.event-detail-menu .event-detail-menu-item {
    display: inline-block;
    width:24%;
    text-align:center;
    color:#BDC0C3;
    text-transform: uppercase;
    cursor:pointer;
    font-size:16px;
}


.event-detail-menu .event-detail-menu-item a {
    color:#BDC0C3;
        font-size:16px;
}

.event-detail-menu .active, .event-detail-menu .active {
    color:#000000;
    border-bottom:1px solid #00B3BE;
}

.event-detail-menu .active a.dropdown-toggle {
        color:#000000;
}



.event-attendance {
    text-align: left;
}

.progress.xs, .progress-xs {
    height: 1px;
    clear: both;
}

.progress-bar-green, .progress-bar-success {
    background:#81B82B;
}

.progres-step-wrap a {
    color:white;
}

.skip_and_free_alert {
    display: none;
}

.skip-step-block {
    text-align: center;
    padding:30px 0;
    margin:auto;
    max-width:430px;
    color:#878e92;
}

.skip-step-block-divide {
    border-top: 1px solid #afb3b6;
    height: 15px;
    margin-top: 15px;
}

.skip-step-block .btn-success {
    background:#925ec0;
    border: 0;
}


.skip-step-block .btn-danger {
    background:#afb3b6;
    border: 0;
}

.sport-template-row {

}

.add-sport-register, .rm_sport_btn {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    border-radius:50%;
}

.rm_sport_btn .ico-cross {
    width:20px;
    height:20px;
}



.event-attendance .members-attendance-text {
   float: left;
    background: #81B82B;
    height: 18px;
    color: white;
    padding: 0 3px;
    position: relative;
    margin-left: -50px;
    width:50px;
    text-align: center;
}

.attendance-group h2 {
    font-size:16px;
    text-transform: uppercase;
    text-align: center;
     border-bottom: 1px solid #D7D9DB;
     padding:0 0 15px 0;
}

.attendant-row {
    overflow: hidden;
    border-bottom: 1px solid #D7D9DB;
    padding:10px 13px;
}

.attendant-row .round-50, .rating-panel .round-50 {
    width:30px;
    height:30px;
    float:left;
}

.user-block {
    text-align: left;
    padding-right: 10px;
}

.ord-num {
    float:left;
    font-size: 24px;
    color:#47545C;
    width:30px;
    line-height:40px;
}

.user-block .username {
    font-weight:normal;
}

.user-block .team-role {
    text-transform: uppercase;
    color:#999FA3;
    font-size: 12px;
    display: inline-block;
    padding:0 15px;
}

.submit-inline-form {
    display:none;
}

.user-info {
    float:left;
}

.player-rating {
    float:left;
}

.team-players-list .username {
    display:inline-block;
    margin-left: 10px;
}

.team-players-list .user-sports {
    margin-left:10px;
}


.attendant-row   .attendance_trigger_btn {
   width: 30px;
    height: 30px;
    padding: 4px;
    margin-top: 4px;
    display: inline-block;
    text-align:center;
}
.attendant-row  .attendance_trigger_btn .ico-check, .attendant-row  .attendance_trigger_btn .ico-close  {
   display: inline-block;
   width:22px;
   height:22px;
   margin:auto;
}

button.attendance_trigger_btn {
    border:0;
}



.event-detail-notify .ico-envelope {
   background-size: 20px 24px;
}

#confirm-change-modal .row {
   padding:10px 0;
}

#confirm-change-modal h5 {
    margin-top:0;
}

#notification-form .col-sm-4 {margin-bottom:5px}

.attendance-limit-divider {
    height:3px;
    background:#00b3be;
    width:100%;
    position: relative;
    top: -2px;
}

/*LINEUP*/
.lineup-panel {
    text-align: left;
}

.create-linuep-wrap {
    text-align:center;
    cursor:pointer;
}
.create-linuep-wrap .dropdown-menu {
    min-width: 220px;
}


.event-detail a.print-lineup {
    color:#00BFCA;
    margin:10px auto;
    display: block;
}

.create-linuep-select.clear-dropdown {
    color: #00BFCA;
    font-size: 16px;
}

.create-linuep-select.clear-dropdown .ico {
    margin:0 15px;
}


.lineup-panel .box-title {
  margin:0;
}

.lineup-panel .box-title input, .view-linuep h3 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.view-linuep h3 {
    padding:6px 12px;
}

.lineup-panel table thead td {
    text-align: center;
}

.first-line-col .progress, .second-line-col  .progress{
    height:1px;
}

.power-row {
    color: #999FA3;
    margin-bottom: 15px;
     text-align: center;
}

.power-perc {
    margin-left:15px;
}

.week .power-perc {
    color:#C70011;
}
.strong .power-perc {
    color:#81B82B;
}

.week .progress-bar {
    background-color: #C70011;
}

.change_lineup_wrap {
    text-align: right;
}

.add-lineup-player-btn.dropdown-toggle, 
.add-lineup-player-btn.dropdown-toggle:hover,
.add-lineup-player-btn.active,
.open>.add-lineup-player-btn:focus, 
.open>.add-lineup-player-btn:hover
{
    background-color: #00B3BE;
    color: white;
    font-size: 16px;
    border: 0;
    padding: 6px 16px;
}



.change_lineup_wrap .btn {
    padding:0 4px;
}

.change_lineup_wrap .remove_player, .change_lineup_wrap .change_lineup {
    background: none;
    border: none;
}

.change_lineup .ico-arr-rgt-green, .change_lineup .ico-arr-lft-green
{

}




.remove_player .ico-close-black
{
    width: 12px;
}

.lineup_row .user-block {
    overflow: hidden;
    float: left;
        width: 70%;
}


.lineup_row .round-50 {
    width: 30px;
    height: 30px;
    float: left;
}
.lineup_row .efficiency  {
    font-size:12px;
    color:#999FA3;
}

#second_line .lineup_row .efficiency  {
    float: left;
}

.lineup_row .user-block .username {
    font-size:14px;
}


.create-linuep-wrap .pro-icon {
    margin:0 0 0 15px;
    height:18px;
    line-height: 18px;
}


.create-linuep-wrap  .open>.dropdown-toggle.clear-dropdown.focus, 
.create-linuep-wrap  .open>.dropdown-toggle.clear-dropdown:focus, 
.create-linuep-wrap  .open>.dropdown-toggle.clear-dropdown:hover {
    font-size: 16px;
}

.print-lineup-wrap {
    border-top:1px solid #f5f5f5;
    padding:5px 0;
}

.print-lineup-wrap p {
    font-size:14px;
}

/*TEAM EVENTS*/
.export-event .ico-export {
top:-3px;
}

.last_event_row, .last_event_row a {
    color:#999FA3;
}


.event_list_row  {
    margin:0;
    border-bottom:1px solid #EBECEC;
    border-left:2px solid #EBECEC;
   /*overflow: hidden;*/
    position: relative;
    min-height: 90px;
}

.tournament_event_list_row  {
    overflow:hidden;
}

.accept_row {
     border-left:2px solid #7BB838;
}
.deny_row {
     border-left:2px solid #D7354A;
}


.last_event_row  {
    background:#EBECEC;
}

.event_list_row  h3 {
    font-weight:normal;
}

.event_list_row  .attendance_trigger_btn {
    width:32px;
    height:32px;
}

.event_list_row  .ico-check,  .event_list_row  .ico-close {
   width: 26px;
    height: 26px;
    background-size: 22px;
}

.event_list_row .members-attendance {
    padding-top: 12px;
    font-size: 16px;
}

.event_list_row .attendance-cell {
    max-width: 90px;
    margin-top:0;
    padding-right: 30px;
}

.event-list-pagging {
    padding:10px;
}
/*
.event-list-item {
     border-bottom:1px solid #ddd;
     padding-top:1 0px;
}

.event-list-item h3 {
     margin-top:10px;
}


.event-list-date {
    float:left;
    width:90px;
    height:90px;
    text-align: center;
    border-right:1px solid #ddd;
    margin-right:10px;
    cursor:pointer;
}

.event-list-date h2 {
    margin:5px 0;
     font-size:32px;
}

.event-list-cnt {
    float:left;
    padding:5px;
}

.event-list-cnt em {
    display:block;
}

.small-event-list .event-list-date
{
     width:50px;
     height:50px;
     margin:3px;
     padding:8px;
}

.event-list-date h4 {
    margin:5px 0;
       font-size: 18px;
    font-weight: bold;
}

.small-event-list li {
    clear:both;
}

.small-event-list em {
    font-style: normal;
}

.past_event, .past_event a {
    color:#b7b5b5;
}


.end-period-type-wrapper {
    display:none;
}
.end-period-type-wrapper.active {
    display:block;
}

#notification-modal .send-success {
    display:none;
}

.notify-recip-select {
    font-size:12px;
}
*/
/*Calendar*/
td.fc-widget-content {
    /*position:relative; */
}

.fc-basic-view tbody .fc-row {
    min-height:147px;
}

.calendar-add-event {
   margin:5px;
   display:none;
   position: absolute;
   right:5px;
   bottom:5px;
}

.fc-content-skeleton table td {
    position: relative;
}


.fc-row .fc-content-skeleton, .fc-content-skeleton table {
    height: 100%;
        min-height:147px;
}


.progress-attendance-vertical {
    max-height:30px;
}





/*RATING*/
table.table-rating tr td {
    border-top:0;
    border-bottom: 1px solid #D7D9DB;
    text-align: center;
}

table.table-rating th {
    text-align: center;
}

.table-match-stat .player , .table-match-stat .mom {
    width:40%;
}
.table-match-stat .goal, .table-match-stat .assist {
    width:10%;
}

table.table-rating .rating-text {
    font-size:13px;
}


.starbox  {
    min-width: 100px;
    max-width: 120px;
}


/*TEAM*/
.team-widget-panel {
    min-height:400px;
}

.team-panel-loader
{
    height: 400px;
    padding: 180px 0;
}

.team-panel {
    background:#37424A;
        color:white;
}


.team-photo-dashboard {
   
}

.panel-team-header {
    padding:16px 10px 5px 20px;
    height:85px;
}

.team_img_round {
       width: 60px;
    height: 60px;
    vertical-align: middle;
    background-color: white;
    border: 2px solid white;
    float: left;
    
}

.team_img_round a {
    width:100%;
    height:100%;
    display:block;
    background-size: cover;
}

.team_img_menu_round {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    position: relative;
    background-color: white;
    background-size: cover;
    margin: auto;
}

.team-info {
    float:left;
    padding-left:15px;
    width: 100%;
    padding-left: 70px;
    margin-left: -60px;
    margin-right: -20px;
}

.team-info h3 {
    font-size:18px;
    margin:5px 0;
}

.team-info h4 {
    font-size:14px;
    margin:0;
}
.team-info small {
    font-size:12px;
    color:#C3C6C8;
}

.team-more-link {
    float: right;
    width: 20px;
    height: 56px;
    display: block;
    padding: 20px 0;
}

.team-members-info {
    overflow:hidden;
    padding:8px;
    min-width: 50px;
}

.team-members-info div {
    float:left;
    width: 33.33%;
    text-align: center;
    padding:8px 0;
    font-size:12px;
    height:50px;
    color:#C3C6C8;
}

.team-members-info div strong {
    display:block;
    font-size:16px;
    font-weight:normal;
    color:white;
}

.middle-border {
    border-right:1px solid #5B646A;
    border-left:1px solid #5B646A;
}

.team-member-stats {
    height: 157px;
}

.team-member-stats>div{
      width:33.33%;
      float:left;
      text-align: center;
}

.team-member-stats>div.unavailable-stat {
    width: 100%;
    font-weight:100;
}

.unavailable-stat h3 {
        font-weight: 100;
        font-size: 22px;
        opacity:0.7;
}

.team-member-stats .unavailable-stat strong {
        font-weight: 600;
}

.donut-wrap {
   position: relative;
    margin: auto;
    width: 70px;
    height: 70px;
}

.team-member-graph {
    width:70px;
    height:70px;
    border-radius:50%;
    
}

.donut-wrap .legend{
   width:60px;
   height:60px;
   position:absolute;
   left:5px;
   top:5px;
   background:#38424A;
   border-radius: 50%;
   padding-top: 5px;
}


.donut-wrap.direction-up .legend span{
    color:#91C13E;
}

.donut-wrap.direction-neutral .legend {
    background:#485159;
}

.donut-wrap.direction-neutral .legend span {
    color:#DEDFE1;
}


.donut-wrap.direction-down .legend {
    background:#47414A;
}


.donut-wrap.direction-down .legend span {
    color:#D74957;
}



.widget .panel-default.team-panel-waiting-wrap {
    height: 415px;
}

.team-panel-waiting{
    background:#F5F5F6;
    text-align:center;
    color:#34424B;
    font-size:12px;
    padding: 20px;
    height: 290px;
   
}

.team-panel-waiting p {
     color:#868E93;
     margin:25px 0;
}
.team-panel-waiting h3{
  font-size:14px;
  font-weight:bold;
}

.team-panel-waiting  .btn {
    min-width:110px;
}

.team-panel-waiting .btn-primary {
    padding:6px 12px;
    font-size:14px;
}

.team-panel-waiting .btn-danger{
   border:1px solid #D73549;
}


.widget.invitation-widget-panel {
    /*margin-bottom:0;*/
}
/*
.avg-goal .legend  {background:#485159;}
.avg-assist .legend  {background:#47414A;}


.avg-crs .legend span {color:#91C13E;}
.avg-goal .legend span {color:#DEDFE1;}
.avg-assist .legend span {color:#D74957;}
*/

.donut-wrap .legend span {
    display:block;
    font-size:24px;
    font-weight:100;
    line-height: 24px;
}

.team-member-stats strong {
    display: block;
    margin: auto;
    text-align: center;
    max-width:90px;
    padding-top: 10px;
    font-weight: normal;
}

.team-panel-footer {
    border-radius: 0 0 3px 3px;
    background:#4B555C;
    height:65px;
    color:#C8CACC;   
    padding:15px;
    font-size:12px;
    line-height: 12px;
}

.team-panel-footer .col-sm-6 {
    padding:0;
}

.team-panel-footer strong {
    display:block;
    color:#A4A8AB;
    padding-top:5px;
    font-weight:normal;
}

.team_img_round img, .team_img_menu_round img {
     position:absolute;
    left:-50%; right:-50%; top:0;
    margin:auto;
    height:100%; width:auto;
}


.box.create-team-widget {
    background: none;
    border:1px dashed #878E92;
}
.box.create-team-widget .box-footer {
    min-height: 100px;
    background: none;
    border-top: 1px dashed  #878E92;
}
.box.create-team-widget h3 {
    text-align: center;
    color:#878E92;
    text-shadow: none;
    font-weight:600;
}

.box.create-team-widget  .widget-user-image {
    width: 90px;
    height: 90px;
    padding: 20px;
    text-align: center;
    background: #ECF0F5;
    border: 1px dashed #878E92;
    border-radius: 50%;
}

.box.create-team-widget  .widget-user-image:hover
{
    background:white;
}

.playground-group.input-group .form-control {
    
}


/*TEAM WALL*/
.post {
    border:0;
}

#post_add_content_wrap, #post_add_image_wrap {
    padding:10px;
    background:#f9fafc;
    display:none;
}

.post .member_img_round {
    width:30px;
    height:30px;
}

.post .user-block .username {
    font-size:12px;
}

.post .post_author {
    color:#00BFCA;
}

.post  .post_date {
    color:#BDC0C3;
    font-size:12px;
    padding-left:0;
}

.like-info, .comments-info {
     color:#BDC0C3;
     font-weight:bold;
}

.post-like-trigger, .post-unlike-trigger, .show-comments-trigger {
    font-size:12px;
}

.post-add-content {
    padding:5px;
    border:1px solid #dddddd;
    margin:10px;
}

.post-add-content .col-sm-4 {
    background: #dddddd;
}

#post_add_content_wrap img, .post-add-content img, #post_add_image_wrap img{
    max-width: 90%;
    max-height: 150px;
}

#post_add_image_wrap img {
    margin:5px;
}

.post-image-block {
    text-align:center;
    padding:3px;
    border:1px solid white;
}

.post-image-block .fa-close {
   cursor:pointer;
   display: block;
   color:red;
}

#post_add_content_wrap_cnt {
    position:relative;
}

#post_add_content_wrap_cnt .fa-close {
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
    z-index: 2000;
}

.editable_area {
    
}

.post #record_body {
    background:#F5F5F6;
    padding: 5px;
}

.post_send_text, .post_comment_wrap_cnt {
    padding-right: 0;
}

.post_comment_wrap_cnt {
    padding-left: 0;
}

.post_send_wrap {

}

.post_send, .post_comment_trigger {
    background: none;
    border: 0;
    color: #00b3be;
    margin: 5px 0;
}

.mention_autocomplete {
    background: white;
    border: 1px solid #cecece;
    max-height: 300px;
    position: absolute;
    z-index: 2000;
    width: 250px;
    box-shadow: 3px 3px 3px #cecece;
    overflow: auto;
    display:none;
}

.mention_autocomplete_item {
    background:white;
   border-bottom:1px solid gray;
   padding:5px;
   z-index:1000;
}

.post_comment_wrap_cnt, .comment_send_wrap {
    display:none;
}

.post_comments_wrap {
    margin-left:0;
}

.show-add-comments-trigger {
    font-size:11px;
    cursor:pointer;
}
.post-comment-block  {
    clear: both;
    padding: 5px 0;
}



.post-comment-block  .comment-a-wrap {
    width:30px;
    text-align: center;
    height: 20px;
    padding: 5px 0;
}

.post-comment-block  .member_img_round, .post_comments_wrap .member_img_round{
    width:20px;
    height:20px;
}
.post_comments_wrap .member_img_round{
   margin: 5px 0;
}



.post-comment-block.lvl2, .post_comments_wrap.lvl0 {padding-left:30px;}
.post-comment-block.lvl3, .post_comments_wrap.lvl1 {padding-left:60px;}
.post-comment-block.lvl4, .post_comments_wrap.lvl2 {padding-left:90px;}
.post-comment-block.lvl5, .post_comments_wrap.lvl3 {padding-left:120px;}
.post-comment-block.lvl6 {padding-left:135px;}
.post-comment-block.lvl7 {padding-left:150px;}
.post-comment-block.lvl8 {padding-left:165px;}
.post-comment-block.lvl9 {padding-left:190px;}



/*TEAM PLAYERS*/

.bulk_edit_form_loader {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.7);
    text-align: center;
    padding-top: 80px;
    top: 0;
    left: 0;
    z-index: 2000;
}

.bulk_edit_form_loader img {
    display:block;
    margin:auto;
    
}

.username-email {
    font-size:12px;
    font-weight:normal;
}

.players_list_filter span {
 padding:0 10px;   
}

.edit-player-row {
    /*display: none;*/
}

.edit-player-row.confirmed {
    display: table-row;
}

.add_player_btn, .rm_player_btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #00b3be;
    display: inline-block;
    margin-top: 24px;
    padding: 1.5px;
}
table tr.edit-player-row td{
    vertical-align: middle;
}

.player_status_group select, .player_status_group  .input-group-addon
{
    border: 0;
    background:white;
    height: 40px;
}

.player_status_group select {
    background: white url(/theme/img/icon/arr-down-black.svg) no-repeat right 5px center;
}


.rm_player_btn{
    background:#D73549;
    padding: 5px;
}

.players_list_filter .dropdown-toggle {
    width: 250px;
    text-align: left;
    background: white;
}

.players_list_filter .open>.dropdown-menu {
    display: block;
    width: 250px;
    height: 200px;
}
.players_list_filter .open>.dropdown-menu li {
   padding:10px;
}
.players_list-panel-head {
    min-height:50px;
}
.players_list-panel-head h3 {
    font-size:16px;
    color:#47545C;
    margin: 8px 0;
}

.add_player_btn .ico-plus-w {
    width: 31px;
    height: 31px;
}

.number-cell {
    width:60px;
    text-align: center;
}

.ico.player-row-cancel-edit, .ico.player-row-edit-sm {
    display:none;
    cursor:pointer;
}

i.player-row-edit {
    margin:0 20px;
}
/*
.player-list-table tr:hover td {
    background: #F5F5F6;
}
*/
/*
.player-list-table tr.static:hover .ico.player-row-edit
{
   display:block;
}
*/
.player-list-table tr.edited  .ico.player-row-cancel-edit    
{
   display:block;
margin: 6px auto;
}

.player-list-table tr.edited .inline-edit-wrap .form-control {
    border:2px solid white;
    background:#9ba0a4;
    color:white;    
}



.inline-edit-wrap {
    display:none;
}

.player_status {
    line-height: 40px;
    padding-left: 10px;
   
}

#edit-player-modal-form .player_status {
    padding-left: 0;
    font-weight:bold;
    display: block;
}

.player-list-table .sort {
    float:right;
}
.player-list-table .sort.active .ico-arr-dwn-black {
   background-image:url('/theme/img/icon/arr-down-green.svg');
   background-size: 25px 25px;
}

.player-list-table .sort.active .ico-arr-up-black {
   background-image:url('/theme/img/icon/arr-up-green2.svg');
   background-size: 25px 25px;
}

.copy-share-link {
    cursor:pointer;
}

#team_share_link {
    color:#00B3BE;
}

/*TEAM STAT*/
#add_timeline_form_loader, #edit_timeline_form_loader, #mom_timeline_form_loader {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1000;
    left:0;
    top:0;
    opacity: 0.9;
    display:none;
}


.panel-timeline .team_row, .panel-timeline .team_row_colon {
    float:left;
}
.panel-timeline .team_row {
    width:48%;
    overflow: hidden;
    padding:0 0 13px 0;
}
.panel-timeline .team_row_colon {
    width:4%;
    font-size:48px;
    line-height: 32px;
}

.panel-timeline .team_row strong {
    font-size:16px;
    font-weight:300;
    line-height: 48px;
    display: inline-block;
    height: 48px;
   
}

#first_line_goals, #second_line_goals {
    font-size:48px;
    line-height: 48px;
}

#first_line_goals {
    float:right;
}
#second_line_goals {
    float:left;
}

.team_row_first_line {
    border-bottom: 1px solid #CE3346;
}
.team_row_second_line {
    border-bottom: 1px solid #81B82B;
}

.winner-first_line .team_row_first_line {
     border-bottom: 1px solid #81B82B;
}
.winner-first_line .team_row_second_line {
        border-bottom: 1px solid #CE3346;
}


.winner-second_line .team_row_first_line {
     border-bottom: 1px solid #CE3346;
}
.winner-second_line .team_row_second_line {
    border-bottom: 1px solid #81B82B;
}


.winner-none .team_row_first_line {
     border-bottom:1px solid #D7D9DB;
}
.winner-none .team_row_second_line {
    border-bottom: 1px solid #D7D9DB;
}

#stopwatch-control {
    margin:auto;
    max-width: 300px;
    padding-left: 40px;
    padding-top: 20px;
    overflow: hidden;
        padding-bottom: 10px;
}

#start_timeline_time, .time_pause , a.add_stat_time_mom, .current_hit_time, .time_start  {
    text-align: center;
    display:inline-block;
    height: 30px;
    line-height: 30px;
    border-radius:3px;
}

#start_timeline_time, .time_pause, .time_start {
    width:90px;
    border:1px solid  #38424A;
    padding:0;
   
}

.time_pause .ico-pause, .time_start .ico-arr-rgt-b{
    margin-top:5px;
}

.time_pause, .time_start {
    width:30px;
}
a.add_stat_time_mom {
    background: #CE3346;
    color:white;
    width: 130px;
}

.time_start, #stopwatch-control{
    display:none;
}

.event-detail a.add_manual_timeline {
    color:#00B3BE;
    margin:10px 0;
}

.event-detail a.add_manual_timeline:hover {
    color:#00B3BE;
}
.event-detail a.add_manual_timeline_closed {
    /*display: block;*/
    padding-top: 10px;
    clear: both;
}

.start_triggers {
    text-align: center;
}

.start_triggers p {
    padding:0;
    margin:0;
}


.live-stat-panel {
    max-width: 760px;
}

.live-stat-panel .panel-heading {
    text-align:center;
}


.start-wrap input {
font-size: 15px;
    width: 100px;
    margin: auto;
}


.panel-timeline a.start_timeline {
    background: #00B3BE;
    padding: 18px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    margin-top: 25px;
        margin-bottom: 10px;
}




.timeline > li > .timeline-item {
   
    border-radius: 3px;
    background:#F5F5F5;
   border:1px solid #D8D8D8;
}


.time-label.add_stat_time_mom_wrap {
    width: 120px;
    text-align: center;
    margin-left:-60px;
} 

.add_stat_time_mom {
        width: 120px;
}

.add_stat_time_event_wrap, .add_stat_time_mom_wrap{
    display:block;
}

.time-label.add_stat_time_event_wrap {
    width:140px;
    margin-left:-70px;
}
.add_stat_time_event {
   display:none;
    width: 30px;
   height:30px;
   border-radius: 50%;
   background: #00B3BE;
   padding:5px;
}

#add_timeline_form, #add_timeline_mom_form, #edit_timeline_form {
    display:none;
   width: 300px;
    left: 50%;
    margin-left: -150px;
}

#add_timeline_form {
    display: none;
}

#add_timeline_form .btn, #add_timeline_mom_form  .btn , #edit_timeline_form .btn{
    width:44%;
    margin:2%;
}

#add_timeline_form .btn-danger {
    margin:2% 28%;
}

#edit_timeline_form {
    /*
    position:absolute;
    z-index:1000;
    margin-left: 0;
    width:50%;
    z-index: 1200;
    */

}

#edit_timeline_form .timeline-item {

}

.timeline li.timeline_second_line i.edit-timeline-item-trigger, .timeline li.timeline_first_line i.edit-timeline-item-trigger {
    left: auto;
    right: 15px;
    top: 0;
    z-index: 100;
    background: none;
    cursor:pointer;
}
.timeline li.timeline_first_line i.edit-timeline-item-trigger {
    left: 15px;
    right: auto;
}

#add_timeline_mom_form {
    background: white;
}


#stopwatch {
    border:1px solid rgba(255, 255, 255, 0.41);
    text-align: center;
}

.time-label.stopwatch_label {
   left: 0;
    margin-left: 10px;
}

.stopwatch_label > span {
    width:100%;
    text-align: center;
}

#stopwatch span {
    display: block;
    margin:auto;
    font-size: 28px;
}

#stopwatch .btn {
    font-size:18px;
    color:white;
}

.time-label {
        left: 50%;
    margin-left: -35px;
}

.timeline_second_line {
    left:50%;
}

.timeline > li > .timeline-item {
    margin-left:4px;
}

.timeline_event  {
    /*max-width: 50%;*/
}

.timeline > li.start-label {
    background: white;
    text-transform: uppercase;
}


.timeline-start-item {
   /* position: relative;
    top: 60px;
   */
}

.timeline-start-item.hide {
    display:none;
}


.timeline-start-item .ico-clock2 {
   display: block;
   margin: auto;
}


.timeline_event_first_line .timeline-label,
.timeline_event_first_line .edit-timeline-item,
.timeline_event_second_line .timeline-label,
.timeline_event_second_line .edit-timeline-item 
{
    width: 50%;
    position: relative;
}

.timeline_event_icon {
    position:absolute;
    left:50%;
    margin-left:-10px;
    top:20px;
    background: white;
}

.timeline_event_first_line .timeline-label {
    float: right;
    text-align: left;
}

.timeline_event_first_line .edit-timeline-item {
    text-align: right;
}
.timeline_event_second_line .timeline-label {
    float: left;
    text-align: right;
}
.timeline_event_second_line .edit-timeline-item {
    float: left;
    text-align: left;
}

.edit-timeline-item-trigger,.delete-timeline-item-trigger {
    /*
    position: absolute;
    left: 10%;
    top: 30px;
    */
    display: none;
   
    cursor:pointer;
    margin: 25px;
}

.delete-timeline-item-trigger {
     margin: 25px 0;
     display: none;
}

.timeline_event:hover .edit-timeline-item-trigger, .timeline_event:hover .delete-timeline-item-trigger {
    display:inline-block;
}

.timeline-label .current_hit_time 
{
    background: none;
    color: #47545C;
    height: 80px;
        padding: 15px 30px 0 0;
    /*line-height: 65px;*/
    width: 140px;
    text-align: right;
}

.timeline-label .current_hit_time.phase_hit_time {
    padding: 15px 0 0 0;
}

.manual_timeline .timeline-label .current_hit_time {
    visibility:hidden;
}

.timeline-label .current_hit_time .ico-edit {
    margin:0 5px;
}

.timeline_event_first_line .timeline-label .current_hit_time 
{
    padding: 15px 0 0 30px;
    text-align:left;
}

.timeline_event_first_line .edit_hit_time_wrap {
    float:left;
    margin-left:30px;
    margin-right:0;
}
    



.timeline-label .current_hit_time .ico-edit {
    display:none;
}
.timeline-label .current_hit_time .ico-edit {
    display:none;
}
.timeline-label .current_hit_time:hover .ico-edit {
    display:inline-block;
}

timeline_event_first_line .players_group {
    float:right;
}
timeline_event_first_line .players_group {
    float:left;
}

.timeline_event_second_line .players_group, .timeline_event_second_line .edit-timeline-item-trigger {
    float:left;
}

.timeline_event_first_line .players_group, .timeline_event_first_line .edit-timeline-item-trigger {
    float:right;
}


.ico.edit-timeline-item-trigger {
    display: none;
}

.ico.edit-timeline-item:hover .edit-timeline-item-trigger
{
    display: inline-block;
}


.timeline_player_row .player_name, .timeline_player_row .icon, .timeline_player_row .acr
{
    display: inline-block;
}
.timeline_player_row .player_name, .edit-timeline-item .acr
{
    vertical-align: top;
    line-height: 30px;
}

.edit-timeline-item .acr  {
    width: 40px;
    text-align: center;
}
.edit-timeline-item .icon {
        width: 30px;
    text-align: center;
    margin-left: 20px;
}

.timeline_event_second_line .edit-timeline-item .icon {
    margin-left: 0;
    margin-right:20px;
}




.timeline_first_line  {
    text-align:right;
}

.close_timeline_form {
    color:#dd4b39;
    font-size:18px;
    cursor:pointer;
    display:block;
}

.assist_player_wrap {
    display:none;
    margin:5px 0;
}

.edit_hit_time_wrap {
    max-width:130px;
    display:none;
    float: right;
        margin-right: 30px;
}

.edit_hit_time_wrap input.form-control {
    width: 100px;
        font-size: 16px;
}

.current_hit_time {
    cursor: pointer;
    width: 90px;
    border: 0;
    background: #37424a;
    color: white;
    margin: 0 0 5px 0;
}

.edit_hit_time_wrap.input-group .input-group-addon {
   background: #7BB838;
    width: 30px;
    height: 34px;
    display: inline-block;
    text-align: center;
    padding: 7px 5px;
    border-radius: 0;
}

.set_stat_panel {
    display:none;
}



#set_stat_panel_1, .set_stat_panel_active {
    display:block;
}

.add_set_stat_triger {
    display:none;
}

.set_stat_panel_last .add_set_stat_triger {
    display: inline-block;
}

.time-label.add_stat_time_event_wrap_mom {
    margin:0 auto;
    width:auto;
    left:0;
    display:none;
        top: 10px;
}

.time-label.add_stat_time_event_wrap_mom.active {
    display:block;
}

.event-detail a.add_stat_time_mom_manual {
    padding:10px 20px;
    background:#CE3346;
    color:white;
    border-radius:4px;
}

/*STAT TABLE*/
#stat_table td {
    position:relative;
}

#stat_table td span {
    position:absolute;
    left:0;
    top:0;
    display:block;
    height:100%;
}

#stat_table.resp_stat_table td span {
    position:static;
}
#stat_table.resp_stat_table {
    margin: 0 -15px;
}


#stat_table td span.stat_value {
    z-index:1000;
    text-align:center;
    width:100%;
    vertical-align: middle;
    padding-top:3px;
}

#stat_table td span.ratio {
    z-index:900;
}

#stat_table td.sorting_1 {min-width:50px;}



.gp_ratio{background:#8AE2F8;}
.win_ratio{background:#C7F7B9;}
.draw_ratio{background:#F7CEB9;}
.loose_ratio{background:#FFA8A8;}
.prediction_ratio_10{background:rgba(40, 148, 40,0.1)}
.prediction_ratio_20{background:rgba(40, 148, 40,0.2)}
.prediction_ratio_30{background:rgba(40, 148, 40,0.3)}
.prediction_ratio_40{background:rgba(40, 148, 40,0.4)}
.prediction_ratio_50{background:rgba(40, 148, 40,0.5)}
.prediction_ratio_60{background:rgba(40, 148, 40,0.6)}
.prediction_ratio_70{background:rgba(40, 148, 40,0.7)}
.prediction_ratio_80{background:rgba(40, 148, 40,0.8)}
.prediction_ratio_90{background:rgba(40, 148, 40,0.9)}
.prediction_ratio_100{background:rgba(40, 148, 40,1)}

#filter_season_id {
    min-width: 280px;
}

.dataTables_filter {
    float:right;
}

.dataTables_info {
    float:left;
}

.dataTables_length {
    display: inline-block;
    padding: 0 15px;
}

.dataTables_paginate
{
    float: left;
    padding: 0 25px;
}



/*TEAM SETTINGS*/
#team_form .ico-envelope {
    background-size: 20px;
}

#team_form #map_wrap {
    /*display:none;*/
}

#exist_team_settings_photo, .team-photo-sm img {
    max-width: 100%;
    max-height:150px;
}

#team-more-detail {
    padding:15px 0;
}

.btn-wizard-next {
    font-size:14px;
}
.btn-wizard-next span {
    display: inline-block;
    padding-right: 20px;
    font-size:16px;
}

#exist-photo-wrap {
    text-align: center;
    width:90px;
    height:90px;
    border-radius: 50%;
    overflow:hidden;
    float: left;
        background-size: cover;
}

#photo-action {
    line-height:90px;
    float: left;
    padding: 0 20px;
}



.add-new-team-photo {
    display:block;
    margin:auto 10px;
    text-align: center;
    max-width: 150px;
}

.add-new-team-photo i {
    font-size:48px;
    display:block;
    margin:auto 10px;
}

#map_wrap.map-active {
    height:300px;
}

#map_wrap.map-inactive {
    height:0;
    overflow: hidden;
}

.btn-delete-team {
    padding:9px 20px;
    font-size:16px;
}


/*TEAM LINE UP*/
.new-player-form {
    display:none;
}


.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.wizard {
    max-width: 760px;
    margin: auto;
    padding: 10px 0;
}

.wizard-step {
  position:relative;
    text-align: center;
  color:#999FA3;
      font-size: 16px;
}
.wizard-step.active, 
.active_step_2 .wizard-step-1, 
.active_step_3 .wizard-step-1,
.active_step_3 .wizard-step-2
{
  color:#00BFCA;
}

.active_step_2 .wizard-step-2 .ico-wizard2,  .active_step_3 .wizard-step-2 .ico-wizard2 {
  background-image:url('/theme/img/icon/wizard_2_green.svg');
}


.active_step_3 .wizard-step-3 .ico-calendar {
  background-image:url('/theme/img/icon/calendar_green.svg');
}



.active_step_2 .progress_step1, 
.active_step_3 .progress_step1,
.active_step_3 .progress_step2
{
  background-color:#00BFCA;
}

.wizard-step strong {
   font-weight: normal;
    padding: 5px 0;
    display: block;
}

.wizard-step .icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #888E92;
    text-align: center;
    padding: 8px;
    margin: auto;
    background: #f5f5f6;
    z-index: 1000;
    position: relative;
}

.wizard-step.active .icon,  
.active_step_2 .wizard-step-1 .icon,
.active_step_3 .wizard-step-1 .icon,
.active_step_3 .wizard-step-2 .icon
{
    border: 1px solid #00BFCA;
}

.progress-line {
    height:1px;
    width:100%;
    background:#888E92;
    position:absolute;
    top: 20px;
    left: 50%;
     z-index: 900;
}


/*END Form Wizard*/



/*Upload*/

.upload-progress {
    display:none;
   overflow:hidden;
   padding:10px 0
}



.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    display:block;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}


.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
}


.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 100px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}


/*ATTENDANCE*/

#resp_attendance {
    width:100%;
    display:none;
}

#resp_attendance table {
    width:100%;
}

#resp_attendance table td {
   border-bottom:1px solid #D4D3D3;
}

#resp_attendance h3 {
    font-size:16px;
    font-weight:bold;
    text-align:center;
}

#resp_attendance .resp_attendance_item {
    padding:10px;
    margin: 5px 0;
    background: #EBEBEC;
}

#resp_attendance .attendance_trigger {
    margin:5px;
}

.attenndance_event_name_mobil {
    display:none;
}


/*Messages*/
.label-message-recipient {
    font-size:14px;
    margin:3px;
    font-weight:normal;
    float:left;
    padding:10px;
}

.label-message-recipient .fa-close {
   cursor:pointer;
}

.label-badget-autocomplete {
     border: 1px solid #D2D6DE;
}

.label-badget-autocomplete .mesage-recipient-find {
    border:0;
    background: white;
    margin: 0;
    padding: 10px;
    height: 40px;
    max-width:200px;
}

.label-badget-autocomplete::after {
    clear:both;
    content: " ";
    display: block;
    height:1px;
}

.recipient-list {
padding: 5px 0; 
 position:relative;
}

.message_status_unread {
    font-weight:bold;
}

.message_status_read {
    color:gray;
}



/*SCOUTING*/
.scouting-select-criteria {
    clear:both;
    padding: 3px 0 0 12px;
}


.scouting-form-wrap {
    display:none;
}

#chat-root button[data-widget="remove"]
{
    display:none;
}

.navbar .logo_760 {
    display:none;
}

.scouting-row, .system-notify-row {
    padding:15px 10px;
    position:relative;
    border-bottom: 1px solid #EBECEC;
}

.scouting-row .avatar {
    width:22px;
    height:22px;
    border-radius:50%;
    border:1px solid #EBECEC;
    position: absolute;
    left: 12px;
    top: 15px;
}


.sr-sidebar-user .scouting-type-icon {
    margin-top:40px;
}

.sr-footer a {
    display:inline-block;
    color:#999FA3;
    margin-left:40px;
    font-size: 12px;
    line-height: 20px;
}

.sr-footer a.match {
   color:#00BFCA;
}

.all-sr-link {
    display: block;
    text-align: center;
    color:#47545C;
    font-size:12px;
    padding:10px 0;
}

.selected-choices {
    overflow: hidden;
    display: none;
}
.selected-choices.active {
    display: inline-block;
}

.selected-choices span {
    background: #3dc3cc;
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    float: left;
    line-height: 22px;
}

#current-selected-sports  span {
    background: #47545C;
}



.selected-choices span .ico-close {
    width:16px;
    height:16px;
    cursor:pointer;
    margin: 3px;
}

.btn-scouting-search {
    background: none;
    font-size: 12px;
    padding: 3px 10px;
}

#search-scouting-form {
    font-size: 12px;
    border-radius: 3px;
    border: 0;
    background: #F5F5F6;
    padding: 3px 10px;
    border: 1px solid #F5F5F6;
}

.share-scouting .ico-share {
    width: 20px;
    height: 20px;
    background-size: 14px 14px;
}


.empty-scouting {
    padding:10px;
    text-align:center;
}

.empty-scouting .add-scouting-trigger {
    margin:5px 0;
}
.empty-scouting strong {
   font-size:16px;
   color:   #00B3BE;
   display:block;
   font-weight:normal;
   padding: 20px 0;
}



.sr-footer a.share-scouting {
    color:#00B3BE;
}

#table_attendance .attendance_trigger_btn, #resp_attendance .attendance_trigger_btn{
    display:inline-block;
}

.sr-footer .created-date{
    font-size:12px;
    display:inline-block;
    padding-left:10px;
    color:#999FA3;
}

.system-notify-row {
    font-size:12px;
}
.system-notify-row.read  {
    background:#8e8e8e21;
}


.system-notify-row strong {
    display:block;
    font-weight:normal;
    margin:0 0 5px 0;
}
.system-notify-row span {
   color:#333;
}

.system-notify-row .sn-footer {
   color:#333;
   margin-top:5px;
}

.system-notify-row .sn-footer .created-date {
   color:#a7a5a5;
}


/*PROGRESS*/

.continue_btn_second {
    background:#FF6D22;
    border:1px solid #FF6D22;
}

.continue_btn_second:hover {
    border:1px solid #FF6D22;
}

#panel_progress {
   width: 100%;
    max-width: 440px;
    height: 50px;
    padding: 10px 0;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 8px;
    margin-left: -220px;
    z-index: 100;
}

 #panel_progress ul {
      margin:0;
      padding:0;
}

#panel_progress li {
    /*overflow: hidden;*/
    list-style-type: none;
    min-width:30px;
    float:left;
    color:white;
    position:relative;
}

#panel_progress .num {
    float:left;
    width:20px;
    height:20px;
    border-radius: 50%;
    background:#00B3BE;
    text-align: center;
    line-height:20px;
    background-position:center center;
    background-repeat: no-repeat;
    background-image:url('/theme/img/icon/check-progress.svg');
}

#panel_progress .line {
    float: left;
    height: 1px;
    border-bottom: 1px solid #00B3BE;
    width: 100%;
    margin-left: 20px;
    margin-top: -10px;
}

#panel_progress .waiting .num {
    background:#FF6D22 url('/theme/img/icon/current-progress.svg') center center no-repeat;
}
#panel_progress .waiting .line {
    border-bottom: 1px solid #FF6D22;
}
#panel_progress .locked .num, #panel_progress .next .num {
    background:#AFB3B6 url('/theme/img/icon/lock-progress.svg') center center no-repeat;
}
#panel_progress .locked .line, #panel_progress .next .line {
    border-bottom: 1px solid #AFB3B6;
}



#panel_progress .desc {
    position: absolute;
    left: 0;
    top: 42px;
    background: orange;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border-radius: 8px;
    display:none;
    width:100%;
}

#panel_progress li.finish, .pro-icon, .pro-icon-label {
    background: #925EBF;
    border-radius:3px;
    text-align: center;
    font-size:10px;
    height:20px;
    line-height:20px;
    display:inline-block;
    text-transform: uppercase;
    color:white;
}

#panel_progress li.finish .team_credit_modal_trigger {
    color:white;
}



.pro-icon, .pro-icon-label {
    border:0;
    float:right;
    margin: 13px 13px 0 0;
}

.pro-icon-label {
   margin: -2px 8px 0 0;
    padding: 3px;
    height: 16px;
    font-size: 8px;
    line-height: 14px;
}

.sidebar-collapse .pro-icon {
   float: none;
    margin: auto;
    display: block;
    margin-top: -10px;
    margin-bottom: 5px;
}

.upgrade_pro .pro-icon {
   float: none;
    margin: auto;
    display: block;
    margin-top: 5px;
    text-transform: none;
}

.sidebar-collapse .upgrade_pro .pro-icon {
    margin-bottom: 5px;
    width:52px;
    overflow:hidden;
}



#panel_progress .tooltip-inner {
    width:400px !important;
}

#panel_progress .finished .tooltip-inner {
    background:#00B3BE;
}

#panel_progress .desc-cursor {
  width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
    position: absolute;
    left: 5px;
    top: 25px;
    display:none;
}

#panel_progress .desc.finished {
    background: #00B3BE;
}

#panel_progress .finished .desc-cursor {
    border-bottom: 7px solid #00B3BE;
}

#panel_progress .desc.waiting {
    background: #FF6D22;
}

#panel_progress .waiting .desc-cursor {
     border-bottom: 7px solid #FF6D22;
}

#panel_progress .locked .desc-cursor,#panel_progress .next .desc-cursor{
     border-bottom: 7px solid #AFB3B6;
}

#panel_progress .desc.locked, #panel_progress .desc.next{
    background: #AFB3B6;
}

.btn_progress_continue {
    display:none;
}

.progress-modal .modal-title  {
    text-align:center;
    font-size:16px;
    text-transform: uppercase;
}

.progress-modal .modal-title span  {
    display:inline-block;
    border-bottom:2px solid #00B3BE;
    padding:3px;
    
}

.progress-modal .modal-content {
    background: #F5F5F6;
    text-align: center;
     color:#47545C;
}
.progress-modal img{
    max-width:80%;
    margin:auto;
}

.progress-modal .modal-content p {
    padding:20px;
     display:block;
}


.progress-modal .modal-content strong {
    /*font-size:18px;
    padding:20px;
    display:block;*/
}


.progress-modal .modal-content .close {
    opacity:1;
}


.progress-modal .modal-content .close .ico-close-black {
    width: 16px;
    height: 16px;
}

.progress-modal ul, .progress-modal ol {
    list-style-type:none;
}

.pro-sbs-intro  {
    color: #925ec0;
    text-transform: uppercase;
    font-weight: 600;
    width: 130px;
    text-align: left;
    margin: auto;
    line-height: 14px;
    
}

.pro-sbs-intro .pro-icon {
    padding: 3px;
    border: 0;
    float: left;
    font-size: 16px;
    font-style: normal;
    padding: 3px 6px;
    line-height: 18px;
    height: 22px;
    margin: 0 5px 0 0;
    font-weight: normal;
}

#step_intro p {
    max-width:420px;
    margin:auto;
}

.s2s_skip_trigger, .s2s_text_link {
    color: #91979B;
    line-height: 40px;
    font-size: 12px;
}

#team-credit-modal .modal-dialog {
    width:320px;
    position:relative;
    margin: auto;
}

#team-credit-modal .modal-content {
    height:490px;
    background:url('/theme/img/pay_back_2x@320x490.png') center top no-repeat;
    background-size: cover;
    padding-top:80px;
}

.autopayment-holder {
    padding:30px  0;
    text-align:center;
    color:white;
}

#team-credit-modal #payement_team_id  {
    margin:8px 0 30px;
}


.pay-label, #promo-code-form button {
    height:60px;
    padding:10px 0;
    line-height:20px;
    width:128px;
    border-radius:3px;
    border: 0;
    display: block;
    background:none;
    border:1px solid white;
    color:white;
    cursor:pointer;
    position: relative;
}

#team-credit-modal .ico-question  {
width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid white;
    background-size: 12px;
    margin-left: 5px;
}

.pay-label-row {
    margin: 0;
}

.pay-label-active::after {
    width: 25px;
    height: 25px;
    background-color: #81B82B;
    content: " ";
    background-image: url(/theme/img/icon/check.svg);
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -18px;
    margin-left: -12px;
    
}

.pay-label strong {
    font-size: 18px;
    display: block;
    font-weight: normal;
}

.pay-label-w {
    background:white;
    color:#a980ce;
}

.pay-label-active {
     background:white;
    color:#a980ce;
}

.payment-text {
    color:white;
    padding:0 40px;
    font-size:18px;
    text-align:center;
}

.payment-text-sm {
    color:white;
    font-size:12px;
    text-align:center;
    padding:30px 0;
    margin:0;
}

.pay-button {
    height:44px;
    line-height:44px;
    width:130px;
    color:white;
    text-align: center;
    background: #ff6c21;
     border-radius:3px;
    border: 0;
}

.autopayment-holder .icheckbox_flat-green
{
   
    border:1px solid white;
    border-radius:2px;
    margin-right:5px;
    
       width: 16px;
    height: 16px;
    background: none;
}

.autopayment-holder .icheckbox_flat-green.checked {
    background: url(/theme/img/icon/check-progress.svg) no-repeat;
    background-position: 2px 3px;
}

#team-credit-modal h2 {
    text-align: center;
    color:white;
    font-size:18px;
    text-transform: uppercase;
        padding: 0 0 0 0;
        margin-top:5px;
        /*margin-bottom: 30px;*/
}

#team-credit-modal .close-trigger {
   background: none;
    border: 0;
    right: 0;
    top: 40px;
    position: absolute;
    z-index: 1000;
}

#promo-code-form button {
    height:36px;
    width: 100%;
    line-height: 36px;
}



#promo-code-form input {
    border: 0;
    border-radius: 3px;
    height: 36px;
    padding: 0 5px;
    width: 100%;
}



#promo-code-form button {
    line-height: 18px;
}
#promo-code-form p, #team-credit-modal .desc-text {
   text-align: center;
    color: white;
    padding: 15px 0 0 0;
}

#team-credit-modal span.save {
    display: block;
    height: 24px;
    color: #ff6c21;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #d83549;
    color: white;
    line-height: 54px;
    position: absolute;
    right: -10px;
    top: -28px;
    z-index: 100;
}

#promo-result-row {
    text-align:center;
    color:white;
}

#team-credit-modal-loader {
    display:none;
    text-align: center;
    color: white;
    padding-top:100px;
}

.cr-modal-tx2 {
    color:white;
    padding:5px 0 20px 0;
    font-size:12px;
}

.cr-modal-vop-text {
    color:white;
    padding:20px 0 0 0;
    font-size:12px;
}

.cr-modal-vop-text a {
    color:white;
    text-decoration:underline;
}

/*SUBCRIPTIONS*/
#subscription-change-modal .modal-content {
    background: #F5F5F6;
}

#subscription-change-modal .contrast-row {
    background: white;
    padding: 20px 0;
}

#subscription-change-modal .action-row {
    margin-top:10px;
}

.order_table_wrap {
    margin:0;
}

.order-table-row  {
border-top:1px solid #f4f4f4;
border-bottom:1px solid #f4f4f4;
}

.order_table_cell{
    padding:10px;
    border-right:1px solid #f4f4f4;
        border-left:1px solid #f4f4f4;
       min-height:80px;
}

.order_table_header .order_table_cell {
    font-weight:bold;
     min-height:40px;
}

#order_table {
     color:#47545B;
}

.order_table_cell .l_760 {
    display:none;
    font-weight:bold;
}

.subscription-change-btn-row {
    padding:3px 0;
    font-weight:400;
}

.subscription-change-btn-row button {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #979797;
    background: white;
    margin-right:10px; 
}

.subscription-change-btn-row button.active {

    border: 7px solid #00B3BE;
    width: 20px;
    height: 20px;
    padding: 0;
}

.subscription-save {
    color:#8BC147;
}

#subscription-change-modal .modal-title{
    text-align:center;
}

#subscription-change-modal .modal-title span {
    display: inline-block;
    border-bottom: 2px solid #00B3BE;
    padding: 3px;
    text-align:center;
}

.subscription-text {
    padding:20px 0;
}

.subscription-modal .modal-content {
    background: #F5F5F6;
    text-align: center;
    color: #47545C;
}
.subscription-modal .modal-header{
   padding-bottom:30px;
}

.subscription-modal .modal-title span {
    display: inline-block;
    border-bottom: 2px solid #00B3BE;
    padding: 3px;
}

.subscription-modal .modal-content {
    text-align:center;
    padding:15px 0;
}

.subscription-modal .modal-title-danger  span {
    border-bottom:2px solid #D73549;
    font-size:16px;
    margin-top:5px;
}

.subscription-modal .modal-body {
    background: white;
    padding:20px 0;
}

.subscription-modal  .modal-footer {
    text-align: center;
}  
.subscription-modal  .modal-footer p {
   padding:20px 0;
   font-size:14px;
}  

.subscription-modal  .btn {
   padding: 9px 20px;
   font-size:14px;
}  

/*TOURNAMENT*/

.playoff {
    width:100%;
    overflow:hidden;
    padding: 20px;
    position:relative;
}


.pl-round {
    float:left;
    width:360px;
    margin-right:25px;
}

.pl-cell {
    position: relative;
}

.pl-top-bar {
    height: 80px;
    width:100%;
    border-radius:4px 4px 0 0;
    background:#00b3be;
}


.pl-top-bar-row  {
    height:40px;
    font-size:15px;
    color:white;
    padding: 10px 0 0 10px;
}

.pl-top-bar-row i {
    margin-right:10px;
}

.pl-bottom-wrap {
    overflow: hidden;
}

.pl-cell-cnt {
  float:left;
   width: 300px;   
   overflow: hidden;
}


.pl-cell-cnt1 , .pl-cell-cnt2 {
    height:60px;
    line-height:60px;
    padding:0 20px;
    border:1px solid #d7d9db;
    white-space: nowrap;
    font-size:14px;
    color:#000000;
}

.pl-cell-cnt2  {
    border-top:0;
}

.pl-cell-results .pl-cell-cnt1,
.pl-cell-results .pl-cell-cnt2 {
    border-left:0;
    padding:0;
    font-size:19px;
    text-align: center;
}


.pl-cell-results {
    float:left;
    width: 60px;
}


.pl-spacer {
    /*height:10px;*/
}

.pl-bottom-spacer {
    height: 70px;
}

.pl-round  .pl-bottom-spacer:last-child {
    display:none;
}

.pl-conector-left {
    position: absolute;
    height: 10px;
    border-top: 1px solid #5f686d;
    border-right: 1px solid #5f686d;
    border-radius: 0 8px 0 0;
    top: -31px;
    left: -25px;
    width: 160px;
}
.pl-conector-right {
   position: absolute;
    height: 10px;
    border-bottom: 1px solid #5f686d;
    border-right: 1px solid #5f686d;
    border-radius: 0 0 8px 0;
    top: 230px;
    left: -25px;
    width: 160px;
}

.pl-round-1 .pl-conector-left, .pl-round-1 .pl-conector-right {
    display:none;
}


.pl-conector-left:after {
   content: '';
    position: absolute;
    background-color: #5f686d;
    left: 159px;
    height: 25px;
    width: 1px;
    top: 5px;
}

.pl-conector-right:after {
    content: '';
    position: absolute;
    background-color: #5f686d;
    left: 159px;
    height: 30px;
    width: 1px;
    top: -30px;
}

.pl-round-2  {
    padding-top:170px;
}

.pl-round-2 .pl-conector-left {
   
}

.pl-round-2 .pl-bottom-spacer {
    height:340px;
}

.pl-round-2 .pl-cell-playoff_bronze {
    top:-250px;
}

.pl-round-3  {
    padding-top:440px;
}

.pl-round-3 .pl-conector-left {
    top: -131px;
}
.pl-round-3 .pl-conector-left:after {
    height: 125px;
}

.pl-round-3 .pl-conector-right {
    top: 400px;
}
.pl-round-3 .pl-conector-right:after {
    height: 200px;
    top:-200px;
}

.pl-round-3 .pl-bottom-spacer {
    height:880px;
}

.pl-round-3 .pl-cell-playoff_bronze {
       top: -860px;
    left: 180px;
}


.pl-round-4  {
    padding-top:970px;
}


.pl-round-4 .pl-conector-left {
    top: -391px;
}
.pl-round-4 .pl-conector-left:after {
    height: 385px;
}

.pl-round-4 .pl-conector-right {
    top: 680px;
}
.pl-round-4 .pl-conector-right:after {
   height: 480px;
    top: -480px;
}

.pl-round-4 .pl-cell-playoff_bronze {
        left: -400px;
    top: -270px;
}

.pl-cell-playoff_bronze .pl-conector-left,
.pl-cell-playoff_bronze .pl-conector-right
{
    display:none;
}



/*
table.playoff  td {
    vertical-align: middle;
}

table.playoff .round-0 td {
    height:40px;
}

table.playoff .round-1 td {
    height:80px;
}
table.playoff .round-2 td {
    height:160px;
}
table.playoff .round-3 td {
    height:320px;
}
table.playoff .round-4 td {
    height:640px;
}
table.playoff .round-5 td {
    height:1280px;
}

.pl-cell-cnt1 , .pl-cell-cnt2 {
    padding:10px;
    border-radius:10px;
    border:1px solid #00b3be;
    margin:10px 0;
    white-space: nowrap
}

.pl-cell .btn-primary, .pl-cell .btn-green {
    max-width: 24%;
    min-width: 120px;
    white-space: normal;
}
*/

/*
.round-2 .pl-cell {
    background: url('/theme/img/playoff_bg.png') left center no-repeat;
        min-height: 160px;
}
*/

/*
table.playoff .pl-cell {
    background: #37424A;
    margin: 10px;
    color:white;
}

table.playoff .pl-cell-head {
    background: #485159;
    padding:5px;
    margin:0 0 10px 0;
    height: 50px;
}
*/
table.playoff .pl-cell {
        padding:20px;
        padding-left: 30px;
    /*padding: 10px;
    background: #f5f5f6;
    border-radius: 10px;
    */
}



.match_phases_chain {
    display: none;
}
.match_phases_chain.active {
    display: inline-block;
}

.t-stat-table-team {
    min-width: 250px;
}


.agree-area {
    height:150px;
    overflow:auto;
}

.tournament-event-row {
    min-height: 110px;
    overflow: hidden;
}

.tournament-event-row a.btn-primary {
    color:white;
    font-size:14px;
    padding: 6px 12px;
    margin:2px;
    width:100%;
    text-align: center;
}

.tournament-event-row a.btn-half {
    width:47.9%;
}
.tournament-event-row a.btn-primary:hover {
    color:#00B3BE;
}

.tournament-event-row .event-info .main-info {
   max-width: 70%;
    display: inline-block;
}

.tournament-event-row .event-actions1 {
   display: inline-block;
   max-width: 200px;
}

.tournament-event-row .event-actions1-m {
    display:none;
}

.tournament-event-row .media-trigger {
    clear: none;
}



.write-score {
    padding-top:5px;
}

.write-score strong {
    display: block;
    text-align: center;
    font-weight: normal;
    color: #00b2be;
    text-transform: uppercase;
}

.tournament-event-row .attendance-cell {
    max-width: 250px;
    width: 100%;
}

.tournament-login-box {
    width:440px;
    max-width: 100%;
}
.t_agree_row a{
    color:white;
    text-decoration: underline;
}

.panel-quick-menu {
    padding:20px 10px;
}

.tournament-panel-quick-menu {
    max-width: 100%;
    margin: 0;
}

.panel-tournament .team-info h3 {
    font-size: 14px;
    margin: 5px 0;
    padding-right: 10px;
}

.periods-button {
    display: none;
}

.score-cell-match-overview {
    display: inline-block;
    float: right;
    margin: 18px;
    max-width: 180px;
}

.overtime-wrap {
    padding:10px;
    display:block;
    
}

.tscore-cell {
    position: relative;
    overflow: visible;
}

.overtime-flag {
   position: absolute;
    right: -20px;
    padding: 0 3px;
    color: #00b2be;
    font-weight: bold;
}

.full-overlay-window .col-md-12 {
    position:static;
}

#full-window {
    
background: #00b3be; /* Old browsers */
background: -moz-linear-gradient(left,  #00b3be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #00b3be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #00b3be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */

    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    text-align: center;
    z-index: 2000;
    min-height: 520px;

}

.full-window-cnt {
    /*background: white;*/
    /*padding: 30px;*/
    max-width: 340px;
    width: 90%;
    margin: auto;
    text-align: justify;
    /*border: 1px solid #00000021;
    box-shadow: 0 0 10px #00000021;*/
    margin-top: 20px;
    color:white;
    font-size:16px;
        text-align: center;
        position: relative;
        min-height: 460px;
    max-height: 700px;
    font-family: 'Montserrat-light',Helvetica, 'Helvetica Neue', Arial, sans-serif;
    
}

.full-window-cnt h4 {
    font-size:25px;
    margin: 40px auto;
}


.full-window-cnt a {
    color:white;
    text-decoration:underline;
}
.full-window-cnt  .button-form {
    position:absolute;
    bottom:30px;
    width:100%;
    left: 0;
}

.full-window-cnt a.agree-clear {
    text-decoration: none;
}

.agree-clear {
        padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
    background: none;
    margin: 0 5px;
    display: inline-block;
    min-width:130px;
}

.full-window-cnt  .button-form button:hover {
       
    background: white;
}

.agree-primary {
    background:#FF6D22;
    border: 1px solid #FF6D22;
}

.gdpr-teamPlayers {
    font-size:10px;
    max-width: 700px;
    color:#999;
    margin:0 auto 15px auto;
}

.gdpr-marketing-window {
    padding-top:80px;
}

.nomination_player_number {
    font-size:16px;
    font-weight:bold;
}


.m-round-nav {
    display:none;
}

 .tournament-start .btn-primary, .quick-join .btn-primary, .btn-invitation-join-btn{
        background: #FF6D22;
        border:1px solid #FF6D22;
        display:block;
        width:90%;
        max-width:160px;
        margin:15px auto 10px auto;
        color:white;
        
    }
    
.quick-join .btn-primary {
    max-width: 600px;
    white-space: normal;
}

.btn-join-tournament {
    display: block;
    margin: 40px auto;
    background: #FF6D22;
    border: 1px solid #FF6D22;
    font-size: 16px;
    text-align: center;
    color: white;
    max-width: 200px;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

.tournament_share_link_wrap {
    padding:10px;
    background:#1ebbc5;
    margin:0 auto 15px auto;
}
.tournament_share_link_wrap label{
   color:white;
}

.tournament_share_link_wrap .input-group .input-group-addon{
   border-radius: 0;
}
   

.mobile_app_promo img {
    max-height: 30px;
    margin: 10px 1px;
}

.mobile_app_promo_sm {
    display:none;
}

.banner-panel {
    position:relative;
}

.banner-panel .mobile_app_promo {
    width:50%;
    text-align:center;
    position:absolute;
       left: 9%;
    bottom: 5%;
    max-height: 50px;
}

.banner-panel .mobile_app_promo.mobile_app_promo_ios {
    left:auto;
    right:10%;
}
    
.banner-panel .mobile_app_promo img{
    margin:auto;
    max-width:55%;
    max-height: 45px;
}
    
.share-link-invite-box {
    max-width: 600px;
    width:100%;
}

.team-public-detail .widget-user .widget-user-image {
    top:30px;
}

.team-public-detail .starbox {
    margin:auto;
}

.tournament-top {
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b3bf+0,2789be+100 */
background: #00b3bf; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #00b3bf 0%, #2789be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #00b3bf 0%,#2789be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #00b3bf 0%,#2789be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3bf', endColorstr='#2789be',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color:white;
text-align:center;
}

.tournament-top-head {
    margin:auto;
    text-align:center;
    padding-top: 30px;
}

.tournament-top-head .topLogos {
    overflow:hidden;
    width:470px;
    margin:auto;
}

.tournament-top-head .topLogos  img 
{
    height:150px;
    float:left;
}

.tournament-top-head h1 {
    height: 180px;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 40pt;
    color: black;
    background: url(/theme/img/tournament/slide-top-bg.png) center center no-repeat;
}

.tournament-top-head h2 {
    position: relative;
    top: -50px;
    font-size: 20pt;
}

#live-goal-wrap {
    display:none;
    position:absolute;
    width:100%;
    left:0;
    top:0;
    text-align:center;
    z-index:2000;
        min-height: 1200px;
    background: #00b3bf; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #00b3bf 0%, #2789be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #00b3bf 0%,#2789be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #00b3bf 0%,#2789be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3bf', endColorstr='#2789be',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.live-goal  {
    margin:auto;
}

.live-goal   h3 {
    font-size:88pt;
    font-weight: bold;
}

.tournament-top-head .topLogos  img.logo-skliga {
    height:100px;
    margin-right:50px;
}

.live-goal   strong {
    font-size:36pt;
}

.ladder {
    display:block;
    width:60%;
    min-width:320px;
    margin:auto;
    position:relative;
    min-height: 50px;
}

.ladder .ladderLabel {
    position:absolute;
    padding:10px;
    background: #D0021B;
    font-size:16pt;
    font-weight:bold;
    border-radius: 5px;
    right:8%;
    top:-30px;
}


.ladder table {
    width:100%;
}

.ladder tr {
    border:1px solid #979797;
}
.ladder td{
    padding:10px 0;
}
.ladder .number {
    font-size:48pt;
    font-weight:bold;
    text-align: center;
    width:20%;
}
.ladder .player {
    font-size:31pt;
    font-weight:bold;
     text-align: left;
      width:60%;
}

.ladder .player span {
    display:block;
    font-size:14pt;
    text-align: left;
    font-weight:normal;
}

.ladder .points {
    font-size:55pt;
    font-weight:bold;
     text-align: center;
      width:20%;
}



#tournament-top-slider {
   
}

@media only screen and (max-width: 1024px) {
    .event-info {
        width: 40%;
    }
    
    .order_table_cell {
        min-height: 150px;
    }
    
    
}
    


/*Responsive tables*/
@media only screen and (max-width: 800px) {
    
    .share-link-invite-box .col-sm-6 {
       margin-top:50px;
    }

    .mobile_app_promo_lg {
        display:none;
    }
    .mobile_app_promo_sm {
        display:inline-block;
    }

    .tournament_share_link_wrap  .input-group {
        display:block;
    }
    
    .tournament_share_link_wrap {
        margin:0;
    }
    
    .players_list_filter span {
        display:block;
       }


    
    .attenndance_event_name_mobil, .resp-table {
        display:block;
        text-align: center;
    }
    
    #table_attendance {
        display:none;
    }
    
    #resp_attendance {
        display:block;
    }
    
   
    /* Force table to not be like tables anymore */
	.resp-table table, 
	.resp-table thead, 
	.resp-table tbody, 
	.resp-table th, 
	.resp-table td, 
	.resp-table tr { 
		display: block; 
                
	}
        
        .resp-table tr.edit-player-row {
            display: none;
        }
        .resp-table tr.edit-player-row  {
            display: block;
        }
        
        .resp-table .player_name  {
            font-weight:bold;
            color:white;
            background:#3C8DBC;
        }
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.resp-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.resp-table tr { border: 1px solid #ccc; }
         .resp-table tr.edit-player-row {margin: 5px 0;background: #EBEBEC;}
         .ico.player-row-edit-sm {
            display:inline-block;
            margin-right:30px;
         }
        
	
 
	.resp-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align: center;
	}
 
	.resp-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	.resp-table td:before { content: attr(data-title); }
        
        .resp-table tr.other-user-row {
            display:none;
            cursor:pointer;
        }
        
        .playground-group.input-group .form-control {
            width:100%;
        }
        
        .fc-basic-view tbody .fc-row, .fc-row .fc-content-skeleton, .fc-content-skeleton table {
            min-height:97px;
        }
        
        .calendar-add-event {
            display:block;
            right:2px;
        }
    
        .calendar-add-event span{
           display:none;
       }
       
        .order_table_cell {
            min-height: 80px;
        }
}

@media only screen and (max-width: 768px) {
     
  .profil-page #profil.active {
    display:block;
}

.profil-page .profil-tab {
    display:inline-block;
}

.profil-desk {
    display:none;
}
    
    .scouting-type-dropdown .dropdown-menu {
        right:auto;
        left:0;
    }
    
    .webview-content-layout section.content.tournament-dashboard, .webview-content-layout section.content.tournament-start {
        padding-top:10px;
    }
    
   
    
    .tournament-panel-quick-menu a {
        margin:5px 0;
    }
    
    .invitation-success {
        padding:10px;
    }
    
    .tournament-public-detail {
        padding:10px 0;
    }
    
    .tournament-public-detail h1 {
        font-size:18px;
        font-weight:bold;
    }
    
    .tournament-dashboard .nav-tabs>li {
       width: 33%;
    text-align: center;
    font-size: 13px;
    }
    
    .event-detail h1 {
        font-size:20px;
    }
    
    .event-detail span.mute, #event-playground-name {
        font-size:12px;
    }   
    
    
.m-round-nav {
    display:block;
}
    .m-public-t-panel {
        margin-left:-20px;
        margin-right:-20px;
    }
    
    .m-public-t-panel h2 {
        font-size:18px;
        font-weight:bold;
    }
    
    .m-public-t-panel .panel-body {
        padding:5px;
    }
    
    .playoff {
        width: 100%;
        overflow: hidden;
        padding: 0;
        max-width: 380px;
        overflow: hidden;
    }
    
    
    
.pl-round-2, .pl-round-3, .pl-round-4 {
    padding-top:0;
}
.pl-round-2 .pl-bottom-spacer,.pl-round-3 .pl-bottom-spacer {
    height:70px;
}

.pl-conector-left , .pl-conector-right{
    display:none;
}

.pl-round-2 .pl-cell-playoff_bronze, .pl-round-4 .pl-cell-playoff_bronze {
    top:0;
    left:0;
}

.schedule-round-trigger {
    padding:10px;
    display: inline-block;
}

.schedule-round-trigger.active {
    font-weight:bold;
}

.pl-round {
    display:none;
    max-width: 100%;
}


.pl-round.active {
 display:block;
}

.pl-cell-cnt {
    max-width: 80%;
}

.pl-cell-results {
    max-width: 20%;
}
    
.pl-top-bar-row {
    font-size:13px;
}
    
    
    .nomination_goals input, .nomination_asssits input {
        width:50px;
    }
    
    .modal-dialog{
        margin-top:90px;
    }

    
    .full-window-cnt {
        min-height: 520px;
    }
    
   
    
    #panel_progress {
        position: relative;
        left:50%;
        margin-left: -150px;
        min-width:300px;
    }
    
   #panel_progress li {
        max-width: 30px;
    }
    
    #panel_progress .desc {
        width:98%;
    }
    
  
    
    
    
    .skin-black-light .main-header > .navbar {
        text-align: center;
        position:fixed;
    }
    
    .main-header .logo {
        display:none;
    }
    
    .navbar .logo_760 {
        display:inline-block;
        margin:6px auto;
        float: left;
    }
    
    .navbar-custom-menu .navbar-nav > li.user-menu > a {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    
    .navbar-nav > .user-menu .user-image {
        margin-top:0;
    }
    
    .main-header {
        min-height: 50px;
    }
    
    #stopwatch span {
        font-size:22px;
    }
    
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
        font-size: 12px;
    }
    
    .btn-group-label {
        display:block;
        font-size:10px;
    }
    
    .event-list-attendance .btn {
        padding:3px 5px;
        font-size:12px;
        margin:3px 0;
    }
    
    .members-attendance-wrap {
        font-size:13px;
    }
    
     .members-attendance-wrap span {
        display:block;
    }
    
    .fc-basic-view tbody .fc-row {
        min-height:47px;
    }
    
    .fc-ltr .fc-basic-view .fc-day-number {
        font-size:12px;
    }
    
    .export-event span {
        display:none;
    }
    
    .event-detail-menu .active, .event-detail-menu .active {
        background: #f5f5f6;
    }
    
    .event-detail .col-sm-3 {
        margin: 10px 0;
    }
    
    .event-detail-menu .event-detail-menu-item {
        width:100%;
        padding: 5px 0;
    }
    
    .event_list_row .attendance-cell {
        padding-right: 10px;
    max-width: 100px;
    width: 25%;
    }
    
    .event-date {
        float: left;
    }
    
    .event-info {
        width: 52%;
    }
    
    .event_list_row .members-attendance {
        font-size: 14px;
    }
    
    .event_row .attendance-cell .row-sidebar a {
        width: 30px;
    }
    
    .attendant-row {
       text-align:center;
       float:none;
        
    }

    
    .attendant-row .user-block {
        width:100%;
    }
    
    .attendant-row .round-50, .rating-panel .round-50, .lineup_row .round-50, .timeline_event .icon {
        display:none;
    }
    
    .user-block .username, .user-block .description {
        width:100%;
        text-align:center;
        margin:0;
    }
    
    .lineup_row  .username, .lineup_row  .description {
        text-align:left;
    }
    
    .attendant-row .pull-right {
        float:none !important;
        display:block;
        text-align:center;
    }

    .event_list_row   .share-cell  {
         float: none;
        display: block;
        text-align: center;
        margin-top: 0;
        position: absolute;
        right: 5px;
        bottom: 5px;
        padding: 10px;
        font-size: 12px;
    }
    
    .panel-toolbar-inline.event-list-toolbar {
        clear:none;
        float:none;
    }
    
    .panel-toolbar.event-list-toolbar .tool-item {
        line-height: 27px;
        margin: 0 1px;
    }
   
    
    
    .timeline_player_row .player_name, .edit-timeline-item .acr {
        max-width: 80%;
        line-height: 14px;
        font-size: 13px;
        /*text-align: center;*/
        display: inline-block;
    
    }
    
    .edit-timeline-item .acr {
        width:5%;
        min-width:30px;
        text-align: center;
    }

    .timeline_event_first_line .player_name {
        /*padding-right:15px;*/
        text-align:right;
    }
    
    

    .timeline_event_second_line .player_name {
        /*padding-left:15px;*/
        text-align:left;
    }

    #add_timeline_form {
        max-width: 95%;
        width: 100%;
        left: 0;
        margin-left: 0;
        margin: auto;
    }
    
    .timeline_event  .players_group
    {
        padding:5px 0;
        width: 100%;
    }
    
    /*
    .edit-timeline-item .acr {
        width:100%;
    }
    */
    .timeline_player_row {
        /*text-align: center;*/
        padding: 5px 0;
    }
    
    #stopwatch-control {
        /*display: block;*/
        padding: 0;
        width: 100%;
        padding: 10px 0;
    }
    
    .players_list_filter .dropdown-toggle,.players_list_filter .btn-group, .players_list_filter .open>.dropdown-menu {
        width:100%;
    }
    #season_stat_filter_form {
        width:100%;
        padding: 5px 0;
    }
    
    #season_stat_filter_form .btn-primary {
        margin: auto;
        display: block;
    }
    
    
    .dataTables_filter, .dataTables_info, .dataTables_length, .dataTables_paginate  {
       display: block;
       float:none;
       margin:auto;
       font-size:12px;
    }

    #stat_table_previous,#stat_table_next,#stat_table_info, #stat_table_filter, #stat_table_paginate {
        display:none;
    }
    
    .order_table_header  {
        display:none;
    }
    
    .order_table_cell {
        text-align: center;
    }
    
    .order_table_cell .l_760 {
    display:block;
}

 .order_table_cell {
            min-height: 30px;
        }
    
        .continue_btn_second {
            margin: 10px auto;
            float: none !important;
            display: block;
            max-width: 160px;
        }
        
        .tournament-event-row .attendance-cell {
        padding: 0;
        max-width: 100%;
        width: 105%;
    }
    
    .tournament-event-row {
        height: 350px;
    }
    
    .tournament-event-row .event-actions1 {
        display:none;
    }
    .tournament-event-row .event-actions1-m {
        display:block;
        text-align: center;
        max-width: 100%;
    }
    
    .tournament-event-row .event-actions1-m .pull-right {
       width: 45%;
        float: none !important;
        margin: 2%;
        display: inline-block;
    }
    
    .tournament-event-row a.btn-primary {
        width:99%;
        margin:1%;
    }
    
    .tournament-event-row .write-score a.btn-primary {
        /*width:48%;
        margin:1%;*/
    }
    
    .event_row .main-info  .pull-right {
        position: absolute;
    right: 10px;
    bottom: 130px;
    }
    
    .event-attendance {
        padding-top: 30px;
    }
    
    .team-players-action-box {
       position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(255,255,255);
        padding-top: 10px;
        z-index: 2000;
    }
    .team-players-action-box .save-changes {
        float:left;
        width:50%;
    }
    .team-players-action-box .continue_btn_second {
        float:right !important;
        width:50%;
        margin-top: 0;
        margin-right:15px;
}
   
}

.DTFC_LeftBodyLiner {
    z-index: 1500;
}
.DTFC_LeftWrapper td {
    background: white;
}


.mob_profile_photo {
    display:none;
}

.web_profile_photo {
    display:block;
}

.event-detail-webview {
    display:none;
}

.event-detail-webview .event-detail-menu {
    padding:10px 0 0 0;
    margin:0;
}

.event-detail-webview .event-detail-menu .event-detail-menu-item {
    width:49%
}

.webview-content-layout #detail_event_attendance {
    padding-top:0;
}


.webview-content-layout .mob_profile_photo {
    display:block;
}

.webview-content-layout .web_profile_photo {
    display:none;
}
.webview-content-layout .mob_hide {
    display:none;
}
.webview-content-layout .event-detail-webview  {
    display:block;
}
.webview-content-layout .event-detail-part 
{
    display:none;
}

