body {
  font-family: 'Montserrat', sans-serif;
}
#wh-widget-send-button {
    display:none;
}

.platform_check {
    position:absolute; 
    z-index:2000; 
    right:0;
    top:0;
    width:2px; 
    height:2px;
    display:none;
}



.infinity-scroll-container .loader {
    display:none;
   position: fixed;
    left: 0;
    bottom: -30px;
    opacity: 0.8;
    /*margin-bottom: -30px;*/
}


.mpopup1 {
    cursor:pointer;
}

.gdpr-marketing-window {
    padding-top:30px;
}

/*NAV STRIPE*/

.mobile-app-nav {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
    background: #02b0be;
    background: -moz-linear-gradient(left, #02b0be 0%, #2889be 100%);
    background: -webkit-linear-gradient(left, #02b0be 0%,#2889be 100%);
    background: linear-gradient(to right, #02b0be 0%,#2889be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 );
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 16px;
    padding: 18px 0 13px 0;
    height: 50px;
}

body.platform_iphone .mobile-app-nav  {
    padding: 35px 0 13px 0;
    height:67px;
}

.mobile-app-nav .navBtn {
    position: absolute;
    left: 0;
    top: 0;
    background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 18px no-repeat;
    width: 50px;
    height: 50px;
}

body.platform_iphone .mobile-app-nav .navBtn {
    height: 67px;
     background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 37px no-repeat;
}

/*CUSTOM SELECT*/
.custom_native_select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 1000;
}

.custom_native_select select {
   background: #00B3BE url("/theme/img/icon/arr-down-white.svg") no-repeat 90% 50%;
 color: white;
  border: 0;
  margin: 0;
   border-radius: 50px;
    color: white;
    padding: 6px 20px;
    display: inline-block;
  text-indent: 0.01px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
  line-height: 24px;
}



/*Hiding the select arrow for IE10*/
.custom_native_select::-ms-expand {
    display: none;
}

.custom_native_select::before,
.custom_native_select::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom_native_select::after { /*  Custom dropdown arrow */
  
}

.custom_native_select::before { /*  Custom dropdown arrow cover */
 width: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom_native_select::after {
 
}

.custom_native_select select[disabled] {
  color: rgba(0,0,0,.25);
}




.team-choice-panel .btn {
        border: 0;
    background: #00B3BE;
    border-radius: 50px;
    color: white;
    padding: 6px 20px;
    
}

.team-choice-panel .btn .caret {
    margin-left: 10px;
    border-top: 6px dashed;
}

.alert_body {
    background:#EBECED;
    overflow: hidden;
}

.rufus-alert {
   background: #EBECED;
    padding: 15px;
    position: relative;
    max-width: 420px;
    margin: auto;
     overflow: hidden;
}

.rufus-alert-buble {
    width:100%;
    height: 226px;
}


.rufus-alert-text {
    position:absolute;
    left:0;
    top:30px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}


.rufus-alert-text h1 {
   color:#00B3BE;
   font-size:30px;
   font-weight: 700;
   padding-left: 100px;
   margin-bottom:16px;
}
.rufus-alert-text strong {
  font-size: 18px;
       margin-left: 50px;
   
    display: block;
}
.rufus-alert-text p {
    padding-left: 70px;
}

.rufus-alert .rufus-alert-body {
    position: relative;
    left: 0;
    top: -80px;
    width: 65%;
}

.rufus-alert-missing-team .rufus-alert-text h1 {
max-width: 350px;
}
.rufus-alert-missing-team .rufus-alert-text strong {
    max-width: 160px;
    text-align: right;
     margin-left: 160px;
}
.rufus-alert-missing-team .rufus-alert-body {
   top: -100px;
       margin-bottom: -100px;
}




.rufus-alert-in-progress {
    
}

.rufus-alert-stats-team .custom_native_select {
        margin: 20px 0 0 130px;
}

.rufus-alert-stats-team .btn-group {
        margin: 20px 0 0 130px;
}




.cta-btn {
    display: block;
    width:80%;
    height:40px;
    line-height: 40px;
    font-size:14px;
    border-radius: 20px;
    background:#00b3be;
    color:white;
    text-align: center;
    margin:25px auto 0 auto;
    max-width: 250px;
}

.cta-btn-missing-lineup {
    background:#D73549 url(/theme/img/icon/arr-rgt-white.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    
}

.cta-btn-missing-team {
  display: block;
    border-radius: 10px;
    width: 176px;
    height: 60px;
    background: #ff6d22;
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
  margin-top: 10px;
    margin-left: 180px;
}



.cta-btn-disabled {
    background: #D7D9DB;
    text-transform: uppercase;
}

.row-sidebar {
    padding-top: 0;
}
.row-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
}

.row-sidebar-cnt {
    top: 40px;
    margin: 0;
}
.row-sidebar-cnt {
    display:none;
 position: absolute;
    z-index: 1000;
    left: 2%;
    top: 105%;
    width: 96%;
    box-shadow: 0 5px 15px #989595;
}

.row-sidebar-cnt a {
    display: block;
    background: #FAFAFA;
    color: #505960;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    /* border-bottom: 1px solid white; */
    line-height: 26px;
}

.row-sidebar-trigger {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    right: 0;
    padding: 10px;
}

.row-sidebar-trigger.active {
    /*background: #EBECEC;*/
}


.tool-item .dropdown-menu {
    right:0;
    left:auto;
    top: 25px;
}


.ico {
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    position: relative;
    top: 0;
    vertical-align: top;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.ico-trash {
    background-image: url(/theme/img/icon/trash.svg);
}

.ico-more-b {
    background-image: url(/theme/img/icon/more-black.svg);
}

.ico-export {
    background-image: url(/theme/img/icon/export-wv.svg);
    background-size: 20px 26px;
    height: 26px;
    width: 20px;
}
.ico-arr-lft-line {
    background-image: url(/theme/img/icon/arr-lft-line.svg);
    background-size: 22px 17px;
    height: 17px;
    width: 22px;
}

.past_months_trigger .ico-arr-lft-line {
    margin-top: 22px;
    margin-right: 10px;
}

.ico-calendar {
    background-image: url(/theme/img/icon/calendar-wv.svg);
    background-size: 24px 26px;
    height: 26px;
    width: 24px;
}

.ico-event-list {
    background-image: url(/theme/img/icon/event-list-wv.svg);
    background-size: 24px 25px;
    width: 24px;
    height: 26px;
}

.ico-edit {
    background-image: url(/theme/img/icon/pencil.svg);
}

.top-panel {
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid #f6f6f6;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;
}


.top-panel a
{
    color:#00B3BE;
}

.top-toolbar {
    height: 60px;
    padding: 15px 10px 0 0;
}

.top-toolbar .ico{
    margin-left:15px;
}

.current-events-holder {
    max-width:100%;
}

.tool-item {
    display:inline-block;
    vertical-align: middle;
}

/*EVENTS*/

.event-list {
    margin-top:60px;
}
.event-item {
     border-bottom:2px solid #f6f6f6;  
     text-align:center;
     padding:20px 0;
}

.date {
    font-size:16px;
    text-transform: uppercase;
    color:#37424a;
}
.today-date {
    color:#7bb838;
}

.event-item h2 {
    margin:13px auto 4px auto;
    font-size:18px;
    color:#37424a;
}

.event-item .team-name {
    font-size:14px;
    color:#999FA3;
}

.attendace_list {
   margin: 10px 0;
    padding:0;
}

.attendace_list li {
     padding:0;
    margin:0;
    list-style-type: none;
     display:inline-block;
}

.attendace_list li.face {
    height:24px;
    width:24px;
    border:1px solid #EBECEC;
    border-radius:50%;
    background-size: cover;
    background-color: white;
    margin-right:-10px;
}

.attendace_list li.sum {
   width: 50px;
    font-size: 16px;
    position: relative;
    top: -5px;
    margin-left: 10px;
}

.attendace_list li.sum span {
    color:#999FA3;
}

.attend-btn {
    display:  inline-block;;
    height:40px;
    width:40px;
    border:1px solid #37424a;
    border-radius: 50%;
}

.attend-btn-yes {
    margin-right:-10px;
    background-image: url(/theme/img/icon/check-wv.svg);
    background-size: 24px 16px;
    background-repeat: no-repeat;
    background-position: center center;
}


.attend-btn-no {
    margin-left:-10px;
    background-image: url(/theme/img/icon/cross-wv.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.attend-accept, .attend-deny {
    border:1px solid #dbdcde;
}

.attend-accept.attend-btn-no {
    background-image: url(/theme/img/icon/cross-g-wv.svg);
}
.attend-deny.attend-btn-yes {
    background-image: url(/theme/img/icon/check-g-wv.svg);
}

.attend-accept.attend-btn-yes {
    background: #7bb838;
    border:1px solid #7bb838;
    background-image: url(/theme/img/icon/check-w-wv.svg);
    background-size: 24px 16px;
    background-repeat: no-repeat;
    background-position: center center;
}

.attend-deny.attend-btn-no {
    background: #D7354A;
    border:1px solid #D7354A;
    background-image: url(/theme/img/icon/cross-w-wv.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}



.vs_row h4 {
   font-size:12px;
   color:#878e92;
}

.vs-acr {
    font-size:28px;
    color:#37424a;
    font-weight:bold;
    padding: 15px 0 0 0;
    text-align: center;
}

.past_events_trigger {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    color: #00B3BE;
}

.content-event-detail-wrap {
    padding-top:80px;
}

/*MENU LIST*/
.menu-list{
     display:block;
     width:100%;
     margin:0;
     padding:0;
     overflow:hidden;
     font-size: 18px;
      border-bottom:2px solid #dddfe0;  
     border-top:2px solid #dddfe0;  
}
.menu-list li {
     display:block;
     width:100%;
     overflow:hidden;
     position:relative;
     color:#37424a;
}
.menu-list li a {
    color:#37424a;
    display: block;
    overflow: hidden;
}



.menu-list li.heading, .list-group li.heading {
     border-bottom:2px solid #dddfe0;  
     border-top:2px solid #dddfe0;  
     min-height:48px;
     line-height: 48px;
     padding-left:15px;
     background: #f2f2f2;
     font-size: 17px;
     color:#999FA3;
}


.menu-list li .icon{
    min-height:48px;
    float:left;
    width:60px;
    text-align: center;
    line-height: 48px;
    /*background: red;*/
}

.menu-list li .ico-gear {
    background-image:url('/theme/img/icon/gear.svg'); 
    background-position:center center;
     background-repeat: no-repeat;
     background-size: 26px;
}

.menu-list li .user-image {
    display:block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin:auto;
    margin-top:11px
}

.menu-list li.arrow {
    background-image:url('/theme/img/icon/arr-rgt-gray.svg'); 
    background-position:97% center;
     background-repeat: no-repeat;
}


.menu-list li .cnt {
    min-height:48px;
    border-bottom:2px solid #dddfe0;  
    float:left;
    width:100%;
    line-height: 48px;
    margin-right:-60px;
}

.menu-list li.section-last .cnt {
    border:0;
}

.menu-list li .stat {
    float:right;
    margin-right:90px;
    color:#999FA3;
}

/*CALENDAR*/
#small-calendar-wrap {
    padding:5px;
    margin-top:60px;
}

#small-calendar-wrap .month-title {
    font-size:16px;
    text-transform: uppercase;
    padding-left: 4%;
}

.calendar-events-trigger {
    display:none;
}
.small-calendar {
    width: 100%;
    font-size:16px;
    color:#C3C6C9;
}

.small-calendar th {
    font-weight:normal;
    text-align: center;
}

.small-calendar td {
    border-collapse: collapse;
    border:0;
   vertical-align: top;
    text-align: center;
    height: 60px;
}

.small-calendar td strong {
     font-weight:normal;
}

#small-calendar-cnt {
    background:#00B3BE;
    color:white;
    padding:10px 0;
   /*height: 344px;*/
}

#small-calendar-cnt .header-row {
    height:35px;
    line-height: 35px;
}
#small-calendar-cnt .header-row a {
    color:white;
}

#small-calendar-cnt .days th{
    font-weight:normal;
    text-transform: uppercase;
    text-align: center;
    font-size:12px;
    height:26px;
    line-height: 26px;
}

.small-calendar .day_events_show_trigger {
    cursor:pointer;
}

.small-calendar .day_events {
    display:none;
    position: relative;
}

.small-calendar .day_events .arr {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(243, 243, 244, 0);
	border-bottom-color: #F3F3F4;
	border-width: 10px;
	margin-left: -10px;
}

.small-calendar .day_events_mark {
    line-height: 0;
        font-size: 10px;
        position:relative;
        top:-3px;
}

.cell-wrap {
    width: 40px;
    height: 40px;
    margin: auto;
        line-height: 45px;
}

td.active .cell-wrap {
    line-height: 45px;
    background: #00B3BE;
    border-radius: 50%;
    color:white;
}

#small-calendar-cnt .prev_day, #small-calendar-cnt .prev_month_day , #small-calendar-cnt .next_month_day {
    color:#80D9DE;
}

#small-calendar-cnt .current_day {
    background: #80D9DE;
    border-radius: 50%;
    border: 1px solid white;
}

#small-calendar-cnt .cell-wrap:hover, #small-calendar-cnt .active .cell-wrap {
    background: white;
    border-radius: 50%;
    border: 1px solid white;
    color:#00B3BE;
}

.day_events_mark i.type_training {
    color:green;
}
.day_events_mark i.type_game {
    color:red;
}
.day_events_mark i.type_race {
    color:blue;
}
.day_events_mark i.type_competition {
    color:orange;
}
.day_events_mark i.type_social {
    color:yellow;
}

.day_events_mark i.attendance_type_in {
    color:#81B82B;
}
.day_events_mark i.attendance_type_out {
     color:#CE3346;
}
.day_events_mark i.attendance_type_unknown {
     color:#60686D;
}

.current_day  {
    color:#00a0be;
}

.calendar-event-row .team-name, .calendar-event-row .date {
    color:#37424a;
    font-size:14px;
        padding: 0;
}

.calendar-event-row .date  {
    padding-left: 15px;
}

.calendar-event-row {
    text-align: left;
    padding-left:5%;
    background: #F3F3F4;
}

.calendar-event-row h3 {
    font-size:16px;
    color:#37424a;
}

.calendar-event-row .playground {
    font-size:14px;
        padding: 0;
}

.calendar-event-row .attendace_list .sum {
    text-align: right;
    padding-right: 10px;
    margin-right: 5px;
}

.calendar-event-row  .attend-btn-yes {
    margin: 0;
    margin-top: 20px;
}

.calendar-event-row .attendance_trigger.loading {
    background: none;
        text-align: center;
    line-height: 40px;
    margin-bottom: 6px;
}

.calendar-event-row .attend-col {
    text-align: right;
    padding-right:22px;
}

.event-detail-row {
    display:none;
}

.stats-wrap {
    margin-top:70px;
    margin-right: 0;
    margin-left: 0;
}

/*SYSTEM NOTIFY*/
.system-notify-row {
    overflow: hidden;
    padding:8px 0;
    font-size:14px;
    color:#37424A;
}

.system-notify-row  a {
     color:#37424A;
}

.system-notify-row.read {
    background:#EDF2FA;
}
.system-notify-row.fullread {
    background:white;
}

.sn-avatar-wrap, .sn-cnt {
    float:left;
}

.sn-avatar-wrap {
    /*width:25%;*/
    width:75px;
    text-align: center;
}
.sn-cnt {
    width:75%;
}

.sn-avatar {
    width:40px;
    height:40px;
    display:block;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}

.system-notify-row {
    border-bottom: 1px solid #DDDFE2;
}

.system-notify-row strong {
    display: block;
}

.sn-cnt span, .sn-cnt .created-date{
   font-size:12px; 
   display: block;
}

.sn-cnt .created-date {
    font-size:12px;
    color:#878E92;
}

#system-notify-tool {
    height:45px;
    line-height:45px;
    padding:0 10px;
    border-bottom: 1px solid #DDDFE2;
}

#system-notify-tool a {
    color:#37424A;
}

#system-notify-tool a.notify_all_read {
    color:#4A4A4A;
    font-weight: 100;
}

/*team choice*/
.team-choice-row strong{
    line-height: 40px;
}

.team-choice-list {
    padding-top:82px;
}

a.btn-review {
    margin: 20px auto;
    display: block;
    text-align: center;
    /* background: #00B3BE; */
    max-width: 220px;
    border: 1px solid #00b3be;
    color: #00b3be;
    font-size: 16px;
}


@media only screen and (max-width: 480px) {
   #confirm-calendar-delete-modal .btn-primary {
        white-space: pre-wrap;
            width: 130px;
    }
    
    .system-notify-row strong {
     font-size:16px;
}
    
    .sn-cnt span, .sn-cnt .created-date {
        font-size:16px;
    }
}

@media only screen and (max-width: 320px) {
    .rufus-alert-text h1 {
        padding-left:90px;
        font-size:26px;
    }
    
    .rufus-alert-text strong {
        font-size:16px;
    }
    
    .rufus-alert-text p {
        padding-left: 50px;
        text-align: right;
        max-width: 250px;
    }
    
    .rufus-alert-missing-team .rufus-alert-text strong {
        margin-left: 100px;
    }
    
    .cta-btn-missing-team {
        margin-left:160px;
        width: 146px;
    }
    
    .top-toolbar .ico {
        /*margin-left:2px;*/
    }
    
    .top-toolbar {
        height: 60px;
    padding: 15px 10px 0 0;
    margin-left: -30px;
    width: 110px;
    }
}



/*
.event_row {
    background:white;
    margin:9px;
    padding:9px;
    color:#47545C;
    text-align: left;
    
}

#small-calendar-cnt .event_row {
     padding:20px 9px;
}

.event_row a {
    color:#47545C;
}

.event-date, .event-info, .attendance-cell   {
    display: inline-block;
    font-size: 12px;
}

.event-date  {
     width:20%;
     text-transform: uppercase;
     text-align: center;
     max-width: 65px;
}

.event-date span {
    display: block;
}

.event-date .day {
    font-size:24px;
}

.event-info {
    width:58%;
    text-align: left;
}

.event-info h3 {
    font-size:15px;
    margin: 0 0 10px 0;
    font-weight:normal;
}

.event-info .main-info {
    font-weight:lighter;
    
}

.event-info .team-name, .event-info .playground {
    display:block;
}


.event-info .ico-map {
    margin-left:17px;
}

.attendance-cell,.score-cell {
    width:20%;
    overflow:hidden;
    max-width: 60px;
    float: right;
    margin-top: 10px;
}

.score-cell {
    padding: 8px;
    border: 1px solid #888E92;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 15px;
}

.members-attendance-wrap, .event-list-attendance {
     float:left;
}

.members-attendance-wrap{
     width:40%;
}

.event-list-attendance {
     width:60%;
}

.members-attendance {
    padding-top:10px;
}

.members-attendance-in, .members-attendance-capacity  {
    display: inline-block;
     width: 20px;
     text-align: center;
}

.members-attendance-capacity {
    border-top: 1px solid #47545C;
    display: block;

}

.attendance_trigger_btn
{
    background: #D7D9DB;
    width: 25px;
    height: 25px;
    padding:3px;
    display: block;
    border-radius: 50%;
    text-align: center ; 
            margin-bottom:3px;
}



.attendance_trigger.accept, .attendance_trigger_btn.in:hover, 
.attendance_trigger_btn.accept, .attendance_trigger_btn.in:hover 
{
    background: #7BB838;
}
.attendance_trigger.deny, .attendance_trigger_btn.out:hover ,
.attendance_trigger_btn.deny, .attendance_trigger_btn.out:hover 
{
    background: #D7354A;
}


#upcoming-events {
    max-height: 400px;
    overflow:hidden;
    display:none;
}

.upcoming-events-view #upcoming-events  {
    display:block;
     max-height: 500px;
}

.upcoming-events-view #small-calendar-wrap  {
    display:none;
}

.upcoming-events-view .calendar-events-trigger {
    display:inline;
}

.upcoming-events-view .upcoming-events-trigger {
    display:none;
}



.member_img_round {
   background-size: cover;
    width: 40px;
    height: 40px;
    float: left;
}

.users-list > li {
    width: 32%;
}

.followers-list > li {
    width: 18%;
}

.member_img_round_100 {
  background-size: cover;
  width: 64px;
  height:64px;

}
*/