{layout '../../layouts/SystemNotify.latte'}
{block content}
    {var $team = $event->getTeam()}
    {var $playgroundData = empty($event->getPlaygroundData()) ? null : (object)$event->getPlaygroundDataAsArray()}
    @subject: Pozvánka na udalosť {$event->getName()}
   
    <p>Čau, skvelými výkonmi si sa prebojoval do nominácie na túto akciu:</p>
    <strong>{$event->getName()}</strong>
       
    <p>{!$start|formatDate}</p>
    {if !is_null($playgroundData)}
    <p>{$playgroundData->name}</p>
    {/if}
    <p>Zúčastníš sa? </p>
    
    
{/block}
