.row {
    margin:0;
    padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align:center;
  background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
color:white;
font-family: 'Montserrat', sans-serif;
}

.visiblePlayerSelector {
    display:none;
}

#score {

}

.container-fluid {
  margin:0;
  padding:0;
}

.ico {
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  position: relative;
  top: 0;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/theme/img/icon/plus.svg);
  width: 20px;
  height: 20px;
}

.ico-ball {
    background-image: url(/theme/img/icon/ball.svg);
}



.ico-cup {
   background-image: url(/theme/img/icon/cup-b.svg);
    /* height: 25px; */
    /* width: 20px; */
    background-size: 99%;
    background-position: center top;
}

.ico-clock {
   background-image: url(/theme/img/icon/clock2.svg);
    background-size: 99%;
    background-position: center top;
}


.nav-topbar {
  text-align:center;
  background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
color:white;
position: relative;
    padding: 33px 0 13px 0;
    height: 65px;
}


body.platform_iphone .nav-topbar  {
    padding: 50px 0 13px 0;
    height:82px;
}

.nav-topbar .navBtn {
position: absolute;
    left: 0;
    top: 0;
    background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 35px no-repeat;
    width: 50px;
    height: 65px;
}

.fastScore {
   position: absolute;
    right: 10px;
    top: 33px;
    width: 85px;
    height: 60px;
    color: white;
    /* background: red; */
    background: #ff6d22;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}

body.platform_iphone .nav-topbar .navBtn  {
   height: 82px;
     background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 52px no-repeat;
}




body.platform_iphone .nav-topbar .fastScore {
   
}

.event-info {
  margin-top:20px;
}

.team-name {
font-size: 14px;
font-weight: 300;
}

.event-date {
  text-transform: uppercase;
  font-size:16px;
  font-weight: 300;

}
.event-name {
  padding:10px 0 0 0;
  font-size:24px;
}

.match-points {
  font-family: 'Roboto', sans-serif;
  font-size:64px;
   font-weight: bold;
}

.addPoints {
 width: 150px;
    height: 150px;
    position:relative;
    /* border-radius: 50px; */
    display: block;
    background: white;
    margin: auto;
    margin-bottom: 15px;
}

.addPoints  .teamLogo {
    position:absolute;
   left: 35px;
    top: 35px;
    width:80px;
    height:80px;
    border-radius:50%;
    background-size: cover;
    background-position: center center;
}

.addPointsFl {
  background: url(/theme/img/icon/score_white.svg) center center no-repeat;
    background-size: 150px;
}

.addPointsSl {
  background: url(/theme/img/icon/score_black.svg) center center no-repeat;
    background-size: 150px;
}

.addPoints-wrap {
  font-size:20px;
  padding: 0;
}

.counter {
  font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin:40px auto 10px auto;
}
.startBtn, .pauseBtn  {
  display:block;
  width:100px;
  height:40px;
  border-radius:20px;
  margin:auto;
  border:0;
}


.startBtn {
  background: #ff6d22 url(/theme/img/icon/score-start.svg) center center no-repeat;
}
.pauseBtn {
  background: transparent url(/theme/img/icon/score_pause_btn.svg) center center no-repeat;
  background-size: 114px 52px;
}

.finalBtn {
  background: none;
  border:0;
  border:1px solid white;
  border-radius:10px;
    line-height: 20px;
    padding: 5px;
    font-size: 11pt;
}

.overtimeWrap {
    font-size:12pt;
        text-align: left;
}

.overtimeBtn {
   width: 40px;
    height: 20px;
    border-radius: 15px;
    background: white;
    position: relative;
    display: block;
}

.overtimeBtn .marker {
   position: absolute;
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #b6babd;
}

.overtimeBtn.active .marker {
    left:auto;
    right:2px;
    background: #7BB838;
}

.timer-toolbar {
 
  
}
/*TIMELINE*/

.timeline-wrap {
    color: black;
    padding: 25px 0;
    background: white;
    margin-top: 35px;
}
.timeline-wrap-hidden {
    padding:0;
}
.timeline-wrap-hidden .timeline {
    display:none;
}

.timeline-item-deleted {
 display: none;
}

.timeline {
  background: transparent url(/theme/img/icon/timeline-bg.png) center top repeat-y;
      margin: 0 20px;
}

.timer-toolbar .col-xs-4 {
  font-size:18px;
  font-family: 'Roboto', sans-serif;
  color:white;
  line-height: 40px;
}

.timeline-item {
  overflow: hidden;
  margin: 40px 0;
  max-height: 110px;
  position: relative;
}

.mom-line-item, .end-line-item {
    height:60px;
}
.mom-line-item{
   margin-top:-20px;
}


.timeline-item-mom {
     max-height: 55px;
    margin-top: 0;
    background: white;
}

.timeline-item .first-line, .timeline-item .second-line  {
   float:left;
  width:50%;
  padding-right: 10px;
  height: 100%;
    max-height: 110px;
    position: relative;
}


.timeline-item-mom .first-line, .timeline-item-mom .second-line
{
   max-height: 55px;
}




.timeline-item.second-line-item  .second-line {
  padding-right:0;
  padding-left: 10px;
}

.timeline-item  .icon {
  position: absolute;
    left: 100%;
    top: 50%;
    width: 24px;
    height: 24px;
    background: white;
    margin-left: -12px;
    margin-top: -12px;
    border-radius: 100%;
    padding: 2px;
 
}

.timeline-item.second-line-item  .icon {
  left:0;
}


.timeline-item  .time {
   position: absolute;
    left: 0;
    top: 50%;
    font-size: 16px;
    margin-top: 0;
    margin-left: 15px;
    height: 20px;
    margin-top: -20px;
}

.timeline-item.mom-line-item .time {
        top: 40px;
}

/*
.timeline-item.end-line-item .second-line .time {
        text-align: left;
        margin-right: 0;
}
*/
.timeline-item.second-line-item .time {
  right: 0;
    text-align: right;
    margin-right: 15px;
}

.timeline-item.end-line-item .time {
        top: 30px;
}

.timeline-item.end-line-item .player-name {
    text-align: left;
    width:100%;
    margin-left:5px;
}


.time-row {
    overflow: hidden;
    height:110px;
}

.timeline-item  .player-name {
  float:left;
  width: 55%;
  line-height: 18px;
    text-align: right;
}

.timeline-item.second-line-item .player-name {
  text-align: left;
}

.timeline-item  .avatar {
  float:left;
  padding: 0 8px;
}
.timeline-item  .hit-accr {
  float:left;
  line-height: 30px;
}

.timeline-item .avatar img {
  width:30px;
  height:30px;
  border-radius:50%;
  background-size: cover;
  margin:0 0 0 0;
}
.timeline-item  .goal-row, .timeline-item  .assist-row {
  margin:10px 0;
      overflow: hidden;
}


.timeline-item-tools {
    width:100%;
    height:100%;
    height: 110px;
}


.timeline-item-tools .editBtn, .timeline-item-tools .deleteBtn, .timeline-item-tools .closeBtn {
    width:33.33%;
    height:100%;
    float:left;
    background:white;
    line-height:110px;
}

.timeline-item-tools .editBtn {
    
    background:#00B3BE;
}
.timeline-item-tools .deleteBtn {
     background:#D73549 url(/theme/img/icon/trash-w.svg) center center no-repeat;
     background-size: 40px;
}
.timeline-item-tools .closeBtn {
    background:#D8D8D8 url(/theme/img/icon/cross-w-bold.svg) center center no-repeat;
    background-size: 40px;
}


.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1000;
    padding-top: 80px;
}

.no-lineup-alert {
    margin:20px 0;
    font-size:16px;
}

.btn-lineup {
    border: 0;
    background: #00B3BE;
    border-radius: 50px;
    color: white;
    padding: 6px 20px;
    display:block;
    clear:both;
    margin:10px auto;
    max-width: 200px;
    font-weight:normal;
}

.closeMatchAlert {
    position:fixed;
    top:200px;
    left:50%;
    width:200px;
    padding:10px;
    margin-left:-100px;
    background: rgba(0,0,0,0.8);
    color:white;
    border-radius:10px;
    text-align:center;
    z-index: 1000;
}

.loader {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align: center;
    padding-top:150px;
     background: rgba(255,255,255,0.8);
}