.full-window {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    min-width: 100%;
    min-height: 100%;
    background: white;
    z-index: 1000;
    color:black;
}

.playerSelector {
  margin:0;
  padding:0;
}


.playerSelector-topbar {
  text-align:center;
  background: #02b0be; /* Old browsers */
background: -moz-linear-gradient(left,  #02b0be 0%, #2889be 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #02b0be 0%,#2889be 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #02b0be 0%,#2889be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b0be', endColorstr='#2889be',GradientType=1 ); /* IE6-9 */
color:white;
position: relative;
    padding: 33px 0 13px 0;
    height: 65px;
}


body.platform_iphone .playerSelector-topbar  {
    padding: 50px 0 13px 0;
    height:82px;
}

.playerSelector-topbar .navBtn {
position: absolute;
    left: 0;
    top: 0;
    background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 35px no-repeat;
    width: 50px;
    height: 65px;
}



body.platform_iphone .playerSelector-topbar .navBtn  {
   height: 82px;
     background: url(/theme/img/icon/arr-lft-line-white.svg) 15px 52px no-repeat;
}



.playerSelector-item {
   height: 58px;
  border-bottom: 1px solid #e8e9ea;
  position: relative;
  padding: 7px;
  overflow: hidden;
}

.playerSelector-item .avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 0 0 0;
    float:left;
}

.playerSelector-item .playerName {
   float:left;
   margin-left: 15px;
   text-align: left;
}
.playerSelector-item .playerNumber {
  float: left;
    margin-left: 0;
    width: 30px;
    text-align: left;
    line-height: 18px;
    padding-top: 9px;
    font-weight: bold;
}

.playerSelector-item .player-position {
  text-align:left;
  display: block;
}

.timeSelect {
    font-size: 20px;
    margin: 20px;
}