.WidgetBox
    padding: 50px 0 0 21px
    border-radius: 4px
    border-top: 0
    //overflow: hidden
    position: relative
    font-family: 'Montserrat', sans-serif
    
.WidgetBox > header
    position: absolute
    left: 0
    right: 0
    top: 0
    height: 49px
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    
.WidgetBox > header,
.date-filter > header
    position: absolute
    left: 0
    right: 0
    top: 0
    height: 49px

.WidgetBox .content
    min-height: 250px
    
.connectedSortable .WidgetBox > header
    cursor: move
    
.connectedSortable .WidgetBox > header:hover
    background: rgba(0, 0, 0, 0.1)
    
.WidgetBox > header > h1
    color: white
    position: absolute
    left: 15px
    top: 17px
    margin-top: 0
    margin-bottom: 0
    line-height: 1
    font: 400 16px 'Montserrat', sans-serif
    
.WidgetBox > header > h1 .title
    float: left
    overflow: hidden
    display: block
    lheight: 19px
    
.WidgetBox > header > h1 .hellip
    float: left
    display: none
    lheight: 19px
    
.WidgetBox .content
    padding-top: 15px
    
.WidgetBox footer
    margin: 17px 0 0 -35px
    color: #fff
    font: 400 14px 'Montserrat', sans-serif
    
.WidgetBox footer span
    margin-left: 15px
    
.WidgetBox footer span:first-child(0)
    margin-left: 0
    
.WidgetBox canvas.background
    visibility: hidden
    position: absolute
    top: 0
    left: 0
    
.daterangepicker
    margin-left: -3px !important
    margin-top: 7px !important