.WidgetBox .Controls
    display: block
    position: absolute
    top: 10px
    right: 10px
    z-index: 1
    text-align: right
    font-size: 0

.WidgetBox .Controls .button
    width: 29px
    lheight: 29px
    display: inline-block
    cursor: pointer
    font-size: 12px
    margin-left: 2px
    border-radius: 3px
    font-family: 'Glyphicons Halflings'
    text-align: center
    color: #fff
    font-weight: normal
    
.WidgetBox .Controls .button:hover
    color: rgba(255, 255, 255, 0.75)

.WidgetBox .Controls .button:nth-child(1) span:after
    content: '\e066'
    
.WidgetBox .Controls .button:nth-child(2) span:after
    content: '\e109'
    
.WidgetBox .Controls .button:nth-child(3) span:after
    content: '\e236'
    
.WidgetBox .Controls .button:nth-child(4) span:after
    content: '\e014'