.data-table-container
    margin-left: -20px
    font-size: 12px

.fixedDataTableLayout_main
    border: 0 !important
    color: #fff
    
.public_fixedDataTable_header
    background: rgba(0, 0, 0, 0.0) !important
    font-weight: normal

.public_fixedDataTableRow_main
    background: rgba(0, 0, 0, 0.0) !important
    border-color: rgba(0, 0, 0, 0.0) !important
    
.public_fixedDataTable_header, .public_fixedDataTable_hasBottomBorder
    border: 0 !important
    
.public_fixedDataTableCell_main
    border-color: rgba(0, 0, 0, 0.0) !important
    background: rgba(0, 0, 0, 0.0) !important
    //border-color: rgba(0, 0, 0, 0.1) !important
    border-left: 1px solid rgba(0, 0, 0, 0.1) !important
    
.fixedDataTableCellGroupLayout_cellGroupWrapper:nth-child(1) .public_fixedDataTableCell_main
    border-left: 0 !important

.fixedDataTableRowLayout_rowWrapper:nth-child(even) .public_fixedDataTableCell_main
    background: rgba(255, 255, 255, 0.3) !important
    
.fixedDataTableRowLayout_rowWrapper .public_fixedDataTable_header .public_fixedDataTableCell_main
    background: rgba(0, 0, 0, 0.1) !important
    
.public_fixedDataTableRow_fixedColumnsDivider
    border: 0 !important
    
.player-selection
    padding-bottom: 15px
    
.player-selection label
    color: white
    font-size: 15px
    padding-right: 15px
    position: relative
    top: 3px