.loading {
  width: 31px;
  height: 31px;
  background: url("../img/load.gif") no-repeat;
  display: inline-block;
  margin-top: 9px;
}
.WidgetBox {
  padding: 50px 0 0 21px;
  border-radius: 4px;
  border-top: 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.WidgetBox > header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 49px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.WidgetBox > header,
.date-filter > header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 49px;
}
.WidgetBox .content {
  min-height: 250px;
}
.connectedSortable .WidgetBox > header {
  cursor: move;
}
.connectedSortable .WidgetBox > header:hover {
  background: rgba(0,0,0,0.1);
}
.WidgetBox > header > h1 {
  color: #fff;
  position: absolute;
  left: 15px;
  top: 17px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font: 400 16px 'Montserrat', sans-serif;
}
.WidgetBox > header > h1 .title {
  float: left;
  overflow: hidden;
  display: block;
  height: 19px;
  line-height: 19px;
}
.WidgetBox > header > h1 .hellip {
  float: left;
  display: none;
  height: 19px;
  line-height: 19px;
}
.WidgetBox .content {
  padding-top: 15px;
}
.WidgetBox footer {
  margin: 17px 0 0 -35px;
  color: #fff;
  font: 400 14px 'Montserrat', sans-serif;
}
.WidgetBox footer span {
  margin-left: 15px;
}
.WidgetBox footer span:first-child(0) {
  margin-left: 0;
}
.WidgetBox canvas.background {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.daterangepicker {
  margin-left: -3px !important;
  margin-top: 7px !important;
}
.WidgetBox .Controls {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  text-align: right;
  font-size: 0;
}
.WidgetBox .Controls .button {
  width: 29px;
  height: 29px;
  line-height: 29px;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  margin-left: 2px;
  border-radius: 3px;
  font-family: 'Glyphicons Halflings';
  text-align: center;
  color: #fff;
  font-weight: normal;
}
.WidgetBox .Controls .button:hover {
  color: rgba(255,255,255,0.75);
}
.WidgetBox .Controls .button:nth-child(1) span:after {
  content: '\e066';
}
.WidgetBox .Controls .button:nth-child(2) span:after {
  content: '\e109';
}
.WidgetBox .Controls .button:nth-child(3) span:after {
  content: '\e236';
}
.WidgetBox .Controls .button:nth-child(4) span:after {
  content: '\e014';
}
.WidgetBox {
  background-image: url("../img/drag-drop.png");
  background-position: 5px 10px;
  background-repeat: no-repeat;
}
.flot-chart-container,
.flot-chart {
  box-sizing: border-box;
}
.flot-chart {
  padding: 19px;
}
.flot-chart-container {
  padding-right: 30px;
  margin-left: -20px;
}
.pieLabel {
  font-size: 13px;
  color: #fff;
}
.total {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 179px;
  left: 12px;
  right: 130px;
  margin: auto;
  width: 87px;
}
.total > div {
  width: 100%;
  position: relative;
  top: 0;
  left: -5px;
}
.total small {
  font-size: 10px;
  display: block;
  line-height: 1;
}
.total span {
  font-size: 30px;
  display: block;
  line-height: 1.3;
}
.legend {
  display: inline-block;
  padding: 5px;
  position: absolute;
  top: 70px;
  right: 25px;
  border-radius: 4px;
}
.PieChart .legend {
  top: 85px;
}
.PieChart .flot-chart-container {
  margin-top: 25px;
}
.PieChart .flot-chart {
  height: 241px !important;
}
.legend td {
  padding: 2px;
}
.legend .legendColorBox > div {
  border: 0 !important;
}
.legend .legendColorBox > div > div {
  border-radius: 5px;
}
.legend .legendLabel {
  color: #fff !important;
  font-weight: bold !important;
}
.WidgetBox.PieChart .flot-chart {
  left: 5px;
}
.pie-info {
  color: #fff;
  position: absolute;
  top: 64px;
  font-size: 13px;
  left: 15px;
}
.data-table-container {
  margin-left: -20px;
  font-size: 12px;
}
.fixedDataTableLayout_main {
  border: 0 !important;
  color: #fff;
}
.public_fixedDataTable_header {
  background: rgba(0,0,0,0) !important;
  font-weight: normal;
}
.public_fixedDataTableRow_main {
  background: rgba(0,0,0,0) !important;
  border-color: rgba(0,0,0,0) !important;
}
.public_fixedDataTable_header,
.public_fixedDataTable_hasBottomBorder {
  border: 0 !important;
}
.public_fixedDataTableCell_main {
  border-color: rgba(0,0,0,0) !important;
  background: rgba(0,0,0,0) !important;
  border-left: 1px solid rgba(0,0,0,0.1) !important;
}
.fixedDataTableCellGroupLayout_cellGroupWrapper:nth-child(1) .public_fixedDataTableCell_main {
  border-left: 0 !important;
}
.fixedDataTableRowLayout_rowWrapper:nth-child(even) .public_fixedDataTableCell_main {
  background: rgba(255,255,255,0.3) !important;
}
.fixedDataTableRowLayout_rowWrapper .public_fixedDataTable_header .public_fixedDataTableCell_main {
  background: rgba(0,0,0,0.1) !important;
}
.public_fixedDataTableRow_fixedColumnsDivider {
  border: 0 !important;
}
.player-selection {
  padding-bottom: 15px;
}
.player-selection label {
  color: #fff;
  font-size: 15px;
  padding-right: 15px;
  position: relative;
  top: 3px;
}
