body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
    padding:0;
}

#stat_widget .row {
  overflow: hidden;
  height:82px;
  padding:10px 0;
  border-bottom:1px solid #ebecec; 
  border-left:16px solid white;
  margin: 0;
}

.cell {
  float:left;
}

.order-number {
  font-size:24px;
  font-weight:bold;
  line-height: 62px;
  text-align:right;
  width:30px;
}


.avatar img {
  width:60px;
  height:60px;
  border-radius:50%;
  background-size: cover;
  margin:0 15px 0 10px;
}

.title {
  font-size:16px;
  color:#37424aff;
}

.filter-row {
  border-bottom: 1px solid #EBECEC;
  padding:8px 0 8px 16px;
  height: 50px;
}


#stat_widget .row1{
  border-left:16px solid #F6CF5B;
}

 #stat_widget .row2{
  border-left:16px solid #C5C5C5;
}

#stat_widget .row3{
  border-left:16px solid #BCB28B;
}

.filter-cell {
  font-size: 16px;
}



.filter-point-type a {
  color:black;
  text-decoration: none;
  display:block;
}

.selector {
  padding-left:22px;
  position:relative;
  height:42px;
  cursor: pointer;
  padding-left:20px;
  background: url('../img/arr-down-line.svg') left 16px no-repeat; 
}

.filter-row .selector  {
  max-width: 50%;
 
    float: left;
}

.filter-row .selector.season {
    max-width: 60%;
}
.filter-row .selector.point {
   min-width: 130px;
}

.current_selection {
  display: block;
  height:42px;
  line-height: 42px;
  padding:0 10px;
}

.filter-row .selector.point .current_selection {
max-width: 130px;
    overflow: hidden;
    display: inline-block;
}


.selections {
  display: none;
  position:absolute;
  left:0;
  top:42px;
  background:white;
  padding:0 10px;
  border:1px solid #ebececff;
}

.selections.active {
  display: block;
  width: 200px;
}

.filter-point-type .selections.active {
    width:240px
}

.selections a {
  display: block;
  padding-left: 20px;
  height:42px;
  line-height: 42px;
  border-top:1px solid #ebececff;
}

.selections a:first-child {
  border:0;
}


.points {
  display:none;
  font-size: 24px;
  line-height:62px;
  float:right;
  padding:0 20px 0 0; 
}

.points.active {
  display:block;
}

