{layout 'Layouts/Mail.latte'}
{block content}


<h1>Aktivácia užívateľa</h1>
Ahoj {$name}, <br />
už len jeden krôčik a môžeš začať naplno.<br />
Aktivuj si tvôj účet hneď kliknutím na tlačítko Aktivácia účtu<br />
<br />
<a class="btn btn_green" href="{$root}/{$lang}/register/activation/{$activationGuid}"><img  class="icon" src="/img/mail/check.png" /> Aktivácia účtu</a>
<br />
<p>
    Ak ti nefunguje tlačítko stačí ak skopíruješ nasledovnú linku<br /> do webového prehliadača.<br />
    <br />
    <a  href="{$root}/{$lang}/register/activation/{$activationGuid}">{$root}/{$lang}/register/activation/{$activationGuid}</a>
    <br />
</p>
<p>V prípade ak neaktivuješ svôj účet expiruje ti za 10 dní.</p>

  
{/block}

