{layout 'Layouts/Mail.latte'}
{block content}
    Ďakujeme, že ste sa zaregistrovali!<br /><br />
  
        <p>Ak nepotvrdíte svoju registráciu kliknutím na aktivačný link: <a href="{$root}/{$lang}/register/activation/{$activationGuid}">{$root}/{$lang}/register/activation/{$activationGuid}</a> bude vaše konto zmazané do 24 hodín</p>
    Svoje heslo si môžete &nbsp;zmeniť po prihlásení vo Vašom profile (vpravo hore kliknite na ikonu osoby).<br /><br /><br />
{/block}