{layout 'Layouts/Mail.latte'}
{block content}
 @subject: Verifikácia emailu
 
 
    Ďakujeme, že ste sa zaregistrovali!<br /><br />
    
        <p>Pre zasielanie notifikácie  potvrdte svoj email klikom  na aktivačný link: <a href="{$root}/{$lang}/register/activation-email/{$activationGuid}">{$root}/{$lang}/register/activation-email/{$activationGuid}</a></p>
   
{/block}